<ons-page>
	<ons-toolbar>
		<div class="left">
    		<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
        <div class="center"></div>
	</ons-toolbar>
	<div></div>
</ons-page>