<ons-page>
    <ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
        <div class="center">本書の概要</div>
    </ons-toolbar>
	<div style="background-color:#FFFFFF; text-align: center;">
		<image src="img/info_sample.png" style="width:98%">
	</div>
</ons-page>