<ons-page id="preface_page">
    <ons-toolbar>
    	<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
        <div class="center">序文</div>
    </ons-toolbar>
    <div id="preface"></div>
    <div id="preface-guidline"></div>
    <div style="padding:5px; margin:0px 5px 10px;">
　本書は，日本の代表的なガイドラインのエッセンスを紹介し，診療現場で使いこなすための指南書として2010年に刊行を開始し，以後2年に一度の改訂を行い，前版からは「日常診療に活かす」と目指すところを書名に入れて，質・量ともに大きく改良した。<br>
　『2018-2019年版』では，「日本における各種診療ガイドラインを解説する，随一の代表的な書籍」を目指して，さらなる内容の充実を図った。<br>
　まず今版から，本書の最初に総論「診療ガイドラインに関する基本知識」を掲載することにした。各疾患のガイドラインに基づく診療を行うためには，そもそもガイドラインとは何か，果たす役割を正しく理解することが必要である。そこで，日本医療機能評価機構Minds委員である中山健夫氏に，ガイドラインの診療上の位置づけや適用方法，エビデンスレベルの意味，近年重要性が増している法的観点からみた診療ガイドラインなどについて解説していただいた。各疾患の解説に先立って，総論を読まれることを強くお勧めする。<br>
　また，近年，癌と高齢者に特化したガイドラインの発行が相次いだ状況を受けて，第章「がん・高齢者」を新設し，さらに各章で必要に応じて新項目・ガイドラインを加えた。その結果，本書では，実に176の疾患と225のガイドラインを収載し，執筆者の総数は251名となった。今後も，新たなガイドラインの発行に合わせて，項目を考えてゆく予定である。<br>
　各疾患解説の執筆は，ガイドラインを正しく解説・引用していただくため，できるだけガイドラインの作成メンバーに担当いただき，前版刊行以後の2年間にわが国において発表された情報に基づいて全面的に内容を更新していただいた。各項目の冒頭の「What’s new」と「アルゴリズム」，総説の最後に掲載している「最近の話題」を読むだけで，各診療ガイドラインの全体像と重要ポイント，最新の動向を把握することができ，多忙を極める医療従事者にとって，便利で役立つ構成・内容となっている。<br>
　本書が，多様な疾患の実地臨床に携わる医師，薬剤師などの医療者の方々に活用され，診療ガイドラインを活かした適切な診療の実現に寄与することができれば，監修者として望外の喜びである。<br><br>
2017年12月
        <div style="text-align:right; margin-right:10px;">監修者一同</div>
    </div>
</ons-page>