<div class="pledge">第1条　総則</div>
<div class="pledge-txt">本診療ガイドラインUP-TO-DATEアプリ利用規約（以下「本規約」といいます）は、株式会社メディカルレビュー社及びその関連会社（以下併せて「メディカルレビュー社」といい、同じ条文では「当社」ともいいます）が提供する、Android/iOS端末を通じて医療情報提供サービス及びその他のサービス（以下併せて「本サービス」とも引用します）が利用できるアプリ（将来のアップデート版等も含め、以下「本アプリ」といいます）に共通して、メディカルレビュー社及びお客様との間で適用される約款です。本アプリを使用する前に、本規約をよくお読み頂き、同意頂いた上でご利用ください。なお、お客様が本アプリをダウンロード、インストール又は使用した時点をもって、本規約の全てに無条件で同意したものとなります（お客様は留保や条件などを付けてご利用することは出来ません）。</div>
<br>
<div class="pledge">第2条　目的</div>
<div class="pledge-txt">本サービスは、医療従事者が携帯端末を通じてガイドライン情報を閲覧頂くことを目的としています。本サービスでは、Android/iOS端末上のアプリから当社の提供するサーバ上にアクセスし、コンテンツをダウンロードして利用します。</div>
<br>
<div class="pledge">第3条　本アプリの使用</div>
<div class="pledge-txt">
（1）本規約に基づき、メディカルレビュー社はお客様に、本アプリをデバイスにインストールし使用するための、個人利用を目的とした、限定的、非独占的、譲渡不能、再許諾禁止の永久的かつ無償のライセンスを付与するものとします。お客様は、本サービスに関連してのみ本アプリを使用できます。お客様は、（a）本アプリの一部の要素を切り分け、本アプリを通じて提供される本サービス以外に使用すること、（b）本アプリの一部をお客様個人のプログラムに組み込んだり、お客様個人のプログラムで使用するためにコンパイルすること、（c）他のサービスで使用するために本アプリを譲渡すること、（d）本アプリを販売、賃貸、リース、頒布、公衆送信、翻訳、翻案又は再許諾すること、並びに、本アプリに関する権利の全部又は一部を譲渡することはできません。メディカルレビュー社は、本アプリの保守及びサポートにつき責任を負い、如何なる第三者も本アプリの保守又はサポートを提供する責任を負うものではありません。<br>
（2）お客様は、自己の費用と責任において本アプリをお客様ご自身の携帯端末にダウンロード及びインストールするものとし、本アプリのダウンロード、インストール及び使用に伴う通信料等はお客様の負担になります。なお、メディカルレビュー社が本アプリの対応機種を指定した場合であっても、当該機種における本アプリの正常な動作を保証するものではなく、通信環境の状況等により本アプリが動作しない、又は使用できない場合であっても、当社はサポート等を含む一切の責任を負うものではありません。<br>
（3）メディカルレビュー社は、お客様が本アプリを使用することで、お客様の端末機器、コンピュータ機器などに支障や損害が生じた場合や、それら機器に記録されている情報やプログラムなどが消失したり故障する場合、そのほかお客様に不利益や損失を与える場合（ウィルスの感染を含む）について一切責任を負いません。<br>
（4）メディカルレビュー社は、本アプリの配信に必要な設備等の定期的もしくは緊急的な保守、工事もしくは障害の対策等が必要な場合、事故、天災、不可抗力、電気通信事業者による電気通信役務の提供の中止等、当社の責によらない事由により本アプリの配信が不可能となった場合、又は運用上・技術上やむを得ないと当社が判断した場合、事前にお客様に通知することなく、本アプリの配信の全部又は一部を停止する場合があります。<br>
（5）お客様は、建物内、ビル陰及びネットワーク接続エリア対象外の場所などでは、通信環境の悪化により一時的に本アプリの利用ができなくなる場合があります。
</div>
<br>
<div class="pledge">第4条　リバースエンジニアリング等の禁止</div>
<div class="pledge-txt">お客様は、本アプリの全部又は一部を改変し、又はリバースエンジニアリング、逆コンパイル、逆アセンブル、改ざんすること、或いは、本アプリから変形し、編曲し、翻訳し又は翻案して二次的著作物を制作すること、並びに第三者によるこれらの行為を援助すること又は推奨することはできません。</div>
<br>
<div class="pledge">第5条　アップデート</div>
<div class="pledge-txt">本アプリを最新に維持するため、メディカルレビュー社は、いつでもお客様への通知なく、自動又は手動で本アプリのアップデートを提供します。当社が一定のメンテナンスやサポートの提供をすることを決定した場合でも、当社はいつでもお客様への通知なく当該メンテナンスやサポートの提供を終了することができます。</div>
<br>
<div class="pledge">第6条　著作権</div>
<div class="pledge-txt">
（1）本サービスを構成するシステム、アプリ等の著作権その他一切の知的財産権は、メディカルレビュー社又は当社より使用許諾を得た第三者に帰属します。本規約において明示的に定めがある場合を除き、お客様は、本アプリに関する知的財産権その他如何なる権利を取得するものではありません。<br>
（2）本サービスで配信されるコンテンツの著作権は、当社、又は当社が使用許諾を得た第三者に帰属します。
</div>
<br>
<div class="pledge">第7条　禁止事項</div>
<div class="pledge-txt">
（1）本サービスのご利用は、お客様個人のためのご利用に限ります。<br>
（2）お客様は本規約に関する如何なる権利も第三者に譲渡したり、継承されたり、その他処分することはできません。<br>
（3）本サービスを利用してお客様がダウンロードしたコンテンツは、著作者により保護されています。これらの著作権を侵害することは禁止いたします。<br>
（4）お客様は本アプリを違法な目的で使用することはできません。本アプリに係る知的財産権は、メディカルレビュー社及び当社が使用許諾を得た第三者に帰属します。本アプリのソフトウェア構成、組織及びコードは、当社の重要な営業秘密及び秘密情報です。本アプリは、著作権法や国際協定等の法令により保護されます。本規約において明示的に許諾されている権利を除き、本アプリ及び本サービスに関する一切の権利、権限及び権能はメディカルレビュー社及び当社が使用許諾を得た第三者に帰属し留保されます。お客様は、本アプリをダウンロードした場合でも、如何なる知的財産権又はその他の権利を取得するものではありません。
</div>
<br>
<div class="pledge">第8条　免責事項／責任制限</div>
<div class="pledge-txt">
（1）お客様は、本アプリのインストール、使用及び如何なるアクセス行為も、お客様の責任で行うものであることを明示的に確認し同意します。本アプリは「現状有姿」のまま無保証で提供するものであり、メディカルレビュー社及び当社が使用許諾を得た第三者は、市販性、特定目的との適合性、正確性、平穏享有、第三者の権利を侵害していないことなどの点を含む（ただし必ずしもこれらに限定されない）如何なる明示的又は黙示的な保証を否認します。メディカルレビュー社又は当社の代表者から口頭又は書面により提供される如何なる情報やアドバイスも、当社の保証義務を発生させるものではありません。<br>
（2）メディカルレビュー社及び当社が使用許諾を得た第三者は、明示的又は黙示的な保証義務違反、契約違反、過失もしくは無過失責任、厳格責任等に基づき本アプリに関連して生じる、利益、収入、データ等の損失に伴う損失や本アプリの使用による損失など（ただし必ずしもこれらに限定されない）、一切の付随的、間接的、又は結果的損害については、当社がかかる損害の可能性を通知されていた場合でも、お客様に対して責任を負いません。<br>
（3）本サービスは、ネットワーク通信を利用します。通信費用については当社では関与しません。
</div>
<br>
<div class="pledge">第9条　お客様の責任</div>
<div class="pledge-txt">
（1）お客様が本規約等に違反し、これによりメディカルレビュー社又は第三者に損害が発生した場合、お客様は当該損害の全額（弁護士費用を含みます）を賠償するものとします。<br>
（2）利用者は、本規約等の違反、第三者の権利侵害その他本アプリ及びモバイルサービスの利用に起因もしくは関連して第三者から生じた問合せ、クレーム、請求等については、自らの責任と負担において解決するものとし、メディカルレビュー社に一切迷惑をかけないものとします。
</div>
<br>
<div class="pledge">第10条　個人情報の取扱</div>
<div class="pledge-txt">
（1）本サービスは、個人を特定できる情報を含むものではありません。<br>
ただし、本サービスの品質維持や保守管理や利用状況に関する統計分析のために、個人情報の特定できない情報（OSのバージョン、アクセスログ、認識回数等）をメディカルレビュー社及び本アプリの開発会社が取得することがあります。その場合でも、本目的以外には使用されません。<br>
（2）お客様が本アプリのご利用にあたり、Googleの運営するAndroid向けアプリケーションソフトウェアのダウンロードサイト「Google Play」またはAppleの運営するiPhone/iPad/iPod touch向けアプリケーションソフトウェアのダウンロードサイト「App Store」（以下「各ダウンロードサイト」といいます）において入力した個人情報は、各ダウンロードサイトによって管理されます。当該個人情報に係る疑義又は争いについてはお客様と各ダウンロードサイトの間で解決し、当社に対してなんらの請求又は苦情の申立ても行わないものとし、各ダウンロードサイトが当該個人情報を第三者に開示又は提供したことによりお客様が損害を被ったとしても、当社は一切の賠償の責を負わないものとします。
</div>
<br>
<div class="pledge">第11条　第三者サービスの使用</div>
<div class="pledge-txt">
お客様は、本アプリ又は本サービスの利用にあたり、例えばワイヤレス通信会社等の第三者が提供するサービス（以下総称して「第三者サービス」といいます）の使用を伴う場合があります。お客様は、第三者サービスの使用には、他のポリシー、規約（これらに基づく別途の費用を含む）が適用される場合があることに合意します。第三者サービスには、第三者のコンテンツ、データ、情報、アプリケーション、その他資料（以下「第三者素材等」といいます）が表示され、含まれ又は提供されることや、第三者のウェブサイトへのリンクが張られていることがあります。お客様は第三者サービスを使用したことをもって、メディカルレビュー社が第三者素材等又は第三者のウェブサイトの内容、正確性、完全性、適時性、有効性、著作権性、適法性、良識性、品質性、その他の性状につき審査する責任を負うものではないことに合意したものとみなします。当社は、如何なる第三者サービス、第三者素材等、第三者のウェブサイト、その他第三者の資料、商品又は役務に関し、お客様及び第三者に対して如何なる責任又は義務を保証、承認又は引き受けるものではありません。お客様への第三者素材等及びリンクの提供は、便宜上されるものです。
</div>
<br>
<div class="pledge">第12条　サービスの変更、停止、終了</div>
<div class="pledge-txt">
（1）メディカルレビュー社はいつでも事前通知なく、本サービスの仕様・ご利用条件等を変更・停止・終了できるものとします。<br>
（2）メディカルレビュー社はいつでも事前通知なく、本サービスの公開・運営そのものを停止・終了することができるものとします。この場合、当社はかかる停止・終了による利用者の損害について一切責任を負いません。
</div>
<br>
<div class="pledge">第13条　終了</div>
<div class="pledge-txt">
お客様は、保有する本アプリの全てのコピーをアンインストール又は削除することで、いつでも本規約を終了することができます。お客様が本規約に違反した場合には、メディカルレビュー社からの通知なく、本規約に基づくお客様の権利は自動的に終了します。終了した場合、お客様は本アプリの一切の使用を中断すると共に本アプリの全てのコピーを削除するものとします。当社がお客様に対し本規約のいずれかの条項を遵守するよう要求しないこと、又は本規約に基づくいずれかの権利を行使しないことは、本規約に基づく権利を放棄することにはなりません。
</div>
<br>
<div class="pledge">第14条　変更</div>
<div class="pledge-txt">
メディカルレビュー社は、自己の裁量により本アプリ内に改訂版を掲載することで本規約を変更することができます。お客様は、保有する本アプリの全てのコピーをアンインストール又は削除することで、いつでも本規約を終了することができます。変更の発効日以降に本サービス又は本アプリを使用したことをもって、お客様は変更後の規約に同意したものとみなします。
</div>
<br>
<div class="pledge">第15条　適用</div>
<div class="pledge-txt">
本規約は、本アプリ及び今後メディカルレビュー社が代替又は補完として提供する本アプリのアップデートやアップグレードに適用されます。但し、本アプリのアップデートやアップグレードが別途のライセンス条件と共に提供される場合には、当該ライセンス条件が適用されます。特定の本サービスに関し当社特定の利用条件を提示し、当該特定の利用条件が本規約と矛盾する場合には、本サービスには当該特定の利用条件が優先して適用されます。
</div>
<br>
<div class="pledge">第16条　準拠法</div>
<div class="pledge-txt">
本規約は、日本法に準拠して解釈されるものとします。
<div style="font-size:12px; line-height: 1em;">
※Android、Google、Google Playは、Google Inc.の商標です。<br>
※Apple、Appleロゴ、iPhone、iPad、iPod touchは、米国及び他の国々で登録されたApple Inc.の商標です。iPhoneの商標は、アイホン株式会社のライセンスに基づき使用されています。App Storeは、Apple Inc.のサービスマークです。iOSは、Ciscoの米国及びその他の国の登録商標であり、Apple Inc.がライセンスに基づき使用しています。<br>
</div>
</div><br>
<div style="text-align:right; margin-right:10px;">以上</div>