<ons-page id="legend_page">
	<ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">免責事項</div>
	</ons-toolbar>
	<div id="legend"></div>
	<div id="legend-guidline"></div>
	<div id="legend-txt">
　本書の内容は，正確かつ最新のものを記載するように努力しておりますが，これらの情報は諸般の事由により変更される場合があります。特に治療，薬剤情報に関しましては，実際の診療に従った添付文書外情報も含まれています。したがって，<b>最新の医薬品添付文書などを充分に参考にされ，ご自身の判断のもと細心の注意を払って使用していただきますようお願い申しあげます</b>。
<br><br>
　本書記載の治療法・医薬品の使用法によって生じたいかなる問題についても，監修者・責任編集者・著者・および出版社はその責任を負いかねます。
<br>
<div style="text-align:right; margin: 10px 10px 0px 0px;">監修者一同</div>
<br>
	</div>
</ons-page>