<ons-page id="abbreviation_page">
	<ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">略語一覧</div>
	</ons-toolbar>

	<table class="table_style">
    <thead>
      <tr><th>略語</th><th>原語</th><th>日本語</th></tr>
    </thead>
    <tbody>
      <tr><td>ACE</td><td>angiotensin converting enzyme</td><td>アンジオテンシン変換酵素</td></tr>
      <tr><td>ACTH</td><td>adrenocorticotropic hormone</td><td>副腎皮質刺激ホルモン</td></tr>
      <tr><td>ADL</td><td>activities of daily living</td><td>日常生活動作</td></tr>
      <tr><td>APTT</td><td>activated partial thromboplastin time</td><td>活性化部分トロンボプラスチン時間</td></tr>
      <tr><td>ARB</td><td>angiotensin Ⅱ receptor blocker</td><td>アンジオテンシンⅡ受容体拮抗薬</td></tr>
      <tr><td>ATP</td><td>adenosine triphosphate</td><td>アデノシン三リン酸</td></tr>
      <tr><td>BMI</td><td>body mass index</td><td></td></tr>
      <tr><td>CKD</td><td>chronic kidney disease</td><td>慢性腎臓病</td></tr>
      <tr><td>COPD</td><td>chronic obstructive pulmonary disease</td><td>慢性閉塞性肺疾患</td></tr>
      <tr><td>CQ</td><td>clinical question</td><td>クリニカルクエスチョン</td></tr>
      <tr><td>CRP</td><td>C-reactive protein</td><td>C反応性タンパク質</td></tr>
      <tr><td>DOAC</td><td>direct oral anticoagulant</td><td>直接経口抗凝固薬</td></tr>
      <tr><td>DVT</td><td>deep vein thrombosis</td><td>深部静脈血栓症</td></tr>
      <tr><td>EBM</td><td>evidence-based medicine</td><td>エビデンスに基づく医療</td></tr>
      <tr><td>eGFR</td><td>estimated glomerular filtration rate</td><td>推算糸球体濾過量</td></tr>
      <tr><td>EMA</td><td>European Medicines Agency</td><td>欧州医薬品庁</td></tr>
      <tr><td>FDA</td><td>U.S. Food and Drug Administration</td><td>米国食品医薬品局</td></tr>
      <tr><td>FDG</td><td>fluorodeoxyglucose</td><td>フルオロデオキシグルコース</td></tr>
      <tr><td>FSH</td><td>follicle stimulating hormone</td><td>卵胞刺激ホルモン</td></tr>
      <tr><td>GFR</td><td>glomerular filtration rate</td><td>糸球体濾過量</td></tr>
      <tr><td>GnRH</td><td>gonadotropin-releasing hormone</td><td>性腺刺激ホルモン放出ホルモン</td></tr>
      <tr><td>HBV</td><td>hepatitis B virus</td><td>B型肝炎ウイルス</td></tr>
      <tr><td>hCG</td><td>human chorionic gonadotropin</td><td>ヒト絨毛性ゴナドトロピン</td></tr>
      <tr><td>HCV</td><td>hepatitis C virus</td><td>C型肝炎ウイルス</td></tr>
      <tr><td>HIV</td><td>human immunodeficiency virus</td><td>ヒト免疫不全ウイルス</td></tr>
      <tr><td><i>H. pylori</i></td><td>‌<i>Helicobacter pylori</i></td><td>ヘリコバクター・ピロリ</td></tr>
      <tr><td>ICS</td><td>inhaled corticosteroid</td><td>吸入ステロイド薬</td></tr>
      <tr><td>IL</td><td>interleukin</td><td>インターロイキン</td></tr>
      <tr><td>INR</td><td>international normalized ratio</td><td>国際標準比</td></tr>
      <tr><td>LH</td><td>luteinizing hormone</td><td>黄体形成ホルモン</td></tr>
      <tr><td>LTRA</td><td>leukotriene receptor antagonist</td><td>ロイコトリエン受容体拮抗薬</td></tr>
      <tr><td>MIBG</td><td>metaiodobenzylguanidine</td><td>メタヨードベンジルグアニジン</td></tr>
      <tr><td>MRSA</td><td>methicillin-resistant <i>Staphylococcus aureus</i></td><td>メチシリン耐性黄色ブドウ球菌</td></tr>
      <tr><td>NSAIDs</td><td>‌non-steroidal anti-inflammatory drugs</td><td>非ステロイド性抗炎症薬</td></tr>
      <tr><td>NYHA</td><td>New York Heart Association</td><td></td></tr>
      <tr><td>PCR</td><td>polymerase chain reaction</td><td>ポリメラーゼ連鎖反応</td></tr>
      <tr><td>PDE</td><td>phosphodiesterase</td><td>ホスホジエステラーゼ</td></tr>
      <tr><td>PFS</td><td>progression-free survival</td><td>無増悪生存期間</td></tr>
      <tr><td>PG</td><td>prostaglandin</td><td>プロスタグランジン</td></tr>
      <tr><td>PPI</td><td>proton pump inhibitor</td><td>プロトンポンプ阻害薬</td></tr>
      <tr><td>PS</td><td>performance status</td><td>全身状態</td></tr>
      <tr><td>PT</td><td>prothrombin</td><td>プロトロンビン</td></tr>
      <tr><td>QOL</td><td>quality of life</td><td>生活の質</td></tr>
      <tr><td>RCT</td><td>randomized controlled trial</td><td>無作為化比較試験</td></tr>
      <tr><td>SLE</td><td>systemic lupus erythematosus</td><td>全身性エリテマトーデス</td></tr>
      <tr><td>SNRI</td><td>serotonin noradrenaline reuptake inhibitor</td><td>セロトニン・ノルアドレナリン再取り込み阻害薬</td></tr>
      <tr><td>SpO2</td><td>oxygen saturation as measured using pulse oximetry</td><td>経皮的酸素飽和度</td></tr>
      <tr><td>SSRI</td><td>selective serotonin reuptake inhibitor</td><td>選択的セロトニン再取り込み阻害薬</td></tr>
      <tr><td>TNF</td><td>tumor necrosis factor</td><td>腫瘍壊死因子</td></tr>
      <tr><td>WBC</td><td>white blood cell</td><td>白血球</td></tr>
      <tr><td>WHO</td><td>World Health Organization</td><td>世界保健機関</td></tr>
    <tbody>
	</table>
</ons-page>