<ons-page id="terms_page">
	<ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">利用規約</div>
	</ons-toolbar>
    <div id="terms"></div>
    <div id="terms-guidline"></div>
    <div id="terms-txt"></div>
</ons-page>