<ons-page id="guideline_page">
    <ons-toolbar>
        <div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
        <div class="center">掲載ガイドライン一覧</div>
    </ons-toolbar>

    <div id="guideline"><div>順不同</div></div>
    <div id="guideline-guidline"></div>
    <div id="guideline-list">
      <div>成人の新型インフルエンザ治療ガイドライン（2014）</div>
      <div>日本感染症学会提言「抗インフルエンザ薬の使用適応について（改訂版）」（2011）</div>
      <div>新型インフルエンザ診療ガイドライン（第1版）（2009）</div>
      <div>日本版敗血症診療ガイドライン2016</div>
      <div>発熱性好中球減少症（FN）診療ガイドライン改訂第2版（2017）</div>
      <div>性感染症 診断・治療 ガイドライン 2016</div>
      <div>JAID/JSC感染症治療ガイドライン2015―尿路感染症・男性性器感染症―（2016）</div>
      <div>抗HIV治療ガイドライン2017年3月発行</div>
      <div>HIV感染症「治療の手引き」第20版（2016）</div>
      <div>HIV薬剤耐性検査ガイドラインVER.10（2017）</div>
      <div>深在性真菌症の診断・治療ガイドライン2014小児領域改訂版（2016）</div>
      <div>急性胆管炎・胆囊炎診療ガイドライン2013</div>
      <div>JAID/JSC感染症治療ガイドライン2015―腸管感染症―（2016）</div>
      <div>MRSA感染症の治療ガイドライン改訂版2017</div>
      <div>咳嗽に関するガイドライン第2版（2012）</div>
      <div>成人肺炎診療ガイドライン2017</div>
      <div>喘息予防・管理ガイドライン2015</div>
      <div>COPD（慢性閉塞性肺疾患）診断と治療のためのガイドライン第4版（2013）</div>
      <div>喘息とCOPDのオーバーラップ（Asthma and COPD Overlap：ACO）診断と治療の手引き2018（2017）</div>
      <div>禁煙治療のための標準手順書 第6版（2014）</div>
      <div>禁煙ガイドライン（2010年改訂版）（2011）</div>
      <div>結核診療ガイドライン改訂第3版（2015）</div>
      <div>非結核性抗酸菌症診療マニュアル（2015）</div>
      <div>EBMの手法による肺癌診療ガイドライン2016年版</div>
      <div>特発性間質性肺炎診断と治療の手引き改訂第3版（2016）</div>
      <div>薬剤性肺障害の診断・治療の手引き（2012）</div>
      <div>成人の睡眠時無呼吸症候群診断と治療のためのガイドライン（2005）</div>
      <div>循環器領域における睡眠呼吸障害の診断・治療に関するガイドライン（2010）</div>
      <div>NPPV（非侵襲的陽圧換気療法）ガイドライン（改訂第2版）（2015）</div>
      <div>ARDS診療ガイドライン2016</div>
      <div>失神の診断・治療ガイドライン（2012年改訂版）</div>
      <div>高血圧治療ガイドライン2014</div>
      <div>冠攣縮性狭心症の診断と治療に関するガイドライン（2013年改訂版）</div>
      <div>安定冠動脈疾患における待機的PCI のガイドライン（2011年改訂版）</div>
      <div>ST上昇型急性心筋梗塞の診療に関するガイドライン（2013年改訂版）</div>
      <div>非ST上昇型急性冠症候群の診療に関するガイドライン（2012年改訂版）</div>
      <div>急性心不全治療ガイドライン（2011年改訂版）</div>
      <div>慢性心不全治療ガイドライン（2010年改訂版）</div>
      <div>肥大型心筋症の診療に関するガイドライン（2012年改訂版）</div>
      <div>弁膜疾患の非薬物治療に関するガイドライン（2012年改訂版）</div>
      <div>感染性心内膜炎の予防と治療に関するガイドライン（2008年改訂版）</div>
      <div>成人先天性心疾患診療ガイドライン（2011年改訂版）</div>
      <div>2014年版先天性心疾患，心臓大血管の構造的疾患（structural heart disease）に対するカテーテル治療のガイドライン（2015）</div>
      <div>心疾患患者の妊娠・出産の適応，管理に関するガイドライン（2010年改訂版）</div>
      <div>心房細動治療（薬物）ガイドライン（2013年改訂版）</div>
      <div>不整脈薬物治療に関するガイドライン（2009年改訂版）</div>
      <div>不整脈の非薬物治療ガイドライン（2011年改訂版）</div>
      <div>ペースメーカ，ICD，CRTを受けた患者の社会復帰・就学・就労に関するガイドライン（2013年改訂版）</div>
      <div>肺高血圧症治療ガイドライン（2012年改訂版）</div>
      <div>2014年版慢性肺動脈血栓塞栓症に対するballoon pulmonary angioplasty の適応と実施法に関するステートメント（2015）</div>
      <div>肺血栓塞栓症および深部静脈血栓症の診断，治療， 予防に関するガイドライン（2009年改訂版）</div>
      <div>大動脈瘤・大動脈解離診療ガイドライン（2011年改訂版）</div>
      <div>末梢閉塞性動脈疾患の治療ガイドライン（2015年改訂版）</div>
      <div>急性腹症診療ガイドライン2015</div>
      <div>胃食道逆流症（GERD）診療ガイドライン2015（改訂第2版）</div>
      <div>食道癌診療ガイドライン2017年版</div>
      <div>ヘリコバクター・ピロリ感染胃炎の診断と治療（2013）</div>
      <div>H. pylori 感染の診断と治療のガイドライン2016改訂版</div>
      <div>機能性消化管疾患診療ガイドライン2014─機能性ディスペプシア（FD）</div>
      <div>消化性潰瘍診療ガイドライン2015 改訂第2版</div>
      <div>消化性潰瘍診療ガイドライン2015 改訂第2版（追補版）（2016，2017）</div>
      <div>胃癌治療ガイドライン医師用2014年5月改訂第4版</div>
      <div>慢性便秘症診療ガイドライン2017</div>
      <div>機能性消化管疾患診療ガイドライン2014─過敏性腸症候群（IBS）</div>
      <div>潰瘍性大腸炎・クローン病 診断基準・治療指針 平成28年度改訂版（2017）</div>
      <div>エビデンスとコンセンサスを統合した潰瘍性大腸炎の診療ガイドライン（2006）</div>
      <div>炎症性腸疾患（IBD）診療ガイドライン2016大腸癌治療ガイドライン医師用2016年版</div>
      <div>遺伝性大腸癌診療ガイドライン2016年版</div>
      <div>肛門疾患（痔核・痔瘻・裂肛）診療ガイドライン2014年版</div>
      <div>抗血栓薬服用者に対する消化器内視鏡診療ガイドライン（2012）</div>
      <div>抗血栓薬服用者に対する消化器内視鏡診療ガイドライン 直接経口抗凝固薬（DOAC）を含めた抗凝固薬に関する追補2017</div>
      <div>B型肝炎治療ガイドライン（第3版）（2017）</div>
      <div>慢性肝炎・肝硬変の診療ガイド2016</div>
      <div>C型肝炎治療ガイドライン（第5.4版）（2017年4月）</div>
      <div>肝硬変診療ガイドライン2015（改訂第2版）</div>
      <div>劇症肝炎の診療ガイド（2010）</div>
      <div>NAFLD/NASH 診療ガイドライン2014</div>
      <div>自己免疫性肝炎（AIH）診療ガイドライン（2016年）（2017）</div>
      <div>原発性胆汁性胆管炎（PBC）診療ガイドライン（2017年）</div>
      <div>肝癌診療ガイドライン2017年版</div>
      <div>胆石症診療ガイドライン2016（改訂第2版）</div>
      <div>急性胆管炎・胆囊炎診療ガイドライン2013（第2版）</div>
      <div>肝内結石症の診療ガイド（2011）</div>
      <div>急性膵炎診療ガイドライン2015（第4版）</div>
      <div>慢性膵炎診療ガイドライン2015（改訂第2版）</div>
      <div>膵癌診療ガイドライン2016年版</div>
      <div>糖尿病治療ガイド2016-2017（2016）</div>
      <div>糖尿病診療ガイドライン2016</div>
      <div>高齢者糖尿病診療ガイドライン2017</div>
      <div>動脈硬化性疾患予防ガイドライン2017年版</div>
      <div>動脈硬化性疾患予防のための脂質異常症治療ガイド2013年版</div>
      <div>肥満症治療ガイドライン2006</div>
      <div>肥満症診断基準2011</div>
      <div>肥満症の総合的治療ガイド（2013）</div>
      <div>肥満症診療ガイドライン2016</div>
      <div>高尿酸血症・痛風の治療ガイドライン第2版（2010）</div>
      <div>高尿酸血症・痛風の治療ガイドライン第2版［2012年追補版］</div>
      <div>甲状腺疾患診断ガイドライン2013</div>
      <div>バセドウ病治療ガイドライン2011</div>
      <div>副腎腫瘍取扱い規約（2015年3月第3版）</div>
      <div>副腎性サブクリニカルクッシング症候群 新診断基準（2017）</div>
      <div>わが国の原発性アルドステロン症の診療に関するコンセンサス・ステートメント（2016）</div>
      <div>骨粗鬆症の予防と治療ガイドライン2015年版</div>
      <div>科学的根拠に基づく乳癌診療ガイドライン①治療編 2015年版</div>
      <div>科学的根拠に基づく乳癌診療ガイドライン②疫学・診断編 2015年版</div>
      <div>鉄剤の適正使用による貧血治療指針 改訂［第3版］（2015）</div>
      <div>2015年版 慢性腎臓病患者における腎性貧血治療のガイドライン（2016）</div>
      <div>再生不良性貧血診療の参照ガイド2016年改訂（2017）</div>
      <div>造血器腫瘍診療ガイドライン2013年版</div>
      <div>造血器腫瘍診療ガイドライン2013年版WEB版（第1.1版）（2014）</div>
      <div>造血器腫瘍診療ガイドライン2013年版WEB版（第1.2版）（2015）</div>
      <div>骨髄異形成症候群診療の参照ガイド平成28年度改訂版（2017）</div>
      <div>多発性骨髄腫の診療指針 第4版（2016）</div>
      <div>成人特発性血小板減少性紫斑病治療の参照ガイド2012年版</div>
      <div>日本血栓止血学会DIC診断基準2017年版</div>
      <div>科学的根拠に基づいた感染症に伴うDIC治療のエキスパートコンセンサスの追補（2014）</div>
      <div>インヒビターのない血友病患者に対する止血治療ガイドライン2013年改訂版/2015年補遺版</div>
      <div>インヒビター保有先天性血友病患者に対する止血治療ガイドライン2013年改訂版/2015年補遺版</div>
      <div>後天性血友病A診療ガイドライン（2011）</div>
      <div>溶血性尿毒症症候群の診断・治療ガイドライン（2014）</div>
      <div>非典型溶血性尿毒症症候群（aHUS）診療ガイド2015（2016）</div>
      <div>血栓性血小板減少性紫斑病（TTP）診療ガイド2017</div>
      <div>慢性頭痛の診療ガイドライン2013</div>
      <div>一般医療機関における睡眠障害スクリーニングガイドライン（2008）</div>
      <div>睡眠薬の適正な使用と休薬のための診療ガイドライン─出口を見据えた不眠医療マニュアル─（2013）</div>
      <div>日本うつ病学会治療ガイドライン Ⅰ．双極性障害 2012</div>
      <div>日本うつ病学会治療ガイドライン Ⅱ．うつ病（DSM-5） / 大うつ病性障害 2016</div>
      <div>統合失調症薬物治療ガイドライン（2015）</div>
      <div>てんかん治療ガイドライン2010</div>
      <div>てんかん治療ガイドライン2010追補版（2014年度）</div>
      <div>パーキンソン病治療ガイドライン2011</div>
      <div>認知症疾患診療ガイドライン2017</div>
      <div>脳卒中治療ガイドライン2015／［追補2017］</div>
      <div>多発性硬化症・視神経脊髄炎診療ガイドライン2017</div>
      <div>単純ヘルペス脳炎診療ガイドライン2017</div>
      <div>腰椎椎間板ヘルニア診療ガイドライン改訂第2版（2011）</div>
      <div>腰痛診療ガイドライン2012</div>
      <div>腰部脊柱管狭窄症診療ガイドライン2011</div>
      <div>頚椎後縦靱帯骨化症診療ガイドライン2011</div>
      <div>頚椎症性脊髄症診療ガイドライン2015（改訂第2版）</div>
      <div>変形性膝関節症の管理に関するOARSI勧告　OARSIによるエビデンスに基づくエキスパートコンセンサスガイドライン（日本整形外科学会変形性膝関節症診療ガイドライン策定委員会による適合化終了版）第2版（2015）</div>
      <div>変形性股関節症診療ガイドライン2016（改訂第2版）</div>
      <div>大腿骨頚部/転子部骨折診療ガイドライン改訂第2版（2011）</div>
      <div>前十字靱帯（ACL）損傷診療ガイドライン2012（改訂第2版）</div>
      <div>アキレス腱断裂診療ガイドライン（2007）</div>
      <div>上腕骨外側上顆炎診療ガイドライン（2006）</div>
      <div>軟部腫瘍診療ガイドライン2012</div>
      <div>関節リウマチ診療ガイドライン JCR2014に基づく一般医向け診療ガイドライン（2017）</div>
      <div>関節リウマチ診療ガイドライン2014</div>
      <div>サルコイドーシスの診断基準と診断の手引き─2015</div>
      <div>2016年版 心臓サルコイドーシスの診療ガイドライン</div>
      <div>多発性筋炎・皮膚筋炎治療ガイドライン（2015）</div>
      <div>全身性強皮症 診断基準・重症度分類・診療ガイドライン（2016）</div>
      <div>シェーグレン症候群診療ガイドライン2017年版</div>
      <div>ANCA関連血管炎診療ガイドライン2017</div>
      <div>IgG4関連疾患包括診断基準2011（2012）</div>
      <div>アトピー性皮膚炎診療ガイドライン2016年版</div>
      <div>蕁麻疹診療ガイドライン（2011）</div>
      <div>皮膚真菌症診断・治療ガイドライン（2009）</div>
      <div>接触皮膚炎診療ガイドライン（2009）</div>
      <div>汎発性皮膚瘙痒症診療ガイドライン（2012）</div>
      <div>創傷・褥瘡・熱傷ガイドライン―6：熱傷診療ガイドライン（2017）</div>
      <div>熱傷診療ガイドライン〔改訂第2版〕（2015）</div>
      <div>重症多形滲出性紅斑 スティーヴンス・ジョンソン症候群・中毒性表皮壊死症診療ガイドライン（2016）</div>
      <div>褥瘡予防・管理ガイドライン（第4版）（2015）</div>
      <div>創傷・褥瘡・熱傷ガイドライン―5：下腿潰瘍・下肢静脈瘤診療ガイドライン（2017）</div>
      <div>JAID/JSC感染症治療ガイド2014</div>
      <div>尋常性痤瘡治療ガイドライン 2017</div>
      <div>円形脱毛症診療ガイドライン2010</div>
      <div>男性型脱毛症診療ガイドライン（2010年版）</div>
      <div>疥癬診療ガイドライン（第3版）（2015）</div>
      <div>アレルギー性結膜疾患診療ガイドライン（第2版）（2010）</div>
      <div>日本のドライアイの定義と診断基準の改訂（2016年版）（2017）</div>
      <div>感染性角膜炎診療ガイドライン（第2版）（2013）</div>
      <div>白内障診療ガイドライン（2002）</div>
      <div>緑内障診療ガイドライン（第3版）（2012）</div>
      <div>加齢黄斑変性の治療指針（2012）</div>
      <div>萎縮型加齢黄斑変性の診断基準（2015）</div>
      <div>遺伝性難聴の診療の手引き 2016年版</div>
      <div>小児急性中耳炎診療ガイドライン2013年版</div>
      <div>小児滲出性中耳炎診療ガイドライン2015年版</div>
      <div>鼻アレルギー診療ガイドライン─通年性鼻炎と花粉症─2016年版（改訂第8版）</div>
      <div>副鼻腔炎診療の手引き（2007）</div>
      <div>急性鼻副鼻腔炎診療ガイドライン2010年版</div>
      <div>急性鼻副鼻腔炎診療ガイドライン2010年版（追補版）（2013）</div>
      <div>急性鼻副鼻腔炎に対するネブライザー療法の手引き2016年版</div>
      <div>メニエール病診療ガイドライン2011年版</div>
      <div>メニエール病難治例の診療指針（2014）</div>
      <div>良性発作性頭位めまい症診療ガイドライン（医師用）（2009）</div>
      <div>嚥下障害診療ガイドライン  耳鼻咽喉科外来における対応  2012年版</div>
      <div>顔面神経麻痺診療の手引─Bell麻痺とHunt症候群─（2011）</div>
      <div>CKD診療ガイド2012</div>
      <div>エビデンスに基づくCKD診療ガイドライン2013</div>
      <div>膀胱癌診療ガイドライン2015年版</div>
      <div>男性下部尿路症状・前立腺肥大症診療ガイドライン（2017）</div>
      <div>前立腺癌診療ガイドライン2016年版</div>
      <div>女性下部尿路症状診療ガイドライン（2013）</div>
      <div>過活動膀胱診療ガイドライン［第2版］（2015）</div>
      <div>尿路結石症診療ガイドライン第2版（2013）</div>
      <div>ED診療ガイドライン2012年版</div>
      <div>血尿診断ガイドライン2013</div>
      <div>産婦人科診療ガイドライン─婦人科外来編2017</div>
      <div>子宮頸癌治療ガイドライン2017年版</div>
      <div>子宮体がん治療ガイドライン2013年版</div>
      <div>卵巣がん治療ガイドライン2015年版</div>
      <div>ホルモン補充療法ガイドライン2017年度版</div>
      <div>小児呼吸器感染症診療ガイドライン2017（2016）</div>
      <div>川崎病急性期治療のガイドライン（平成24年改訂版）（2012）</div>
      <div>食物アレルギー診療ガイドライン2016</div>
      <div>食物アレルギーの診療の手引き2014</div>
      <div>小児気管支喘息治療・管理ガイドライン2017</div>
      <div>熱性けいれん診療ガイドライン2015</div>
      <div>小児急性脳症診療ガイドライン2016</div>
      <div>小児特発性ネフローゼ症候群診療ガイドライン2013</div>
      <div>小児慢性機能性便秘症診療ガイドライン（2013）</div>
      <div>エビデンスに基づいた小児腸重積症の診療ガイドライン（2012）</div>
      <div>子ども虐待診療の手引き（第2版）（2014）</div>
      <div>がん免疫療法ガイドライン（2016）</div>
      <div>がん疼痛の薬物療法に関するガイドライン2014年版</div>
      <div>がん薬物療法時の腎障害診療ガイドライン2016</div>
      <div>制吐薬適正使用ガイドライン2015年10月【第2版】</div>
      <div>がん患者に対するアピアランスケアの手引き 2016年版</div>
      <div>高齢者の安全な薬物療法ガイドライン2015</div>
      <div>高齢者高血圧診療ガイドライン2017</div>
  	</div>
</ons-page>
    