<ons-page id="author_page">
	<ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">著者一覧</div>
	</ons-toolbar>

	<div id="author"><div>敬称略・掲載順</div></div>
	<div id="author-guidline"></div>
	<div class="author-title">監　修</div>
	<table>
		<tr><td>門脇　　孝</td><td>	東京大学大学院医学系研究科糖尿病・代謝内科教授</td></tr>
    <tr><td>小室　一成</td><td>	東京大学大学院医学系研究科循環器内科学教授</td></tr>
    <tr><td>宮地　良樹</td><td>	滋賀県立成人病センター病院長／京都大学名誉教授</td></tr>
	</table>
	<div class="author-title">責任編集</div>
	<table>
    <tr><td>三鴨　廣繁</td><td>愛知医科大学大学院医学研究科臨床感染症学主任教授</td></tr>
    tr><td>一ノ瀬正和</td><td>東北大学大学院医学系研究科呼吸器内科学教授</td></tr>
    <tr><td>樋口　和秀</td><td>大阪医科大学内科学Ⅱ教室教授</td></tr>
    <tr><td>持田　　智</td><td>埼玉医科大学消化器内科・肝臓内科教授</td></tr>
    <tr><td>小松　則夫</td><td>順天堂大学医学部内科学血液学講座主任教授</td></tr>
    <tr><td>亀井　　聡</td><td>日本大学医学部内科学系神経内科学分野主任教授</td></tr>
    <tr><td>山崎　正志</td><td>筑波大学医学医療系整形外科教授</td></tr>
    <tr><td>三森　経世</td><td>京都大学大学院医学研究科臨床免疫学教授</td></tr>
    <tr><td>山本　哲也</td><td>岐阜大学大学院医学系研究科眼科学教授</td></tr>
    <tr><td>岡本　美孝</td><td>千葉大学大学院医学研究院耳鼻咽喉科・頭頸部腫瘍学教授</td></tr>
    <tr><td>大家　基嗣</td><td>慶應義塾大学医学部泌尿器科学教室教授</td></tr>
    <tr><td>木村　　正</td><td>大阪大学大学院医学系研究科産科学婦人科学教室教授</td></tr>
    <tr><td>岡　　　明</td><td>東京大学大学院医学系研究科小児医学教授</td></tr>
	</table>
	<div class="author-title">執筆者一覧</div>
	<table id="author-list">
    <tr><td>中山　健夫</td><td>京都大学大学院医学研究科社会健康医学系専攻健康情報学分野教授</td></tr>
    <tr><td>山﨑　行敬</td><td>聖マリアンナ医科大学感染症学講座助教</td></tr>
    <tr><td>國島　広之</td><td>聖マリアンナ医科大学感染症学講座教授</td></tr>
    <tr><td>松岡　　義</td><td>済生会宇都宮病院外科</td></tr>
    <tr><td>佐々木淳一</td><td>慶應義塾大学医学部救急医学教室教授</td></tr>
    <tr><td>髙松　　泰</td><td>福岡大学医学部腫瘍・血液・感染症内科学教授</td></tr>
    <tr><td>髙橋　　聡</td><td>札幌医科大学医学部感染制御・臨床検査医学講座教授</td></tr>
    <tr><td>山本　新吾</td><td>兵庫医科大学泌尿器科主任教授</td></tr>
    <tr><td>藤井　　毅</td><td>東京医科大学八王子医療センター感染症科教授</td></tr>
    <tr><td>田代　将人</td><td>長崎大学大学院医歯薬学総合研究科臨床感染症学分野助教</td></tr>
    <tr><td>泉川　公一</td><td>長崎大学大学院医歯薬学総合研究科臨床感染症学分野教授</td></tr>
    <tr><td>大毛　宏喜</td><td>広島大学病院感染症科教授</td></tr>
    <tr><td>末田泰二郎</td><td>広島大学大学院医歯薬保健学研究科外科学（第一外科）教授</td></tr>
    <tr><td>渡邉　珠代</td><td>石川県立中央病院免疫感染症科科長</td></tr>
    <tr><td>山岸　由佳</td><td>愛知医科大学大学院医学研究科臨床感染症学教授（特任）</td></tr>
    <tr><td>三鴨　廣繁</td><td>愛知医科大学大学院医学研究科臨床感染症学主任教授</td></tr>
    <tr><td>尾長谷　靖</td><td>長崎大学大学院医歯薬学総合研究科呼吸器内科学分野（第二内科）准教授</td></tr>
    <tr><td>迎　　　寛</td><td>長崎大学大学院医歯薬学総合研究科呼吸器内科学分野（第二内科）教授</td></tr>
    <tr><td>小宮　幸作</td><td>大分大学医学部呼吸器・感染症内科学講座結核診療体制強化事業准教授</td></tr>
    <tr><td>門田　淳一</td><td>大分大学医学部呼吸器・感染症内科学講座教授</td></tr>
    <tr><td>武山　　廉</td><td>東京女子医科大学内科学第一講座臨床教授</td></tr>
    <tr><td>玉置　　淳</td><td>東京女子医科大学内科学第一講座主任教授</td></tr>
    <tr><td>黒澤　　一</td><td>東北大学大学院医学系研究科内科病態学講座産業医学分野教授</td></tr>
    <tr><td>引地　麻梨</td><td>日本大学医学部内科学系呼吸器内科学分野</td></tr>
    <tr><td>橋本　　修</td><td>日本大学医学部内科学系呼吸器内科学分野主任教授</td></tr>
    <tr><td>権　　寧博</td><td>日本大学医学部内科学系呼吸器内科学分野准教授</td></tr>
    <tr><td>吉井　千春</td><td>産業医科大学若松病院呼吸器内科診療教授</td></tr>
    <tr><td>茂呂　　寛</td><td>新潟大学医歯学総合病院感染管理部准教授</td></tr>
    <tr><td>菊地　利明</td><td>新潟大学大学院医歯学総合研究科呼吸器・感染症内科学分野教授</td></tr>
    <tr><td>古川　里恵</td><td>九州大学病院呼吸器科</td></tr>
    <tr><td>米嶋　康臣</td><td>九州大学病院呼吸器科助教</td></tr>
    <tr><td>岡本　　勇</td><td>九州大学病院呼吸器科診療准教授</td></tr>
    <tr><td>中西　洋一</td><td>九州大学病院呼吸器科教授</td></tr>
    <tr><td>渥美健一郎</td><td>日本医科大学大学院医学研究科呼吸器内科学助教</td></tr>
    <tr><td>吾妻安良太</td><td>日本医科大学武蔵小杉病院呼吸器内科教授</td></tr>
    <tr><td>陳　　和夫</td><td>京都大学大学院医学研究科呼吸管理睡眠制御学講座特定教授</td></tr>
    <tr><td>石井　芳樹</td><td>獨協医科大学呼吸器・アレルギー内科主任教授</td></tr>
    <tr><td>髙橋　尚彦</td><td>大分大学医学部循環器内科・臨床検査診断学講座教授</td></tr>
    <tr><td>赤﨑　雄一</td><td>鹿児島大学大学院医歯学総合研究科心臓血管・高血圧内科学助教</td></tr>
    <tr><td>大石　　充</td><td>鹿児島大学大学院医歯学総合研究科心臓血管・高血圧内科学教授</td></tr>
    <tr><td>坂本　憲治</td><td>熊本大学大学院生命科学研究部循環器内科学助教</td></tr>
    <tr><td>辻田　賢一</td><td>熊本大学大学院生命科学研究部循環器内科学教授</td></tr>
    <tr><td>伊苅　裕二</td><td>東海大学医学部内科学系循環器内科学教授</td></tr>
    <tr><td>世良　英子</td><td>大阪大学大学院医学系研究科循環器内科学寄附講座助教</td></tr>
    <tr><td>坂田　泰史</td><td>大阪大学大学院医学系研究科循環器内科学教授</td></tr>
    <tr><td>尾上　健児</td><td>奈良県立医科大学循環器・腎臓・代謝内科（第1内科）助教</td></tr>
    <tr><td>斎藤　能彦</td><td>奈良県立医科大学循環器・腎臓・代謝内科（第1内科）教授</td></tr>
    <tr><td>神谷　裕子</td><td>松江赤十字病院第一循環器内科</td></tr>
    <tr><td>山本　一博</td><td>鳥取大学医学部病態情報内科学分野（第一内科）教授</td></tr>
    <tr><td>大門　雅夫</td><td>東京大学医学部附属病院検査部講師</td></tr>
    <tr><td>赤木　禎治</td><td>岡山大学大学院医歯薬学総合研究科循環器内科学准教授</td></tr>
    <tr><td>相馬　　桂</td><td>東京大学大学院医学系研究科循環器内科学</td></tr>
    <tr><td>山下　武志</td><td>心臓血管研究所所長</td></tr>
    <tr><td>河野　律子</td><td>産業医科大学医学部不整脈先端治療学講師</td></tr>
    <tr><td>安部　治彦</td><td>産業医科大学医学部不整脈先端治療学教授</td></tr>
    <tr><td>赤木　　達</td><td>岡山大学大学院医歯薬学総合研究科循環器内科学助教</td></tr>
    <tr><td>伊藤　　浩</td><td>岡山大学大学院医歯薬学総合研究科循環器内科学教授</td></tr>
    <tr><td>山田　典一</td><td>桑名東医療センター副病院長</td></tr>
    <tr><td>伊藤　正明</td><td>三重大学大学院医学系研究科循環器・腎臓内科学教授</td></tr>
    <tr><td>宮田　哲郎</td><td>山王病院・山王メディカルセンター血管病センター長／国際医療福祉大学医学部教授</td></tr>
    <tr><td>横井　宏佳</td><td>福岡山王病院循環器センター長</td></tr>
    <tr><td>小豆畑丈夫</td><td>青燈会小豆畑病院院長／日本大学医学部救急医学系救急集中治療医学分野診療准教授</td></tr>
    <tr><td>藤原　靖弘</td><td>大阪市立大学大学院医学研究科消化器内科学教授</td></tr>
    <tr><td>宮崎　達也</td><td>群馬大学大学院医学系研究科総合外科学講座講師</td></tr>
    <tr><td>坊岡　英祐</td><td>慶應義塾大学医学部外科学教室助教</td></tr>
    <tr><td>北川　雄光</td><td>慶應義塾大学医学部外科学教室教授</td></tr>
    <tr><td>桑野　博行</td><td>群馬大学大学院医学系研究科総合外科学講座主任教授</td></tr>
    <tr><td>小川　　竜</td><td>大分大学医学部消化器内科学講座助教</td></tr>
    <tr><td>村上　和成</td><td>大分大学医学部消化器内科学講座教授</td></tr>
    <tr><td>富永　和作</td><td>大阪医科大学先端医療開発学講座特任教授</td></tr>
    <tr><td>溝上　裕士</td><td>筑波大学附属病院光学医療診療部病院教授</td></tr>
    <tr><td>鈴木　英雄</td><td>筑波大学附属病院光学医療診療部准教授</td></tr>
    <tr><td>奈良坂俊明</td><td>筑波大学附属病院光学医療診療部講師</td></tr>
    <tr><td>金子　　剛</td><td>筑波大学医学医療系消化器内科講師</td></tr>
    <tr><td>草野　　央</td><td>日本大学医学部消化器肝臓内科助教</td></tr>
    <tr><td>後藤田卓志</td><td>日本大学医学部消化器肝臓内科教授</td></tr>
    <tr><td>中島　　淳</td><td>横浜市立大学大学院医学研究科肝胆膵消化器病学教室主任教授</td></tr>
    <tr><td>福土　　審</td><td>東北大学大学院医学系研究科行動医学教授</td></tr>
    <tr><td>鳥谷　洋右</td><td>岩手医科大学医学部内科学講座消化器内科消化管分野助教</td></tr>
    <tr><td>松本　主之</td><td>岩手医科大学医学部内科学講座消化器内科消化管分野教授</td></tr>
    <tr><td>牟田口　真</td><td>慶應義塾大学医学部内科学（消化器）</td></tr>
    <tr><td>長沼　　誠</td><td>慶應義塾大学医学部内科学（消化器）准教授</td></tr>
    <tr><td>金井　隆典</td><td>慶應義塾大学医学部内科学（消化器）教授</td></tr>
    <tr><td>石田　秀行</td><td>埼玉医科大学総合医療センター消化管・一般外科教授</td></tr>
    <tr><td>佐原力三郎</td><td>JCHO東京山手メディカルセンター副院長／大腸肛門病センター長</td></tr>
    <tr><td>竹内　利寿</td><td>大阪医科大学附属病院消化器内視鏡センター准教授</td></tr>
    <tr><td>樋口　和秀</td><td>大阪医科大学内科学Ⅱ教室教授</td></tr>
    <tr><td>鈴木　文孝</td><td>虎の門病院肝臓内科部長</td></tr>
    <tr><td>森川　賢一</td><td>北海道大学病院消化器内科助教</td></tr>
    <tr><td>坂本　直哉</td><td>北海道大学大学院医学研究院内科学講座消化器内科学教室教授</td></tr>
    <tr><td>高村　昌昭</td><td>新潟大学医歯学総合病院消化器内科講師</td></tr>
    <tr><td>寺井　崇二</td><td>新潟大学大学院医歯学総合研究科消化器内科学分野教授</td></tr>
    <tr><td>中山　伸朗</td><td>埼玉医科大学消化器内科・肝臓内科准教授</td></tr>
    <tr><td>持田　　智</td><td>埼玉医科大学消化器内科・肝臓内科教授</td></tr>
    <tr><td>児玉　和久</td><td>東京女子医科大学医学部消化器内科学助教</td></tr>
    <tr><td>徳重　克年</td><td>東京女子医科大学医学部消化器内科学教授・講座主任</td></tr>
    <tr><td>大平　弘正</td><td>福島県立医科大学医学部消化器内科主任教授</td></tr>
    <tr><td>田中　　篤</td><td>帝京大学医学部内科学講座教授</td></tr>
    <tr><td>建石　良介</td><td>東京大学大学院医学系研究科がんプロフェッショナル養成プラン・消化器内科学特任講師</td></tr>
    <tr><td>清水　　敦</td><td>自治医科大学消化器一般外科准教授</td></tr>
    <tr><td>佐田　尚宏</td><td>自治医科大学消化器一般外科教授</td></tr>
    <tr><td>竹山　宜典</td><td>近畿大学医学部外科学教室主任教授</td></tr>
    <tr><td>伊藤　鉄英</td><td>福岡山王病院肝胆膵内科・神経内分泌腫瘍センター長</td></tr>
    <tr><td>古瀬　純司</td><td>杏林大学医学部腫瘍内科学教室教授</td></tr>
    <tr><td>高本　偉碩</td><td>東京大学医学部附属病院糖尿病・代謝内科特任講師（病院）</td></tr>
    <tr><td>門脇　　孝</td><td>東京大学大学院医学系研究科糖尿病・代謝内科教授</td></tr>
    <tr><td>木下　　誠</td><td>帝京大学客員教授</td></tr>
    <tr><td>北原　　綾</td><td>千葉大学大学院医学研究院細胞治療内科学講座診療助教</td></tr>
    <tr><td>徳山　宏丈</td><td>千葉大学大学院医学研究院細胞治療内科学講座特任助教</td></tr>
    <tr><td>横手幸太郎</td><td>千葉大学大学院医学研究院細胞治療内科学講座教授</td></tr>
    <tr><td>藤森　　新</td><td>帝京大学医学部附属新宿クリニック院長</td></tr>
    <tr><td>赤水　尚史</td><td>和歌山県立医科大学内科学第一講座教授</td></tr>
    <tr><td>柳瀬　敏彦</td><td>福岡大学医学部内分泌・糖尿病内科教授</td></tr>
    <tr><td>竹内　靖博</td><td>虎の門病院内分泌センター部長</td></tr>
    <tr><td>照屋なつき</td><td>がん研究会有明病院乳腺センター乳腺外科副医長</td></tr>
    <tr><td>大野　真司</td><td>がん研究会有明病院乳腺センター長</td></tr>
    <tr><td>臼杵　憲祐</td><td>NTT東日本関東病院血液内科部長</td></tr>
    <tr><td>足立　佳也</td><td>名古屋大学医学部附属病院血液内科</td></tr>
    <tr><td>清井　　仁</td><td>名古屋大学大学院医学系研究科血液・腫瘍内科学教授</td></tr>
    <tr><td>伊豆津宏二</td><td>国立がん研究センター中央病院血液腫瘍科長</td></tr>
    <tr><td>柴山　浩彦</td><td>大阪大学大学院医学系研究科血液・腫瘍内科学准教授</td></tr>
    <tr><td>冨山　佳昭</td><td>大阪大学医学部附属病院輸血部病院教授</td></tr>
    <tr><td>大森　　司</td><td>自治医科大学医学部生化学講座病態生化学部門教授</td></tr>
    <tr><td>野上　恵嗣</td><td>奈良県立医科大学小児科准教授</td></tr>
    <tr><td>和田　英夫</td><td>三重大学医学部臨床検査医学講座准教授</td></tr>
    <tr><td>伊藤　康男</td><td>埼玉医科大学神経内科講師</td></tr>
    <tr><td>荒木　信夫</td><td>埼玉医科大学神経内科教授</td></tr>
    <tr><td>普天間国博</td><td>東京医科大学病院精神医学講座兼任助教</td></tr>
    <tr><td>高江洲義和</td><td>東京医科大学病院精神医学講座講師</td></tr>
    <tr><td>井上　雄一</td><td>東京医科大学睡眠学講座教授</td></tr>
    <tr><td>鳥居　洋太</td><td>名古屋大学医学部附属病院卒後臨床研修・キャリア形成支援センター病院助教</td></tr>
    <tr><td>尾崎　紀夫</td><td>名古屋大学大学院医学系研究科精神医学・親と子どもの心療学教授</td></tr>
    <tr><td>杉原　玄一</td><td>京都大学大学院医学研究科脳病態生理学講座（精神医学）院内講師</td></tr>
    <tr><td>村井　俊哉</td><td>京都大学大学院医学研究科脳病態生理学講座（精神医学）教授</td></tr>
    <tr><td>十川　純平</td><td>京都大学大学院医学研究科臨床神経学</td></tr>
    <tr><td>池田　昭夫</td><td>京都大学大学院医学研究科てんかん・運動異常生理学講座特定教授</td></tr>
    <tr><td>下　　泰司</td><td>順天堂大学医学部附属順天堂医院脳神経内科先任准教授</td></tr>
    <tr><td>服部　信孝</td><td>順天堂大学医学部附属順天堂医院脳神経内科教授</td></tr>
    <tr><td>中島　健二</td><td>国立病院機構松江医療センター院長</td></tr>
    <tr><td>木村　文将</td><td>北里大学医学部神経内科学</td></tr>
    <tr><td>西山　和利</td><td>北里大学医学部神経内科学主任教授</td></tr>
    <tr><td>長山　成美</td><td>金沢医科大学医学部神経内科学准教授</td></tr>
    <tr><td>松井　　真</td><td>金沢医科大学医学部神経内科学主任教授</td></tr>
    <tr><td>亀井　　聡</td><td>日本大学医学部内科学系神経内科学分野主任教授</td></tr>
    <tr><td>青田　洋一</td><td>横浜市立脳卒中・神経脊椎センター副病院長／脊椎脊髄疾患センター長</td></tr>
    <tr><td>大鳥　精司</td><td>千葉大学大学院医学研究院整形外科学教授</td></tr>
    <tr><td>市村　正一</td><td>杏林大学医学部整形外科学教室教授</td></tr>
    <tr><td>岩﨑　幹季</td><td>大阪労災病院副院長／整形外科部長</td></tr>
    <tr><td>渡辺　雅彦</td><td>東海大学医学部外科学系整形外科学教授（領域主任）</td></tr>
    <tr><td>津村　　弘</td><td>大分大学医学部整形外科学教授</td></tr>
    <tr><td>中島　康晴</td><td>九州大学大学院医学研究院臨床医学部門外科学講座整形外科学分野教授</td></tr>
    <tr><td>星加　昭太</td><td>船橋整形外科病院スポーツ医学・関節センター</td></tr>
    <tr><td>菅谷　啓之</td><td>船橋整形外科病院スポーツ医学・関節センター長</td></tr>
    <tr><td>萩野　　浩</td><td>鳥取大学医学部保健学科教授／鳥取大学医学部附属病院リハビリテーション部部長</td></tr>
    <tr><td>内尾　祐司</td><td>島根大学医学部整形外科学教授</td></tr>
    <tr><td>尾﨑　敏文</td><td>岡山大学大学院医歯薬学総合研究科生体機能再生・再建学講座整形外科教授</td></tr>
    <tr><td>山中　　寿</td><td>東京女子医科大学附属膠原病リウマチ痛風センター所長</td></tr>
    <tr><td>奥　　健志</td><td>北海道大学大学院医学研究院免疫・代謝内科学教室診療講師</td></tr>
    <tr><td>渥美　達也</td><td>北海道大学大学院医学研究院免疫・代謝内科学教室教授</td></tr>
    <tr><td>坂本　　晋</td><td>東邦大学医学部内科学講座呼吸器内科学分野（大森）准教授</td></tr>
    <tr><td>本間　　栄</td><td>東邦大学医学部内科学講座呼吸器内科学分野（大森）教授</td></tr>
    <tr><td>上阪　　等</td><td>東京医科歯科大学大学院医歯学総合研究科膠原病・リウマチ内科学教授</td></tr>
    <tr><td>尹　　浩信</td><td>熊本大学大学院生命科学研究部皮膚病態治療再建学分野教授</td></tr>
    <tr><td>坪井　洋人</td><td>筑波大学医学医療系内科（膠原病・リウマチ・アレルギー）講師</td></tr>
    <tr><td>住田　孝之</td><td>筑波大学医学医療系内科（膠原病・リウマチ・アレルギー）教授</td></tr>
    <tr><td>山村　昌弘</td><td>岡山済生会総合病院特任副院長／リウマチ・膠原病センター長</td></tr>
    <tr><td>小倉　剛久</td><td>東邦大学医学部内科学講座膠原病学分野（大橋）助教</td></tr>
    <tr><td>亀田　秀人</td><td>東邦大学医学部内科学講座膠原病学分野（大橋）教授</td></tr>
    <tr><td>三村　俊英</td><td>埼玉医科大学リウマチ膠原病科教授</td></tr>
    <tr><td>佐藤　智美</td><td>市立長浜病院リウマチ・膠原病内科</td></tr>
    <tr><td>中村　拓路</td><td>市立長浜病院リウマチ・膠原病内科部長</td></tr>
    <tr><td>梅原　久範</td><td>市立長浜病院リウマチ・膠原病内科責任部長</td></tr>
    <tr><td>佐伯　秀久</td><td>日本医科大学大学院医学研究科皮膚粘膜病態学教授</td></tr>
    <tr><td>秀　　道広</td><td>広島大学大学院医歯薬保健学研究科皮膚科学教授</td></tr>
    <tr><td>五十棲　健</td><td>東京警察病院皮膚科部長</td></tr>
    <tr><td>高山かおる</td><td>埼玉県済生会川口総合病院皮膚科主任部長</td></tr>
    <tr><td>室田　浩之</td><td>大阪大学大学院医学系研究科皮膚科学教室准教授</td></tr>
    <tr><td>安田　　浩</td><td>産業医科大学病院形成外科診療教授</td></tr>
    <tr><td>相原　道子</td><td>横浜市立大学大学院医学研究科環境免疫病態皮膚科学教授</td></tr>
    <tr><td>立花　隆夫</td><td>大阪赤十字病院皮膚科部長</td></tr>
    <tr><td>中西　健史</td><td>滋賀医科大学皮膚科学講座特任准教授</td></tr>
    <tr><td>今福　信一</td><td>福岡大学医学部皮膚科学教室教授</td></tr>
    <tr><td>山﨑　　修</td><td>岡山大学大学院医歯薬学総合研究科皮膚科学講師</td></tr>
    <tr><td>林　　伸和</td><td>虎の門病院皮膚科部長</td></tr>
    <tr><td>植木　理恵</td><td>順天堂大学医学部附属順天堂東京江東高齢者医療センター皮膚科先任准教授</td></tr>
    <tr><td>乾　　重樹</td><td>大阪大学医学部皮膚科学招聘教授／心斎橋いぬい皮膚科院長</td></tr>
    <tr><td>石井　則久</td><td>国立感染症研究所ハンセン病研究センター長</td></tr>
    <tr><td>海老原伸行</td><td>順天堂大学医学部附属浦安病院眼科教授</td></tr>
    <tr><td>横井　則彦</td><td>京都府立医科大学眼科学教室病院教授</td></tr>
    <tr><td>井上　幸次</td><td>鳥取大学医学部視覚病態学教授</td></tr>
    <tr><td>後藤　　浩</td><td>東京医科大学臨床医学系眼科学分野主任教授</td></tr>
    <tr><td>根岸　一乃</td><td>慶應義塾大学医学部眼科学教室教授</td></tr>
    <tr><td>福地　健郎</td><td>新潟大学大学院医歯学総合研究科視覚病態学分野教授</td></tr>
    <tr><td>澤田　　修</td><td>滋賀医科大学眼科学講座講師</td></tr>
    <tr><td>大路　正人</td><td>滋賀医科大学眼科学講座教授</td></tr>
    <tr><td>髙橋　寛二</td><td>関西医科大学眼科学教室主任教授</td></tr>
    <tr><td>野口　佳裕</td><td>国際医療福祉大学医学部耳鼻咽喉科学教授</td></tr>
    <tr><td>工藤　典代</td><td>恵翔会アリス耳鼻咽喉科院長</td></tr>
    <tr><td>伊藤　真人</td><td>自治医科大学とちぎ子ども医療センター小児耳鼻咽喉科教授</td></tr>
    <tr><td>松岡　伴和</td><td>山梨大学医学部耳鼻咽喉科・頭頸部外科講師</td></tr>
    <tr><td>宇野　芳史</td><td>宇野耳鼻咽喉科クリニック理事長</td></tr>
    <tr><td>鈴木　賢二</td><td>ヨナハ総合病院院長</td></tr>
    <tr><td>和田　哲郎</td><td>筑波大学医学医療系耳鼻咽喉科・頭頸部外科准教授</td></tr>
    <tr><td>三輪　高喜</td><td>金沢医科大学医学部耳鼻咽喉科学主任教授</td></tr>
    <tr><td>津田　豪太</td><td>聖隷佐倉市民病院耳鼻咽喉科・摂食嚥下センター部長</td></tr>
    <tr><td>佐藤　輝幸</td><td>秋田大学大学院医学系研究科耳鼻咽喉科・頭頸部外科学講座講師</td></tr>
    <tr><td>石川　和夫</td><td>秋田赤十字病院耳鼻咽喉科・めまいセンター</td></tr>
    <tr><td>菅野　義彦</td><td>東京医科大学腎臓内科学分野主任教授</td></tr>
    <tr><td>藤本　清秀</td><td>奈良県立医科大学泌尿器科学教室教授</td></tr>
    <tr><td>三宅　牧人</td><td>奈良県立医科大学泌尿器科学教室助教</td></tr>
    <tr><td>永井　　崇</td><td>信州大学医学部附属病院泌尿器科助教</td></tr>
    <tr><td>石塚　　修</td><td>信州大学医学部泌尿器科学教室教授</td></tr>
    <tr><td>松本　洋明</td><td>山口大学大学院医学系研究科医学専攻泌尿器科学講座講師</td></tr>
    <tr><td>松山　豪泰</td><td>山口大学大学院医学系研究科医学専攻泌尿器科学講座教授</td></tr>
    <tr><td>武井実根雄</td><td>原三信病院泌尿器科部長</td></tr>
    <tr><td>宮澤　克人</td><td>金沢医科大学泌尿器科学主任教授</td></tr>
    <tr><td>永尾　光一</td><td>東邦大学医学部泌尿器科教授</td></tr>
    <tr><td>瀬島　健裕</td><td>松江市立病院泌尿器科科長</td></tr>
    <tr><td>武中　　篤</td><td>鳥取大学医学部器官制御外科学講座腎泌尿器学分野教授</td></tr>
    <tr><td>小林　　浩</td><td>奈良県立医科大学産婦人科学教室教授</td></tr>
    <tr><td>三上　幹男</td><td>東海大学医学部専門診療学系産婦人科学教授</td></tr>
    <tr><td>金内　優典</td><td>小樽市立病院婦人科医療部長</td></tr>
    <tr><td>宮原　　陽</td><td>熊本大学大学院生命科学研究部産科婦人科学分野特任助教</td></tr>
    <tr><td>片渕　秀隆</td><td>熊本大学大学院生命科学研究部産科婦人科学分野教授</td></tr>
    <tr><td>安井　敏之</td><td>徳島大学大学院医歯薬学研究部生殖・更年期医療学分野教授</td></tr>
    <tr><td>中村　朋美</td><td>横浜市立大学附属病院産婦人科講師</td></tr>
    <tr><td>宮城　悦子</td><td>横浜市立大学産婦人科学教授</td></tr>
    <tr><td>尾内　一信</td><td>川崎医科大学小児科学講座主任教授</td></tr>
    <tr><td>田中　　優</td><td>東京大学医学部附属病院小児科</td></tr>
    <tr><td>平田陽一郎</td><td>東京大学医学部附属病院小児科講師</td></tr>
    <tr><td>海老澤元宏</td><td>国立病院機構相模原病院臨床研究センター副センター長／アレルギー性疾患研究部部長</td></tr>
    <tr><td>荒川　浩一</td><td>群馬大学大学院医学系研究科小児科学分野教授</td></tr>
    <tr><td>三牧　正和</td><td>帝京大学医学部小児科学講座主任教授</td></tr>
    <tr><td>水口　　雅</td><td>東京大学大学院医学系研究科国際保健学専攻国際生物医科学講座発達医科学分野教授</td></tr>
    <tr><td>香美　祥二</td><td>徳島大学大学院医歯薬学研究部小児科学教授</td></tr>
    <tr><td>清水　俊明</td><td>順天堂大学医学部小児科学講座教授</td></tr>
    <tr><td>浮山　越史</td><td>杏林大学医学部小児外科学教室教授</td></tr>
    <tr><td>小川　　厚</td><td>福岡大学筑紫病院小児科教授</td></tr>
    <tr><td>赤松　弘朗</td><td>和歌山県立医科大学呼吸器内科・腫瘍内科助教</td></tr>
    <tr><td>山本　信之</td><td>和歌山県立医科大学呼吸器内科・腫瘍内科教授</td></tr>
    <tr><td>余宮きのみ</td><td>埼玉県立がんセンター緩和ケア科部長</td></tr>
    <tr><td>武藤　　智</td><td>順天堂大学大学院医学研究科遺伝子疾患先端情報学講座特任教授</td></tr>
    <tr><td>堀江　重郎</td><td>順天堂大学大学院医学研究科遺伝子疾患先端情報学講座／泌尿器外科学教授</td></tr>
    <tr><td>佐伯　俊昭</td><td>埼玉医科大学国際医療センター乳腺腫瘍科教授／包括的がんセンター長</td></tr>
    <tr><td>島田　浩子</td><td>埼玉医科大学国際医療センター乳腺腫瘍科助教</td></tr>
    <tr><td>野澤　桂子</td><td>国立がん研究センター中央病院アピアランス支援センター長</td></tr>
    <tr><td>山﨑　直也</td><td>国立がん研究センター中央病院皮膚腫瘍科長</td></tr>
    <tr><td>秋下　雅弘</td><td>東京大学大学院医学系研究科加齢医学講座（老年病学）教授</td></tr>
    <tr><td>井藤　英喜</td><td>東京都健康長寿医療センター理事長</td></tr>
    <tr><td>山本　浩一</td><td>大阪大学大学院医学系研究科老年・総合内科学講師</td></tr>
    <tr><td>楽木　宏実</td><td>大阪大学大学院医学系研究科老年・総合内科学教授</td></tr>
    <tr><td>佐竹　昭介</td><td>国立長寿医療研究センター老年学・社会科学研究センターフレイル研究部フレイル予防医学研究室室長</td></tr>
	</table>
</ons-page>