<ons-modal var="modal">
	<ons-icon icon="ion-load-c" spin="true"></ons-icon>
	<br>
	<br> Please wait.
	<br>
</ons-modal>
<ons-page id="info_basicknowledge">
	<ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.openMenu()">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">
			<div id="toolbar_title"></div>
		</div>
	</ons-toolbar>

	<!-- xml埋め込みテンプレート -->
	<div id="xmlTemplate">
		<!-- ヘッダ -->
		<div id="section-header">
			<div id="page-title">
				<div id="title-guidline" style="height: 40px;"></div>
				<span id="number"></span>
				<span id="title"></span>
			</div>
			<div id="page-guidline">
				<ul id="guidline"></ul>
			</div>
		</div><!-- End：id="section-header" -->

		<!-- Waht'new -->
		<div id="section-new">
			<div id="page-guidline">
				<ul id="wahtnew-ul"></ul>
			</div>
		</div><!-- End：id="section-header" -->

		<!-- 総論 -->
		<div id="section-soron">
		</div><!-- End：id="section-soron" -->

    <!-- 文献 -->
    <div id="literature">
    </div>

		<!-- 最近の話題 -->
		<div id="section-recent">
			<div>
				<span>最</span><span>近</span><span>の</span><span>話</span><span>題</span>
			</div>
            <div id="none-recent" style="margin-left:1em; margin-top:6px;">
            	<!--<p　id="topic"></p> -->
            </div>
		</div><!-- End：id="section-Recent" -->
</ons-page>