<ons-page id="contact_page">
    <ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.toggleMenu('secondary.html');">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">お問い合わせ</div>
	</ons-toolbar>
	<div class="contactTitle">アプリ全般に関するお問い合わせ</div>
	<div class="contactBody">
<span style="font-size:20px;">亀田医療情報株式会社</span><br>
〒102-0083<br>
　東京都千代田区麹町4-8　麹町クリスタルシティ東館<br>
　<a href="#" onclick="cordova.InAppBrowser.open('http://kameda-hi.co.jp/', '_system', 'location=yes');">http://kameda-hi.co.jp/</a><br>
　<ons-icon icon="ion-ios-email-outline" style="font-size: 25px; margin-right:5px;"></ons-icon>
  <a href="mailto:support.app@kameda-hi.co.jp?subject=【問い合わせ】診療ガイドライン2018-2019アプリ">support.app@kameda-hi.co.jp</a><br>
	</div><!-- End：class="contactBody" -->
	<div class="contactTitle">コンテンツに関するお問い合わせ</div>
	<div class="contactBody">
<span style="font-size:20px;">株式会社メディカルレビュー社</span><br>
〒541-0046<br>
　大阪市中央区平野町3-2-8　淀屋橋MIビル<br>
　<a href="#" onclick="cordova.InAppBrowser.open('http://www.m-review.co.jp/', '_system', 'location=yes');">http://www.m-review.co.jp/</a><br>
　<ons-icon icon="ion-ios-email-outline" style="font-size: 25px; margin-right:5px;"></ons-icon>
  <a href="mailto:sale@m-review.co.jp?subject=【問い合わせ】診療ガイドライン2018-2019アプリ">sale@m-review.co.jp</a><br>
</div><!-- End：class="contactBody" -->
</ons-page>