<ons-modal var="modal">
	<ons-icon icon="ion-load-c" spin="true"></ons-icon>
	<br>
	<br> Please wait.
	<br>
</ons-modal>
<ons-page id="main">
	<ons-toolbar>
		<div class="left">
			<div class="openMenu">
				<ons-toolbar-button ng-click="slideMenu.openMenu()">
					<ons-icon icon="ion-navicon"></ons-icon>
				</ons-toolbar-button>
			</div>
		</div>
		<div class="center">
			<div id="toolbar_title"></div>
		</div>
		<div class="right">
			<ons-toolbar-button onclick="chkTag();">
				<ons-icon icon="ion-ios-star-outline" id="xmlTag"></ons-icon>
			</ons-toolbar-button>
			<ons-toolbar-button onclick="menu.show(event);">
				<ons-icon icon="ion-ios-gear-outline"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<!-- xml埋め込みテンプレート -->
	<div id="xmlTemplate">
		<!-- ヘッダ -->
		<div id="section-header">
			<div id="page-title">
				<div id="title-guidline"></div>
				<span id="number"></span>
				<span id="title"></span>
			</div>
			<div id="page-guidline">
				<ul id="guidline"></ul>
			</div>
		</div><!-- End：id="section-header" -->

		<!-- Waht'new -->
		<div id="section-new">
			<div id="page-guidline">
				<ul id="wahtnew-ul"></ul>
			</div>
		</div><!-- End：id="section-header" -->

    <!-- アルゴリズム -->
		<div id="section-algorism">
    <!-- 特殊タグ：コメント(どこにも属さないのでアルゴリズム扱いとする -->
    <div id="section-algorism-comment"></div>
    <!-- アルゴリズム -->
    <div id="section-algorism-block">
      <div id="algorism"></div>
    </div>
		</div><!-- End：id="section-algorism" -->

		<!-- 総説 -->
		<div id="section-general">
			<!-- 総説 -->
			<div id="general-block">
				<div id="detail"></div>
				<!-- コンサルト -->
				<div id="consult">
					<div id="consult-body"></div>
				</div>
			</div>
		</div><!-- End：id="section-general" -->

		<!-- 最近の話題 -->
		<div id="section-recent">
			<div>
				<span>最</span><span>近</span><span>の</span><span>話</span><span>題</span>
			</div>
      <div id="none-recent" style="margin-left:1em; margin-top:6px;">
        <p id="recent_content">なし</p>
      </div>
		</div><!-- End：id="section-Recent" -->

		<!-- 具体的処方 -->
		<div id="section-prescription">
			<table>
        <thead><th colspan="3">なし</th></thead>
			</table>
      <div id="section-prescription-6"></div>
		</div>

    <!-- 最後の図表 -->
    <div id="section-lastchart"></div>
		<!-- 付録 -->
		<div id="section-appendix"></div>
		<!-- 著者 -->
		<div id="section-authors"></div>
	</div><!-- End：id="xmlDisplay" -->
</ons-page>