<ons-page>
<div class="listLeft">
	<ul>
		<!-- ア行 -->
		<li class="onSselectBtn" onclick="openSearchList(this, 'yak_a');">あ</li>
		<li onclick="openSearchList(this, 'yak_i');">い</li>
		<li onclick="openSearchList(this, 'yak_u');">う</li>
		<li onclick="openSearchList(this, 'yak_e');">え</li>
		<li onclick="openSearchList(this, 'yak_o');">お</li>
		<!-- カ行 -->
		<li onclick="openSearchList(this, 'yak_ka');">か</li>
		<li onclick="openSearchList(this, 'yak_ki');">き</li>
		<li onclick="openSearchList(this, 'yak_ku');">く</li>
		<li onclick="openSearchList(this, 'yak_ke');">け</li>
		<li onclick="openSearchList(this, 'yak_ko');">こ</li>
		<!-- サ行 -->
		<li onclick="openSearchList(this, 'yak_sa');">さ</li>
		<li onclick="openSearchList(this, 'yak_si');">し</li>
		<li onclick="openSearchList(this, 'yak_su');">す</li>
		<li onclick="openSearchList(this, 'yak_se');">せ</li>
		<li onclick="openSearchList(this, 'yak_so');">そ</li>
		<!-- タ行 -->
		<li onclick="openSearchList(this, 'yak_ta');">た</li>
		<li onclick="openSearchList(this, 'yak_ti');">ち</li>
		<li onclick="openSearchList(this, 'yak_tu');">つ</li>
		<li onclick="openSearchList(this, 'yak_te');">て</li>
		<li onclick="openSearchList(this, 'yak_to');">と</li>
		<!-- ナ行 -->
		<li onclick="openSearchList(this, 'yak_na');">な</li>
		<li onclick="openSearchList(this, 'yak_ni');">に</li>
		<li onclick="openSearchList(this, 'yak_nu');">ぬ</li>
		<li onclick="openSearchList(this, 'yak_ne');">ね</li>
		<li onclick="openSearchList(this, 'yak_no');">の</li>
		<!-- ハ行 -->
		<li onclick="openSearchList(this, 'yak_ha');">は</li>
		<li onclick="openSearchList(this, 'yak_hi');">ひ</li>
		<li onclick="openSearchList(this, 'yak_hu');">ふ</li>
		<li onclick="openSearchList(this, 'yak_he');">へ</li>
		<li onclick="openSearchList(this, 'yak_ho');">ほ</li>
		<!-- マ行 -->
		<li onclick="openSearchList(this, 'yak_ma');">ま</li>
		<li onclick="openSearchList(this, 'yak_mi');">み</li>
		<li onclick="openSearchList(this, 'yak_mu');">む</li>
		<li onclick="openSearchList(this, 'yak_me');">め</li>
		<li onclick="openSearchList(this, 'yak_mo');">も</li>
		<!-- ヤ行 -->
		<li onclick="openSearchList(this, 'yak_ya');">や</li>
        <li style="height:0px;"></li>
		<li onclick="openSearchList(this, 'yak_yu');">ゆ</li>
    	<li style="height:0px;"></li>
		<li onclick="openSearchList(this, 'yak_yo');">よ</li>
		<!-- ラ行 -->
		<li onclick="openSearchList(this, 'yak_ra');">ら</li>
		<li onclick="openSearchList(this, 'yak_ri');">り</li>
		<li onclick="openSearchList(this, 'yak_ru');">る</li>
		<li onclick="openSearchList(this, 'yak_re');">れ</li>
		<li onclick="openSearchList(this, 'yak_ro');">ろ</li>
		<!-- ワ行 -->
		<li onclick="openSearchList(this, 'yak_wa');">わ</li>
        <!-- 記号 -->
        <li onclick="openSearchList(this, 'yak_kg');">記</li>
	</ul>
</div>
<div class="listRight">
    <ul id="yak_a" style="display:block;">
      <li onclick="openSearch(this, '07-02.xml')">アイクルシグ</li>
      <li onclick="openSearch(this, '04-12.xml|05-12.xml')">アイソボリン</li>
      <li onclick="openSearch(this, '03-03.xml')">アイトロール</li>
      <li onclick="openSearch(this, '13-04.xml')">アイピーディー</li>
      <li onclick="openSearch(this, '12-06.xml')">アイファガン</li>
      <li onclick="openSearch(this, '03-02.xml')">アイミクスLD，HD</li>
      <li onclick="openSearch(this, '12-08.xml')">アイリーア</li>
      <li onclick="openSearch(this, '11-04.xml')">亜鉛華単軟膏</li>
      <li onclick="openSearch(this, '03-05.xml')">アカルディ</li>
      <li onclick="openSearch(this, '11-08.xml')">アクアセルAg</li>
      <li onclick="openSearch(this, '11-12.xml|17-05.xml')">アクアチムクリーム</li>
      <li onclick="openSearch(this, '11-12.xml')">アクアチムローション</li>
      <li onclick="openSearch(this, '08-08.xml|16-02.xml')">アクチバシン</li>
      <li onclick="openSearch(this, '10-09.xml')">アクテムラ</li>
      <li onclick="openSearch(this, '11-06.xml|11-08.xml')">アクトシン軟膏</li>
      <li onclick="openSearch(this, '03-16.xml|05-05.xml|06-01.xml|08-08.xml')">アクトス</li>
      <li onclick="openSearch(this, '06-07.xml|10-08.xml|12-04.xml')">アクトネル</li>
      <li onclick="openSearch(this, '07-02.xml')">アグリリン</li>
      <li onclick="openSearch(this, '04-05.xml')">アコファイド</li>
      <li onclick="openSearch(this, '04-10.xml')">アサコール</li>
      <li onclick="openSearch(this, '02-09.xml|02-09.xml|04-10.xml|10-07.xml')">アザニン</li>
      <li onclick="openSearch(this, '04-05.xml')">アシノン</li>
      <li onclick="openSearch(this, '03-02.xml')">アジルバ</li>
      <li onclick="openSearch(this, '11-03.xml')">アスタットクリーム</li>
      <li onclick="openSearch(this, '11-03.xml')">アスタット軟膏</li>
      <li onclick="openSearch(this, '11-07.xml|11-08.xml')">アズノール軟膏</li>
      <li onclick="openSearch(this, '04-14.xml|08-08.xml|16-02.xml')">アスピリン</li>
      <li onclick="openSearch(this, '16-04.xml')">アスプール</li>
      <li onclick="openSearch(this, '02-01.xml')">アズマネックスツイストヘラー</li>
      <li onclick="openSearch(this, '11-07.xml')">アズレン含嗽</li>
      <li onclick="openSearch(this, '05-04.xml')">アセチルシステイン</li>
      <li onclick="openSearch(this, '08-01.xml|13-02.xml')">アセトアミノフェン</li>
      <li onclick="openSearch(this, '07-02.xml')">アーゼラ</li>
      <li onclick="openSearch(this, '04-01.xml|17-02.xml')">アセリオ</li>
      <li onclick="openSearch(this, '12-06.xml')">アゾルガ</li>
      <li onclick="openSearch(this, '17-02.xml')">アタラックス-P</li>
      <li onclick="openSearch(this, '17-05.xml')">アタラックス-Pカプセル</li>
      <li onclick="openSearch(this, '03-02.xml|03-03.xml|03-04.xml|03-16.xml|06-06.xml|08-08.xml|08-08.xml|14-06.xml')">アダラートCR</li>
      <li onclick="openSearch(this, '17-06.xml')">アダラートL</li>
      <li onclick="openSearch(this, '03-02.xml|03-03.xml|03-04.xml|03-05.xml|03-07.xml|03-11.xml|03-16.xml')">アーチスト</li>
      <li onclick="openSearch(this, '11-09.xml')">アップタイ</li>
      <li onclick="openSearch(this, '13-01.xml|13-07.xml')">アデホス顆粒</li>
      <li onclick="openSearch(this, '03-13.xml')">アデムパス</li>
      <li onclick="openSearch(this, '03-02.xml')">アテレック</li>
      <li onclick="openSearch(this, '02-03.xml')">アドエア</li>
      <li onclick="openSearch(this, '16-04.xml')">アドエアエアゾール</li>
      <li onclick="openSearch(this, '02-04.xml|16-04.xml')">アドエアディスカス</li>
      <li onclick="openSearch(this, '03-13.xml|10-05.xml')">アドシルカ</li>
      <li onclick="openSearch(this, '11-03.xml')">アトラント外用液</li>
      <li onclick="openSearch(this, '11-03.xml')">アトラント軟膏</li>
      <li onclick="openSearch(this, '06-08.xml|07-03.xml|09-11.xml|14-02.xml|15-03.xml')">アドリアシン</li>
      <li onclick="openSearch(this, '16-03.xml')">アドレナリン</li>
      <li onclick="openSearch(this, '02-05.xml')">アニュイティエリプタ</li>
      <li onclick="openSearch(this, '02-04.xml|02-05.xml')">アノーロエリプタ</li>
      <li onclick="openSearch(this, '04-12.xml|15-02.xml|15-04.xml')">アバスチン</li>
      <li onclick="openSearch(this, '03-02.xml|14-01.xml')">アバプロ</li>
      <li onclick="openSearch(this, '01-01.xml')">アビガン</li>
      <li onclick="openSearch(this, '04-12.xml')">アービタックス</li>
      <li onclick="openSearch(this, '06-01.xml')">アピドラ</li>
      <li onclick="openSearch(this, '02-08.xml|05-12.xml')">アブラキサン</li>
      <li onclick="openSearch(this, '06-01.xml')">アプルウェイ</li>
      <li onclick="openSearch(this, '02-01.xml|02-02.xml')">アベロックス</li>
      <li onclick="openSearch(this, '08-09.xml')">アボネックス</li>
      <li onclick="openSearch(this, '14-03.xml')">アボルブ</li>
      <li onclick="openSearch(this, '08-01.xml')">アマージ</li>
      <li onclick="openSearch(this, '03-16.xml|06-01.xml')">アマリール</li>
      <li onclick="openSearch(this, '01-05.xml|02-02.xml')">アミカシン</li>
      <li onclick="openSearch(this, '04-08.xml|04-09.xml')">アミティーザ</li>
      <li onclick="openSearch(this, '05-03.xml')">アミノレバン</li>
      <li onclick="openSearch(this, '05-03.xml')">アミノレバンEN</li>
      <li onclick="openSearch(this, '01-07.xml')">アムビゾーム</li>
      <li onclick="openSearch(this, '03-02.xml|03-04.xml|14-01.xml|17-06.xml')">アムロジン</li>
      <li onclick="openSearch(this, '11-10.xml|13-10.xml')">アメナリーフ</li>
      <li onclick="openSearch(this, '01-09.xml')">アメパロモ</li>
      <li onclick="openSearch(this, '08-10.xml|11-10.xml')">アラセナ-A</li>
      <li onclick="openSearch(this, '13-04.xml')">アラミスト</li>
      <li onclick="openSearch(this, '03-14.xml')">アリクストラ</li>
      <li onclick="openSearch(this, '08-07.xml|17-06.xml')">アリセプト</li>
      <li onclick="openSearch(this, '16-06.xml')">アリナミンF</li>
      <li onclick="openSearch(this, '06-08.xml')">アリミデックス</li>
      <li onclick="openSearch(this, '02-08.xml')">アリムタ</li>
      <li onclick="openSearch(this, '07-04.xml')">アルケラン</li>
      <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-05.xml|03-07.xml|05-03.xml|06-06.xml|15-01.xml')">アルダクトンA</li>
      <li onclick="openSearch(this, '09-06.xml')">アルツ</li>
      <li onclick="openSearch(this, '06-07.xml|14-01.xml')">アルファロール</li>
      <li onclick="openSearch(this, '11-01.xml|17-05.xml')">アルメタ</li>
      <li onclick="openSearch(this, '04-02.xml')">アルロイドG</li>
      <li onclick="openSearch(this, '05-07.xml|11-02.xml|11-04.xml|11-05.xml|11-13.xml|13-04.xml|16-03.xml|17-05.xml')">アレグラ</li>
      <li onclick="openSearch(this, '11-02.xml|12-01.xml|16-03.xml')">アレジオン</li>
      <li onclick="openSearch(this, '11-01.xml|11-02.xml|11-04.xml|11-05.xml|11-13.xml|13-04.xml')">アレロック</li>
      <li onclick="openSearch(this, '02-08.xml|07-03.xml|17-04.xml')">アロキシ</li>
      <li onclick="openSearch(this, '04-08.xml')">アローゼン</li>
      <li onclick="openSearch(this, '06-08.xml')">アロマシン</li>
      <li onclick="openSearch(this, '03-06.xml|03-11.xml')">アンカロン</li>
      <li onclick="openSearch(this, '16-02.xml')">アンギナール</li>
      <li onclick="openSearch(this, '01-07.xml')">アンコチル</li>
      <li onclick="openSearch(this, '15-01.xml')">アンジュ</li>
      <li onclick="openSearch(this, '11-09.xml')">アンシルク</li>
      <li onclick="openSearch(this, '07-06.xml')">アンスロビンP</li>
      <li onclick="openSearch(this, '11-01.xml')">アンテベート</li>
      <li onclick="openSearch(this, '17-05.xml')">アンテベートクリーム</li>
      <li onclick="openSearch(this, '11-04.xml|11-05.xml')">アンテベート軟膏</li>
      <li onclick="openSearch(this, '11-13.xml')">アンテベートローション</li>
      <li onclick="openSearch(this, '03-16.xml|10-05.xml')">アンプラーグ</li>
    </ul>
    <ul id="yak_i">
        <li onclick="openSearch(this, '03-11.xml|03-14.xml|08-08.xml')">イグザレルト</li>
        <li onclick="openSearch(this, '14-04.xml')">イクスタンジ</li>
        <li onclick="openSearch(this, '08-07.xml')">イクセロンパッチ</li>
        <li onclick="openSearch(this, '08-05.xml')">イーケプラ</li>
        <li onclick="openSearch(this, '08-06.xml')">イーシー・ドパール</li>
        <li onclick="openSearch(this, '02-07.xml|10-01.xml|10-08.xml|12-04.xml')">イスコチン</li>
        <li onclick="openSearch(this, '13-07.xml')">イソバイド</li>
        <li onclick="openSearch(this, '07-02.xml')">イダマイシン</li>
        <li onclick="openSearch(this, '01-07.xml|11-03.xml|12-03.xml')">イトリゾール</li>
        <li onclick="openSearch(this, '01-01.xml')">イナビル</li>
        <li onclick="openSearch(this, '17-02.xml')">イーフェンバッカル</li>
        <li onclick="openSearch(this, '09-11.xml')">イホマイド</li>
        <li onclick="openSearch(this, '08-01.xml')">イミグラン</li>
        <li onclick="openSearch(this, '08-09.xml')">イムセラ</li>
        <li onclick="openSearch(this, '14-02.xml')">イムノブラダー</li>
        <li onclick="openSearch(this, '07-02.xml')">イムブルビカ</li>
        <li onclick="openSearch(this, '02-09.xml|02-09.xml|04-10.xml|04-11.xml|05-06.xml|08-09.xml|10-02.xml|10-04.xml|10-05.xml|10-07.xml')">イムラン</li>
        <li onclick="openSearch(this, '07-03.xml|17-04.xml')">イメンド</li>
        <li onclick="openSearch(this, '04-09.xml')">イリボー</li>
        <li onclick="openSearch(this, '03-02.xml')">イルベタン</li>
        <li onclick="openSearch(this, '07-01.xml')">インクレミン</li>
        <li onclick="openSearch(this, '11-04.xml|12-01.xml')">インタール</li>
        <li onclick="openSearch(this, '16-04.xml')">インタール吸入液</li>
        <li onclick="openSearch(this, '03-01.xml|06-05.xml|06-06.xml|08-01.xml')">インデラル</li>
        <li onclick="openSearch(this, '04-11.xml')">イントラリポス</li>
    </ul>
    <ul id="yak_u">
        <li onclick="openSearch(this, '05-02.xml')">ヴィキラックス</li>
        <li onclick="openSearch(this, '09-11.xml')">ヴォトリエント</li>
        <li onclick="openSearch(this, '03-13.xml')">ヴォリブリス</li>
        <li onclick="openSearch(this, '03-13.xml')">ウプトラビ</li>
        <li onclick="openSearch(this, '06-04.xml|14-06.xml')">ウラリット</li>
        <li onclick="openSearch(this, '14-06.xml')">ウラリット-U</li>
        <li onclick="openSearch(this, '06-04.xml|14-06.xml')">ウリアデック</li>
        <li onclick="openSearch(this, '14-03.xml|14-05.xml')">ウリトス</li>
        <li onclick="openSearch(this, '05-06.xml|05-07.xml')">ウルソ</li>
        <li onclick="openSearch(this, '02-04.xml|02-05.xml')">ウルティブロ</li>
        <li onclick="openSearch(this, '11-01.xml')">ウレパール</li>
        <li onclick="openSearch(this, '17-05.xml')">ウレパールクリーム</li>
        <li onclick="openSearch(this, '14-06.xml')">ウロカルン</li>
        <li onclick="openSearch(this, '16-02.xml')">ウロキナーゼ</li>
    </ul>
    <ul id="yak_e">
        <li onclick="openSearch(this, '12-06.xml')">エイゾプト</li>
        <li onclick="openSearch(this, '11-06.xml')">エキザルベ</li>
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">エクア</li>
        <li onclick="openSearch(this, '07-03.xml|14-02.xml')">エクザール</li>
        <li onclick="openSearch(this, '08-05.xml')">エクセグラン</li>
        <li onclick="openSearch(this, '11-01.xml')">エクラー</li>
        <li onclick="openSearch(this, '17-05.xml')">エクラーローション</li>
        <li onclick="openSearch(this, '02-04.xml|02-05.xml')">エクリラジェヌエア</li>
        <li onclick="openSearch(this, '02-07.xml')">エサンブトール</li>
        <li onclick="openSearch(this, '03-02.xml')">エースコール</li>
        <li onclick="openSearch(this, '14-04.xml')">エストラサイト</li>
        <li onclick="openSearch(this, '15-05.xml|15-06.xml')">エストラーナ</li>
        <li onclick="openSearch(this, '07-01.xml')">エスポー</li>
        <li onclick="openSearch(this, '07-01.xml')">エスポー皮下用</li>
        <li onclick="openSearch(this, '06-07.xml|06-07.xml|17-09.xml')">エディロール</li>
        <li onclick="openSearch(this, '17-09.xml')">エネーボ</li>
        <li onclick="openSearch(this, '11-02.xml|11-13.xml')">エバステル</li>
        <li onclick="openSearch(this, '03-16.xml|08-08.xml')">エパデール</li>
        <li onclick="openSearch(this, '06-07.xml')">エビスタ</li>
        <li onclick="openSearch(this, '11-12.xml')">エピデュオゲル</li>
        <li onclick="openSearch(this, '08-04.xml')">エビリファイ</li>
        <li onclick="openSearch(this, '03-03.xml|03-04.xml')">エフィエント</li>
        <li onclick="openSearch(this, '05-04.xml|07-06.xml')">エフオーワイ</li>
        <li onclick="openSearch(this, '02-07.xml|12-04.xml')">エブトール</li>
        <li onclick="openSearch(this, '08-06.xml')">エフピーOD</li>
        <li onclick="openSearch(this, '10-06.xml')">エボザック</li>
        <li onclick="openSearch(this, '07-01.xml')">エポジン</li>
        <li onclick="openSearch(this, '03-01.xml')">エホチール</li>
        <li onclick="openSearch(this, '03-13.xml')">エポプロステノール</li>
        <li onclick="openSearch(this, '07-04.xml')">エムプリシティ</li>
        <li onclick="openSearch(this, '11-09.xml')">エラスコット</li>
        <li onclick="openSearch(this, '02-11.xml')">エラスポール</li>
        <li onclick="openSearch(this, '03-11.xml|03-14.xml|08-08.xml')">エリキュース</li>
        <li onclick="openSearch(this, '13-04.xml')">エリザス</li>
        <li onclick="openSearch(this, '01-09.xml|02-01.xml')">エリスロシン</li>
        <li onclick="openSearch(this, '13-05.xml|16-01.xml')">エリスロマイシン</li>
        <li onclick="openSearch(this, '16-06.xml')">エルカルチンFF</li>
        <li onclick="openSearch(this, '05-03.xml')">エルカルチンFF静注</li>
        <li onclick="openSearch(this, '06-07.xml')">エルシトニン</li>
        <li onclick="openSearch(this, '04-12.xml|05-12.xml')">エルプラット</li>
        <li onclick="openSearch(this, '05-02.xml')">エレルサ</li>
        <li onclick="openSearch(this, '04-11.xml|05-11.xml')">エレンタール</li>
        <li onclick="openSearch(this, '02-04.xml|02-05.xml')">エンクラッセエリプタ</li>
        <li onclick="openSearch(this, '01-09.xml|01-10.xml|02-02.xml|03-08.xml|12-03.xml')">塩酸バンコマイシン</li>
        <li onclick="openSearch(this, '17-09.xml')">エンシュアH</li>
        <li onclick="openSearch(this, '17-09.xml')">エンシュア・リキッド</li>
        <li onclick="openSearch(this, '02-09.xml|02-09.xml|06-08.xml|07-02.xml|07-02.xml|07-03.xml|10-02.xml|10-04.xml|10-05.xml|10-07.xml|16-07.xml')">エンドキサン</li>
        <li onclick="openSearch(this, '10-01.xml')">エンブレル</li>
    </ul>
    <ul id="yak_o">
        <li onclick="openSearch(this, '11-05.xml')">オイラックスクリーム</li>
        <li onclick="openSearch(this, '15-06.xml')">オオホルミンルテウムデポー</li>
        <li onclick="openSearch(this, '17-02.xml')">オキシコンチン</li>
        <li onclick="openSearch(this, '02-04.xml')">オーキシス</li>
        <li onclick="openSearch(this, '17-02.xml')">オキノーム</li>
        <li onclick="openSearch(this, '17-02.xml')">オキファスト</li>
        <li onclick="openSearch(this, '12-08.xml')">オキュバイトプリザービジョン2</li>
        <li onclick="openSearch(this, '01-05.xml')">オーグメンチン</li>
        <li onclick="openSearch(this, '02-02.xml|11-11.xml')">オーグメンチンRS</li>
        <li onclick="openSearch(this, '01-04.xml|01-05.xml|01-09.xml|13-02.xml')">オゼックス</li>
        <li onclick="openSearch(this, '16-01.xml')">オゼックス細粒小児用</li>
        <li onclick="openSearch(this, '15-01.xml')">オーソ</li>
        <li onclick="openSearch(this, '14-04.xml')">オダイン</li>
        <li onclick="openSearch(this, '13-04.xml')">オノン</li>
        <li onclick="openSearch(this, '16-04.xml')">オノンドライシロップ</li>
        <li onclick="openSearch(this, '09-03.xml')">オパルモン</li>
        <li onclick="openSearch(this, '02-09.xml')">オフェブ</li>
        <li onclick="openSearch(this, '12-03.xml')">オフサロン</li>
        <li onclick="openSearch(this, '03-13.xml')">オプスミット</li>
        <li onclick="openSearch(this, '04-04.xml|05-04.xml|17-02.xml')">オメプラール</li>
        <li onclick="openSearch(this, '04-06.xml')">オメプラール注用</li>
        <li onclick="openSearch(this, '13-02.xml|13-05.xml')">オラペネム</li>
        <li onclick="openSearch(this, '07-06.xml')">オルガラン</li>
        <li onclick="openSearch(this, '11-08.xml')">オルセノン軟膏</li>
        <li onclick="openSearch(this, '02-01.xml|02-05.xml|16-04.xml')">オルベスコインヘラー</li>
        <li onclick="openSearch(this, '03-02.xml|03-16.xml|06-03.xml')">オルメテック</li>
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">オングリザ</li>
        <li onclick="openSearch(this, '07-02.xml|07-03.xml')">オンコビン</li>
        <li onclick="openSearch(this, '02-04.xml')">オンブレス</li>
    </ul>
    <ul id="yak_ka">
        <li onclick="openSearch(this, '02-08.xml|17-04.xml')">カイトリル</li>
        <li onclick="openSearch(this, '07-04.xml')">カイプロリス</li>
        <li onclick="openSearch(this, '05-04.xml|12-04.xml')">ガスター</li>
        <li onclick="openSearch(this, '04-05.xml|07-05.xml')">ガスターD</li>
        <li onclick="openSearch(this, '04-06.xml')">ガスター注射液</li>
        <li onclick="openSearch(this, '10-05.xml')">ガストローム</li>
        <li onclick="openSearch(this, '04-02.xml|04-05.xml|10-05.xml')">ガスモチン</li>
        <li onclick="openSearch(this, '14-04.xml')">カソデックス</li>
        <li onclick="openSearch(this, '08-08.xml')">カタクロット</li>
        <li onclick="openSearch(this, '12-03.xml')">ガチフロ</li>
        <li onclick="openSearch(this, '03-16.xml|06-01.xml')">カナグル</li>
        <li onclick="openSearch(this, '10-05.xml')">カナマイシン</li>
        <li onclick="openSearch(this, '06-01.xml')">カナリア</li>
        <li onclick="openSearch(this, '10-05.xml')">カプトリル</li>
        <li onclick="openSearch(this, '05-04.xml')">カーボスター</li>
        <li onclick="openSearch(this, '15-01.xml|15-05.xml')">加味逍遙散</li>
        <li onclick="openSearch(this, '06-06.xml')">カルデナリン</li>
        <li onclick="openSearch(this, '11-08.xml')">カルトスタット</li>
        <li onclick="openSearch(this, '09-02.xml|09-06.xml|11-10.xml|17-02.xml')">カロナール</li>
        <li onclick="openSearch(this, '01-07.xml')">カンサイダス</li>
        <li onclick="openSearch(this, '04-12.xml|05-12.xml')">カンプト</li>
    </ul>
    <ul id="yak_ki">
        <li onclick="openSearch(this, '12-06.xml')">キサラタン</li>
        <li onclick="openSearch(this, '08-08.xml')">キサンボン</li>
        <li onclick="openSearch(this, '09-08.xml')">キシロカイン注</li>
        <li onclick="openSearch(this, '03-11.xml')">キニジン</li>
        <li onclick="openSearch(this, '13-04.xml|13-08.xml|16-04.xml')">キプレス</li>
        <li onclick="openSearch(this, '02-01.xml|02-03.xml|16-04.xml')">キュバールエアゾール</li>
        <li onclick="openSearch(this, '01-10.xml|11-11.xml')">キュビシン</li>
        <li onclick="openSearch(this, '04-13.xml')">強力ポステリザン軟膏</li>
        <li onclick="openSearch(this, '07-02.xml')">キロサイド</li>
        <li onclick="openSearch(this, '11-01.xml')">キンダベート</li>
    </ul>
    <ul id="yak_ku">
        <li onclick="openSearch(this, '06-01.xml|06-03.xml|17-07.xml')">グラクティブ</li>
        <li onclick="openSearch(this, '06-07.xml')">グラケー</li>
        <li onclick="openSearch(this, '05-02.xml')">グラジナ</li>
        <li onclick="openSearch(this, '12-06.xml')">グラナテック</li>
        <li onclick="openSearch(this, '13-02.xml|13-03.xml')">クラバモックス</li>
        <li onclick="openSearch(this, '01-04.xml|01-05.xml|01-09.xml|02-01.xml|02-02.xml|11-03.xml|11-11.xml|12-03.xml|13-05.xml')">クラビット</li>
        <li onclick="openSearch(this, '02-02.xml')">クラフォラン</li>
        <li onclick="openSearch(this, '02-01.xml|02-07.xml|13-03.xml')">クラリシッド</li>
        <li onclick="openSearch(this, '01-04.xml|01-09.xml|02-01.xml|02-02.xml|02-07.xml|03-08.xml|04-04.xml|07-05.xml|13-03.xml|13-05.xml|13-08.xml')">クラリス</li>
        <li onclick="openSearch(this, '16-01.xml')">クラリスドライシロップ小児用</li>
        <li onclick="openSearch(this, '12-02.xml')">クラリスロマイシン</li>
        <li onclick="openSearch(this, '11-02.xml|16-03.xml')">クラリチン</li>
        <li onclick="openSearch(this, '01-03.xml')">グラン</li>
        <li onclick="openSearch(this, '04-05.xml')">グランダキシン</li>
        <li onclick="openSearch(this, '16-02.xml')">クリアクター</li>
        <li onclick="openSearch(this, '08-08.xml')">グリセオール</li>
        <li onclick="openSearch(this, '16-08.xml')">グリセリン浣腸液</li>
        <li onclick="openSearch(this, '11-13.xml')">グリチロン</li>
        <li onclick="openSearch(this, '07-02.xml')">グリベック</li>
        <li onclick="openSearch(this, '06-01.xml')">グリミクロン</li>
        <li onclick="openSearch(this, '06-01.xml')">グリミクロンHA</li>
        <li onclick="openSearch(this, '06-01.xml')">グルコバイ</li>
        <li onclick="openSearch(this, '08-08.xml|16-02.xml')">グルトパ</li>
        <li onclick="openSearch(this, '06-01.xml')">グルファスト</li>
        <li onclick="openSearch(this, '06-01.xml')">グルベス</li>
        <li onclick="openSearch(this, '03-03.xml|03-04.xml|03-16.xml|06-02.xml|08-08.xml')">クレストール</li>
        <li onclick="openSearch(this, '01-04.xml|01-05.xml|02-02.xml')">グレースビット</li>
        <li onclick="openSearch(this, '11-03.xml')">クレナフィン</li>
        <li onclick="openSearch(this, '15-06.xml')">クロミッド</li>
        <li onclick="openSearch(this, '12-03.xml')">クロルヘキシジン0.02％</li>
    </ul>
    <ul id="yak_ke">
        <li onclick="openSearch(this, '15-05.xml')">桂枝茯苓丸</li>
        <li onclick="openSearch(this, '11-09.xml')">ゲット</li>
        <li onclick="openSearch(this, '12-04.xml')">ケナコルト-A（40 mg/mL）</li>
        <li onclick="openSearch(this, '01-05.xml|11-11.xml')">ケフラール</li>
        <li onclick="openSearch(this, '11-11.xml')">ケフレックス</li>
        <li onclick="openSearch(this, '11-06.xml|11-08.xml')">ゲーベンクリーム</li>
        <li onclick="openSearch(this, '11-03.xml|17-05.xml')">ケラチナミンクリーム</li>
        <li onclick="openSearch(this, '05-03.xml')">献血アルブミン25％注</li>
        <li onclick="openSearch(this, '07-05.xml|10-04.xml|16-02.xml')">献血ヴェノグロブリンIH</li>
        <li onclick="openSearch(this, '07-05.xml|16-02.xml')">献血グロベニン-I</li>
        <li onclick="openSearch(this, '07-06.xml')">献血ノンスロン</li>
        <li onclick="openSearch(this, '07-05.xml|16-02.xml')">献血ベニロン-I</li>
        <li onclick="openSearch(this, '03-08.xml')">ゲンタシン</li>
        <li onclick="openSearch(this, '11-03.xml')">ゲンタシン軟膏</li>
        <li onclick="openSearch(this, '01-06.xml')">ゲンボイヤ</li>
    </ul>
    <ul id="yak_ko">
        <li onclick="openSearch(this, '03-05.xml')">コアテック</li>
        <li onclick="openSearch(this, '11-09.xml')">ココフィー</li>
        <li onclick="openSearch(this, '12-06.xml')">コソプト</li>
        <li onclick="openSearch(this, '02-01.xml')">コデインリン酸塩</li>
        <li onclick="openSearch(this, '14-04.xml')">ゴナックス</li>
        <li onclick="openSearch(this, '03-02.xml|03-04.xml')">コニール</li>
        <li onclick="openSearch(this, '08-09.xml')">コパキソン</li>
        <li onclick="openSearch(this, '03-02.xml')">コバシル</li>
        <li onclick="openSearch(this, '05-02.xml')">コペガス</li>
        <li onclick="openSearch(this, '08-06.xml')">コムタン</li>
        <li onclick="openSearch(this, '01-06.xml')">コムプレラ</li>
        <li onclick="openSearch(this, '04-05.xml')">コランチル</li>
        <li onclick="openSearch(this, '10-05.xml|12-04.xml')">コルヒチン</li>
        <li onclick="openSearch(this, '06-02.xml')">コレバイン</li>
        <li onclick="openSearch(this, '15-01.xml')">コンスタン</li>
    </ul>
    <ul id="yak_sa">
        <li onclick="openSearch(this, '02-01.xml|11-02.xml|13-04.xml|17-05.xml')">ザイザル</li>
        <li onclick="openSearch(this, '13-03.xml')">ザイザルシロップ</li>
        <li onclick="openSearch(this, '14-04.xml')">ザイティガ</li>
        <li onclick="openSearch(this, '12-02.xml')">サイプレジン</li>
        <li onclick="openSearch(this, '01-10.xml|02-02.xml')">ザイボックス</li>
        <li onclick="openSearch(this, '07-01.xml')">サイモグロブリン</li>
        <li onclick="openSearch(this, '06-04.xml|14-06.xml')">ザイロリック</li>
        <li onclick="openSearch(this, '04-09.xml|09-02.xml|09-03.xml|17-02.xml')">サインバルタ</li>
        <li onclick="openSearch(this, '11-14.xml')">ザガーロ</li>
        <li onclick="openSearch(this, '16-03.xml')">サクシゾン</li>
        <li onclick="openSearch(this, '11-08.xml')">サトウザルベ</li>
        <li onclick="openSearch(this, '06-03.xml')">サノレックス</li>
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">ザファテック</li>
        <li onclick="openSearch(this, '05-04.xml')">サブラッドBSG</li>
        <li onclick="openSearch(this, '11-09.xml')">サポーテックス</li>
        <li onclick="openSearch(this, '03-05.xml|03-07.xml|05-03.xml')">サムスカ</li>
        <li onclick="openSearch(this, '01-07.xml')">サムチレール</li>
        <li onclick="openSearch(this, '12-06.xml')">ザラカム</li>
        <li onclick="openSearch(this, '10-06.xml')">サラジェン</li>
        <li onclick="openSearch(this, '04-10.xml|04-11.xml')">サラゾピリン</li>
        <li onclick="openSearch(this, '04-10.xml')">サラゾピリン坐剤</li>
        <li onclick="openSearch(this, '10-06.xml')">サリグレン</li>
        <li onclick="openSearch(this, '11-03.xml')">サリチル酸ワセリン</li>
        <li onclick="openSearch(this, '02-01.xml|16-03.xml|16-04.xml')">サルタノールインヘラー</li>
        <li onclick="openSearch(this, '14-03.xml')">ザルティア</li>
        <li onclick="openSearch(this, '01-04.xml|03-08.xml|04-04.xml|07-05.xml|11-11.xml|13-05.xml')">サワシリン</li>
        <li onclick="openSearch(this, '04-08.xml|04-09.xml|04-13.xml|14-06.xml|17-02.xml')">酸化マグネシウム</li>
        <li onclick="openSearch(this, '04-10.xml|16-02.xml')">サンディミュン</li>
        <li onclick="openSearch(this, '12-08.xml')">サンテルタックス20＋ビタミン＆ミネラル</li>
        <li onclick="openSearch(this, '03-11.xml')">サンリズム</li>
    </ul>
    <ul id="yak_si">
        <li onclick="openSearch(this, '14-07.xml')">シアリス</li>
        <li onclick="openSearch(this, '15-01.xml|15-05.xml')">ジェイゾロフト</li>
        <li onclick="openSearch(this, '02-01.xml|02-02.xml|13-05.xml')">ジェニナック</li>
        <li onclick="openSearch(this, '14-04.xml')">ジェブタナ</li>
        <li onclick="openSearch(this, '05-12.xml|14-02.xml|15-04.xml')">ジェムザール</li>
        <li onclick="openSearch(this, '10-06.xml|12-02.xml')">ジクアス</li>
        <li onclick="openSearch(this, '11-09.xml')">シグバリス</li>
        <li onclick="openSearch(this, '03-03.xml|03-04.xml|03-05.xml|17-06.xml')">シグマート</li>
        <li onclick="openSearch(this, '03-05.xml')">ジゴキシン</li>
        <li onclick="openSearch(this, '01-04.xml|01-09.xml|02-01.xml|02-02.xml|03-08.xml|16-01.xml')">ジスロマック</li>
        <li onclick="openSearch(this, '01-04.xml|02-02.xml|13-05.xml')">ジスロマックSR</li>
        <li onclick="openSearch(this, '17-05.xml')">ジフラール軟膏</li>
        <li onclick="openSearch(this, '02-04.xml|02-05.xml')">シーブリ</li>
        <li onclick="openSearch(this, '01-07.xml|12-03.xml')">ジフルカン</li>
        <li onclick="openSearch(this, '08-04.xml')">ジプレキサ</li>
        <li onclick="openSearch(this, '01-05.xml|01-08.xml|01-09.xml|04-11.xml')">シプロキサン</li>
        <li onclick="openSearch(this, '03-06.xml|03-11.xml')">シベノール</li>
        <li onclick="openSearch(this, '02-03.xml|02-04.xml|02-05.xml')">シムビコートタービュヘイラー</li>
        <li onclick="openSearch(this, '05-02.xml')">ジメンシー配合錠</li>
        <li onclick="openSearch(this, '07-02.xml')">ジャカビ</li>
        <li onclick="openSearch(this, '05-03.xml|14-06.xml')">芍薬甘草湯</li>
        <li onclick="openSearch(this, '06-01.xml')">ジャディアンス</li>
        <li onclick="openSearch(this, '03-16.xml|06-01.xml|06-03.xml|17-07.xml')">ジャヌビア</li>
        <li onclick="openSearch(this, '06-01.xml')">シュアポスト</li>
        <li onclick="openSearch(this, '16-08.xml')">重カマ</li>
        <li onclick="openSearch(this, '14-01.xml')">重曹</li>
        <li onclick="openSearch(this, '15-05.xml')">ジュリナ</li>
        <li onclick="openSearch(this, '04-08.xml')">潤腸湯</li>
        <li onclick="openSearch(this, '07-05.xml')">照射濃厚血小板-LR</li>
        <li onclick="openSearch(this, '11-09.xml')">ジョブスト アルサーケア</li>
        <li onclick="openSearch(this, '11-09.xml')">ジョブスト ウルトラシアー</li>
        <li onclick="openSearch(this, '01-03.xml')">ジーラスタ</li>
        <li onclick="openSearch(this, '08-09.xml')">ジレニア</li>
        <li onclick="openSearch(this, '04-14.xml')">シロスタゾール</li>
        <li onclick="openSearch(this, '02-03.xml|13-04.xml|13-08.xml|16-04.xml')">シングレア</li>
        <li onclick="openSearch(this, '07-06.xml|07-08.xml')">新鮮凍結血漿-LR</li>
        <li onclick="openSearch(this, '15-01.xml')">シンフェーズ</li>
        <li onclick="openSearch(this, '08-06.xml')">シンメトレル</li>
        <li onclick="openSearch(this, '05-05.xml')">シンレスタール</li>
    </ul>
    <ul id="yak_su">
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">スイニー</li>
        <li onclick="openSearch(this, '02-03.xml')">水溶性ハイドロコートン</li>
        <li onclick="openSearch(this, '04-11.xml|13-10.xml|16-02.xml|16-03.xml')">水溶性プレドニン</li>
        <li onclick="openSearch(this, '06-01.xml|06-03.xml')">スーグラ</li>
        <li onclick="openSearch(this, '06-01.xml')">スターシス</li>
        <li onclick="openSearch(this, '08-06.xml')">スタレボ</li>
        <li onclick="openSearch(this, '04-12.xml|05-08.xml')">スチバーガ</li>
        <li onclick="openSearch(this, '14-05.xml')">ステーブラ</li>
        <li onclick="openSearch(this, '04-10.xml')">ステロネマ</li>
        <li onclick="openSearch(this, '11-15.xml')">ストロメクトール</li>
        <li onclick="openSearch(this, '02-04.xml|02-05.xml')">スピオルトレスピマット</li>
        <li onclick="openSearch(this, '02-03.xml')">スピリーバ</li>
        <li onclick="openSearch(this, '02-04.xml|02-05.xml')">スピリーバレスピマット</li>
        <li onclick="openSearch(this, '14-05.xml')">スピロペント</li>
        <li onclick="openSearch(this, '07-02.xml')">スプリセル</li>
        <li onclick="openSearch(this, '15-01.xml')">スプレキュアMP</li>
        <li onclick="openSearch(this, '15-01.xml')">スプレキュア点鼻液</li>
        <li onclick="openSearch(this, '09-06.xml')">スベニール</li>
        <li onclick="openSearch(this, '11-15.xml')">スミスリンローション</li>
        <li onclick="openSearch(this, '01-08.xml')">スルペラゾン</li>
        <li onclick="openSearch(this, '08-08.xml')">スロンノンHI</li>
        <li onclick="openSearch(this, '05-02.xml')">スンベプラ</li>
    </ul>
    <ul id="yak_se">
        <li onclick="openSearch(this, '03-16.xml|06-01.xml|06-03.xml|17-07.xml')">セイブル</li>
        <li onclick="openSearch(this, '02-08.xml|13-07.xml')">生理食塩水</li>
        <li onclick="openSearch(this, '03-04.xml')">ゼストリル</li>
        <li onclick="openSearch(this, '03-03.xml|03-16.xml|05-05.xml|06-02.xml')">ゼチーア</li>
        <li onclick="openSearch(this, '04-05.xml|04-09.xml|11-05.xml')">セディール</li>
        <li onclick="openSearch(this, '11-12.xml')">ゼビアックスローション</li>
        <li onclick="openSearch(this, '13-07.xml')">セファドール</li>
        <li onclick="openSearch(this, '03-08.xml|11-11.xml|12-03.xml')">セファメジン α</li>
        <li onclick="openSearch(this, '11-13.xml')">セファランチン</li>
        <li onclick="openSearch(this, '01-05.xml|11-03.xml')">セフゾン</li>
        <li onclick="openSearch(this, '11-03.xml')">ゼフナートクリーム</li>
        <li onclick="openSearch(this, '05-09.xml')">セフメタゾン</li>
        <li onclick="openSearch(this, '03-02.xml|03-05.xml|06-06.xml')">セララ</li>
        <li onclick="openSearch(this, '13-07.xml|16-05.xml')">セルシン</li>
        <li onclick="openSearch(this, '10-02.xml|10-07.xml|16-07.xml')">セルセプト</li>
        <li onclick="openSearch(this, '04-05.xml|04-09.xml')">セレキノン</li>
        <li onclick="openSearch(this, '08-01.xml|09-01.xml|09-02.xml|09-03.xml|09-06.xml|10-01.xml|10-06.xml|17-02.xml')">セレコックス</li>
        <li onclick="openSearch(this, '08-01.xml')">セレニカR</li>
        <li onclick="openSearch(this, '08-04.xml')">セレネース</li>
        <li onclick="openSearch(this, '02-04.xml')">セレベント</li>
        <li onclick="openSearch(this, '03-01.xml|06-06.xml')">セロケン</li>
        <li onclick="openSearch(this, '04-07.xml|04-12.xml')">ゼローダ</li>
        <li onclick="openSearch(this, '04-11.xml')">ゼンタコート</li>
    </ul>
    <ul id="yak_so">
        <li onclick="openSearch(this, '01-03.xml|01-05.xml|01-08.xml|02-02.xml|05-09.xml')">ゾシン</li>
        <li onclick="openSearch(this, '05-09.xml|14-06.xml')">ソセゴン</li>
        <li onclick="openSearch(this, '05-02.xml')">ソバルディ</li>
        <li onclick="openSearch(this, '01-04.xml|08-10.xml|11-10.xml|12-04.xml')">ゾビラックス</li>
        <li onclick="openSearch(this, '12-03.xml')">ゾビラックス眼軟膏</li>
        <li onclick="openSearch(this, '14-04.xml')">ゾーフィゴ</li>
        <li onclick="openSearch(this, '12-01.xml|12-02.xml')">ソフトサンティア</li>
        <li onclick="openSearch(this, '08-01.xml')">ゾーミッグRM</li>
        <li onclick="openSearch(this, '14-04.xml')">ゾメタ</li>
        <li onclick="openSearch(this, '17-06.xml')">ソメリン</li>
        <li onclick="openSearch(this, '06-08.xml|15-01.xml')">ゾラデックス</li>
        <li onclick="openSearch(this, '14-04.xml')">ゾラデックスLAデポ</li>
        <li onclick="openSearch(this, '15-01.xml')">ソラナックス</li>
        <li onclick="openSearch(this, '13-07.xml')">ソリタ-T1号</li>
        <li onclick="openSearch(this, '02-03.xml|06-05.xml|10-04.xml|13-07.xml')">ソリタ-T3号</li>
        <li onclick="openSearch(this, '07-08.xml')">ソリリス</li>
        <li onclick="openSearch(this, '06-05.xml|07-02.xml|16-03.xml|16-04.xml')">ソル・コーテフ</li>
        <li onclick="openSearch(this, '05-03.xml')">ソルダクトン</li>
        <li onclick="openSearch(this, '02-08.xml')">ソルデム1</li>
        <li onclick="openSearch(this, '02-08.xml')">ソルデム3A</li>
        <li onclick="openSearch(this, '02-03.xml|02-09.xml|02-09.xml|02-11.xml|05-04.xml|05-06.xml|07-05.xml|07-08.xml|08-09.xml|10-04.xml|10-07.xml|10-08.xml|10-09.xml|11-07.xml|12-04.xml|16-02.xml|16-03.xml|16-04.xml|16-06.xml|16-07.xml')">ソル・メドロール</li>
        <li onclick="openSearch(this, '02-03.xml')">ゾレア</li>
    </ul>
    <ul id="yak_ta">
        <li onclick="openSearch(this, '16-05.xml')">ダイアップ</li>
        <li onclick="openSearch(this, '03-02.xml|03-05.xml|03-06.xml|03-07.xml')">ダイアート</li>
        <li onclick="openSearch(this, '04-08.xml')">大黄甘草湯</li>
        <li onclick="openSearch(this, '04-08.xml')">大建中湯</li>
        <li onclick="openSearch(this, '08-09.xml')">タイサブリ</li>
        <li onclick="openSearch(this, '07-02.xml')">ダウノマイシン</li>
        <li onclick="openSearch(this, '07-03.xml')">ダカルバジン</li>
        <li onclick="openSearch(this, '04-03.xml|06-08.xml|14-04.xml|15-03.xml|15-04.xml')">タキソテール</li>
        <li onclick="openSearch(this, '06-08.xml|15-02.xml|15-03.xml|15-04.xml')">タキソール</li>
        <li onclick="openSearch(this, '05-02.xml')">ダクルインザ</li>
        <li onclick="openSearch(this, '02-01.xml|03-04.xml|04-02.xml|04-04.xml|04-06.xml')">タケキャブ</li>
        <li onclick="openSearch(this, '04-02.xml|04-04.xml|07-05.xml|10-02.xml')">タケプロン</li>
        <li onclick="openSearch(this, '04-06.xml')">タケプロン静注用</li>
        <li onclick="openSearch(this, '01-10.xml|02-02.xml')">タゴシッド</li>
        <li onclick="openSearch(this, '07-02.xml')">タシグナ</li>
        <li onclick="openSearch(this, '03-02.xml|14-01.xml')">タナトリル</li>
        <li onclick="openSearch(this, '12-06.xml')">タプコム</li>
        <li onclick="openSearch(this, '12-06.xml')">タプロス</li>
        <li onclick="openSearch(this, '17-02.xml')">タペンタ</li>
        <li onclick="openSearch(this, '01-01.xml')">タミフル</li>
        <li onclick="openSearch(this, '07-04.xml')">ダラザレックス</li>
        <li onclick="openSearch(this, '11-12.xml|17-05.xml')">ダラシンTゲル</li>
        <li onclick="openSearch(this, '11-12.xml')">ダラシンTローション</li>
        <li onclick="openSearch(this, '02-01.xml|11-01.xml|11-02.xml|11-05.xml|13-04.xml|17-05.xml')">タリオン</li>
        <li onclick="openSearch(this, '11-07.xml|12-03.xml')">タリビッド眼軟膏</li>
        <li onclick="openSearch(this, '12-01.xml')">タリムス</li>
        <li onclick="openSearch(this, '05-12.xml')">タルセバ</li>
        <li onclick="openSearch(this, '03-11.xml')">タンボコール</li>
    </ul>
    <ul id="yak_ti">
        <li onclick="openSearch(this, '05-11.xml')">チアトン</li>
        <li onclick="openSearch(this, '06-05.xml')">チウラジール</li>
        <li onclick="openSearch(this, '01-03.xml|01-05.xml|05-09.xml|12-03.xml')">チエナム</li>
        <li onclick="openSearch(this, '14-06.xml')">チオラ</li>
        <li onclick="openSearch(this, '12-06.xml')">チモプトールXE</li>
        <li onclick="openSearch(this, '02-06.xml')">チャンピックス</li>
        <li onclick="openSearch(this, '13-01.xml')">釣藤散</li>
        <li onclick="openSearch(this, '14-06.xml')">猪苓湯</li>
        <li onclick="openSearch(this, '06-05.xml')">チラーヂンS錠</li>
    </ul>
    <ul id="yak_tu">
        <li>該当なし</li>
    </ul>
    <ul id="yak_te">
        <li onclick="openSearch(this, '12-02.xml')">ティアバランス</li>
        <li onclick="openSearch(this, '04-07.xml|05-12.xml')">ティーエスワン</li>
        <li onclick="openSearch(this, '15-01.xml')">ディナゲスト</li>
        <li onclick="openSearch(this, '15-05.xml')">ディビゲル</li>
        <li onclick="openSearch(this, '11-12.xml|17-05.xml')">ディフェリンゲル</li>
        <li onclick="openSearch(this, '13-04.xml')">ディレグラ</li>
        <li onclick="openSearch(this, '02-03.xml')">テオドール</li>
        <li onclick="openSearch(this, '02-03.xml|02-08.xml|07-02.xml|09-08.xml|11-07.xml|14-04.xml|17-04.xml')">デカドロン</li>
        <li onclick="openSearch(this, '16-03.xml')">デカドロンエリキシル</li>
        <li onclick="openSearch(this, '07-03.xml')">デキサメタゾン</li>
        <li onclick="openSearch(this, '08-09.xml')">テクフィデラ</li>
        <li onclick="openSearch(this, '08-05.xml')">テグレトール</li>
        <li onclick="openSearch(this, '11-01.xml|11-02.xml')">デザレックス</li>
        <li onclick="openSearch(this, '01-06.xml')">デシコビLT</li>
        <li onclick="openSearch(this, '08-02.xml')">デジレル</li>
        <li onclick="openSearch(this, '06-06.xml|12-06.xml')">デタントール</li>
        <li onclick="openSearch(this, '14-05.xml')">デトルシトール</li>
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">テネリア</li>
        <li onclick="openSearch(this, '01-09.xml|12-03.xml')">デノシン</li>
        <li onclick="openSearch(this, '05-01.xml')">テノゼット</li>
        <li onclick="openSearch(this, '10-08.xml')">デノタス</li>
        <li onclick="openSearch(this, '03-06.xml|06-05.xml|17-06.xml')">テノーミン</li>
        <li onclick="openSearch(this, '08-01.xml|08-05.xml')">デパケンR</li>
        <li onclick="openSearch(this, '15-01.xml')">デパス</li>
        <li onclick="openSearch(this, '01-06.xml')">テビケイ</li>
        <li onclick="openSearch(this, '06-01.xml')">デベルザ</li>
        <li onclick="openSearch(this, '11-12.xml')">デュアック配合ゲル</li>
        <li onclick="openSearch(this, '11-08.xml')">デュオアクティブ</li>
        <li onclick="openSearch(this, '11-08.xml')">デュオアクティブCGF</li>
        <li onclick="openSearch(this, '11-08.xml')">デュオアクティブET</li>
        <li onclick="openSearch(this, '12-06.xml')">デュオトラバ</li>
        <li onclick="openSearch(this, '15-05.xml|15-06.xml')">デュファストン</li>
        <li onclick="openSearch(this, '09-02.xml')">デュロテップMTパッチ</li>
        <li onclick="openSearch(this, '07-02.xml|14-02.xml')">テラルビシン</li>
        <li onclick="openSearch(this, '06-07.xml')">テリボン</li>
        <li onclick="openSearch(this, '11-01.xml')">デルモベート</li>
        <li onclick="openSearch(this, '11-13.xml')">デルモベートスカルプ</li>
        <li onclick="openSearch(this, '10-02.xml|11-04.xml|17-05.xml')">デルモベート軟膏</li>
        <li onclick="openSearch(this, '16-08.xml')">テレミンソフト</li>
    </ul>
    <ul id="yak_to">
        <li onclick="openSearch(this, '15-01.xml|15-05.xml')">当帰芍薬散</li>
        <li onclick="openSearch(this, '15-04.xml')">ドキシル</li>
        <li onclick="openSearch(this, '04-05.xml')">ドグマチール</li>
        <li onclick="openSearch(this, '14-03.xml|14-05.xml')">トビエース</li>
        <li onclick="openSearch(this, '08-01.xml|08-05.xml')">トピナ</li>
        <li onclick="openSearch(this, '06-04.xml')">トピロリック</li>
        <li onclick="openSearch(this, '03-05.xml|03-07.xml')">ドブトレックス</li>
        <li onclick="openSearch(this, '12-03.xml')">トブラシン</li>
        <li onclick="openSearch(this, '04-12.xml|05-12.xml')">トポテシン</li>
        <li onclick="openSearch(this, '06-02.xml')">トライコア</li>
        <li onclick="openSearch(this, '03-13.xml|10-05.xml')">トラクリア</li>
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">トラゼンタ</li>
        <li onclick="openSearch(this, '15-06.xml')">トラネキサム酸</li>
        <li onclick="openSearch(this, '12-06.xml')">トラバタンズ</li>
        <li onclick="openSearch(this, '13-07.xml|17-02.xml')">トラベルミン</li>
        <li onclick="openSearch(this, '09-02.xml|09-03.xml|09-06.xml')">トラマール</li>
        <li onclick="openSearch(this, '09-01.xml|09-02.xml|09-03.xml|09-06.xml|09-08.xml')">トラムセット</li>
        <li onclick="openSearch(this, '17-06.xml')">ドラール</li>
        <li onclick="openSearch(this, '06-06.xml')">トランデート</li>
        <li onclick="openSearch(this, '15-01.xml')">トリキュラー</li>
        <li onclick="openSearch(this, '08-01.xml')">トリプタノール</li>
        <li onclick="openSearch(this, '01-06.xml')">トリーメク</li>
        <li onclick="openSearch(this, '12-06.xml')">トルソプト1％</li>
        <li onclick="openSearch(this, '03-16.xml')">ドルナー</li>
        <li onclick="openSearch(this, '16-05.xml')">ドルミカム</li>
        <li onclick="openSearch(this, '06-01.xml|06-03.xml')">トルリシティ</li>
        <li onclick="openSearch(this, '07-03.xml')">トレアキシン</li>
        <li onclick="openSearch(this, '06-01.xml')">トレシーバ</li>
        <li onclick="openSearch(this, '10-04.xml|17-05.xml')">ドレニゾンテープ</li>
        <li onclick="openSearch(this, '03-13.xml')">トレプロスト</li>
        <li onclick="openSearch(this, '08-06.xml')">トレリーフ</li>
    </ul>
    <ul id="yak_na">
        <li onclick="openSearch(this, '06-04.xml|08-01.xml')">ナイキサン</li>
        <li onclick="openSearch(this, '04-05.xml|08-01.xml')">ナウゼリン</li>
        <li onclick="openSearch(this, '15-01.xml')">ナサニール点鼻液</li>
        <li onclick="openSearch(this, '13-04.xml')">ナゾネックス</li>
        <li onclick="openSearch(this, '03-02.xml|06-03.xml')">ナトリックス</li>
    </ul>
    <ul id="yak_ni">
        <li onclick="openSearch(this, '02-06.xml')">ニコチネルTTS</li>
        <li onclick="openSearch(this, '01-09.xml')">ニタゾキサニド</li>
        <li onclick="openSearch(this, '16-02.xml')">日赤ポリグロビンN5％</li>
        <li onclick="openSearch(this, '03-03.xml')">ニトロペン</li>
        <li onclick="openSearch(this, '03-05.xml')">ニトロール</li>
        <li onclick="openSearch(this, '03-05.xml')">ニトロールスプレー</li>
        <li onclick="openSearch(this, '08-06.xml')">ニュープロパッチ</li>
        <li onclick="openSearch(this, '03-06.xml|05-05.xml|14-01.xml')">ニューロタン</li>
        <li onclick="openSearch(this, '07-04.xml')">ニンラーロ</li>
    </ul>
    <ul id="yak_nu">
        <li onclick="openSearch(this, '02-03.xml')">ヌーカラ</li>
    </ul>
    <ul id="yak_ne">
        <li onclick="openSearch(this, '14-03.xml|14-05.xml')">ネオキシテープ</li>
        <li onclick="openSearch(this, '02-03.xml|16-04.xml')">ネオフィリン</li>
        <li onclick="openSearch(this, '02-09.xml|02-09.xml|07-01.xml|10-02.xml|10-04.xml|10-09.xml|11-01.xml|12-04.xml|16-02.xml|16-07.xml')">ネオーラル</li>
        <li onclick="openSearch(this, '02-01.xml|03-04.xml|04-02.xml|04-04.xml|04-05.xml|04-06.xml|05-11.xml|07-05.xml|09-06.xml|17-02.xml')">ネキシウム</li>
        <li onclick="openSearch(this, '05-08.xml')">ネクサバール</li>
        <li onclick="openSearch(this, '03-16.xml|06-01.xml|17-07.xml')">ネシーナ</li>
        <li onclick="openSearch(this, '07-01.xml')">ネスプ</li>
        <li onclick="openSearch(this, '04-13.xml')">ネリプロクト軟膏</li>
    </ul>
    <ul id="yak_no">
        <li onclick="openSearch(this, '05-04.xml|07-06.xml')">ノイアート</li>
        <li onclick="openSearch(this, '01-03.xml')">ノイトロジン</li>
        <li onclick="openSearch(this, '09-03.xml')">ノイロトロピン</li>
        <li onclick="openSearch(this, '07-06.xml')">濃厚血小板-LR</li>
        <li onclick="openSearch(this, '08-06.xml')">ノウリアスト</li>
        <li onclick="openSearch(this, '08-08.xml|10-05.xml')">ノバスタンHI</li>
        <li onclick="openSearch(this, '09-02.xml|09-08.xml')">ノバミン</li>
        <li onclick="openSearch(this, '05-03.xml|05-07.xml')">ノピコール</li>
        <li onclick="openSearch(this, '06-01.xml')">ノボラピッド</li>
        <li onclick="openSearch(this, '06-01.xml')">ノボラピッド30・50・70ミックス</li>
        <li onclick="openSearch(this, '05-11.xml')">ノボラピッド注フレックスペン</li>
        <li onclick="openSearch(this, '09-03.xml|09-06.xml')">ノルスパンテープ</li>
        <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-16.xml|06-03.xml|10-05.xml')">ノルバスク</li>
        <li onclick="openSearch(this, '06-08.xml')">ノルバデックス</li>
    </ul>
    <ul id="yak_ha">
        <li onclick="openSearch(this, '14-07.xml')">バイアグラ</li>
        <li onclick="openSearch(this, '03-03.xml|03-04.xml|03-16.xml|07-02.xml|10-02.xml|10-08.xml|17-06.xml')">バイアスピリン</li>
        <li onclick="openSearch(this, '17-07.xml')">バイエッタ</li>
        <li onclick="openSearch(this, '07-02.xml')">ハイドレア</li>
        <li onclick="openSearch(this, '13-04.xml')">バイナス</li>
        <li onclick="openSearch(this, '03-04.xml')">バイミカード</li>
        <li onclick="openSearch(this, '04-09.xml|11-05.xml|13-01.xml|15-01.xml|15-05.xml')">パキシル</li>
        <li onclick="openSearch(this, '11-05.xml|11-08.xml')">白色ワセリン</li>
        <li onclick="openSearch(this, '01-07.xml|10-07.xml|10-08.xml|10-10.xml')">バクタ</li>
        <li onclick="openSearch(this, '02-01.xml')">麦門冬湯</li>
        <li onclick="openSearch(this, '01-05.xml')">パシル</li>
        <li onclick="openSearch(this, '01-05.xml')">パズクロス</li>
        <li onclick="openSearch(this, '17-05.xml')">パスタロンソフト軟膏</li>
        <li onclick="openSearch(this, '04-07.xml|06-08.xml')">ハーセプチン</li>
        <li onclick="openSearch(this, '12-01.xml')">パタノール</li>
        <li onclick="openSearch(this, '14-03.xml|14-05.xml')">バップフォー</li>
        <li onclick="openSearch(this, '08-08.xml|16-02.xml')">パナルジン</li>
        <li onclick="openSearch(this, '01-05.xml')">バナン</li>
        <li onclick="openSearch(this, '12-01.xml')">パピロックミニ</li>
        <li onclick="openSearch(this, '08-01.xml')">バファリンA330</li>
        <li onclick="openSearch(this, '03-11.xml')">ハーフジゴキシンKY</li>
        <li onclick="openSearch(this, '05-02.xml')">ハーボニー</li>
        <li onclick="openSearch(this, '09-11.xml')">ハラヴェン</li>
        <li onclick="openSearch(this, '05-01.xml|05-04.xml|10-08.xml')">バラクルード</li>
        <li onclick="openSearch(this, '02-08.xml|15-02.xml|15-03.xml|15-04.xml')">パラプラチン</li>
        <li onclick="openSearch(this, '02-01.xml|03-04.xml|04-02.xml|04-04.xml|04-05.xml|04-06.xml|05-11.xml|07-05.xml|10-05.xml')">パリエット</li>
        <li onclick="openSearch(this, '12-03.xml')">バリキサ</li>
        <li onclick="openSearch(this, '01-04.xml|11-10.xml|13-10.xml')">バルトレックス</li>
        <li onclick="openSearch(this, '14-06.xml')">ハルナールD</li>
        <li onclick="openSearch(this, '16-04.xml')">パルミコート吸入液</li>
        <li onclick="openSearch(this, '02-01.xml|02-03.xml|02-05.xml|16-04.xml')">パルミコートタービュヘイラー</li>
        <li onclick="openSearch(this, '08-04.xml')">ハロマンス</li>
        <li onclick="openSearch(this, '13-07.xml')">半夏白朮天麻湯</li>
        <li onclick="openSearch(this, '11-11.xml')">バンコマイシン</li>
        <li onclick="openSearch(this, '12-03.xml')">バンコマイシン眼軟膏</li>
        <li onclick="openSearch(this, '01-05.xml')">パンスポリン</li>
        <li onclick="openSearch(this, '17-05.xml')">パンデルローション</li>
        <li onclick="openSearch(this, '03-05.xml|03-07.xml')">ハンプ</li>
    </ul>
    <ul id="yak_hi">
        <li onclick="openSearch(this, '10-06.xml|12-02.xml')">ヒアレイン</li>
        <li onclick="openSearch(this, '10-06.xml')">ヒアレインミニ</li>
        <li onclick="openSearch(this, '05-04.xml')">ピアーレシロップ</li>
        <li onclick="openSearch(this, '03-08.xml|13-02.xml|16-01.xml')">ビクシリン</li>
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">ビクトーザ</li>
        <li onclick="openSearch(this, '12-08.xml')">ビスダイン</li>
        <li onclick="openSearch(this, '15-03.xml')">ヒスロンH</li>
        <li onclick="openSearch(this, '03-03.xml|03-06.xml')">ビソノテープ</li>
        <li onclick="openSearch(this, '07-02.xml')">ビダーザ</li>
        <li onclick="openSearch(this, '17-07.xml')">ビデュリオン</li>
        <li onclick="openSearch(this, '10-08.xml')">ピドキサール</li>
        <li onclick="openSearch(this, '14-06.xml')">ヒドロクロロチアジド</li>
        <li onclick="openSearch(this, '14-02.xml')">ピノルビン</li>
        <li onclick="openSearch(this, '12-06.xml')">ピバレフリン0.1％</li>
        <li onclick="openSearch(this, '06-07.xml|09-02.xml')">ビビアント</li>
        <li onclick="openSearch(this, '01-04.xml|11-12.xml|17-05.xml')">ビブラマイシン</li>
        <li onclick="openSearch(this, '12-03.xml')">ピマリシン眼軟膏</li>
        <li onclick="openSearch(this, '06-01.xml')">ヒューマログ</li>
        <li onclick="openSearch(this, '06-01.xml')">ヒューマログミックス25・50</li>
        <li onclick="openSearch(this, '04-10.xml|04-11.xml|12-04.xml')">ヒュミラ</li>
        <li onclick="openSearch(this, '11-01.xml|11-02.xml|13-04.xml')">ビラノア</li>
        <li onclick="openSearch(this, '02-07.xml')">ピラマイド</li>
        <li onclick="openSearch(this, '17-05.xml')">ヒルドイドクリーム</li>
        <li onclick="openSearch(this, '11-01.xml|11-04.xml|11-05.xml|17-05.xml')">ヒルドイドソフト軟膏</li>
        <li onclick="openSearch(this, '17-05.xml')">ヒルドイドローション</li>
        <li onclick="openSearch(this, '02-09.xml')">ピレスパ</li>
    </ul>
    <ul id="yak_hu">
        <li onclick="openSearch(this, '06-01.xml')">ファスティック</li>
        <li onclick="openSearch(this, '15-01.xml')">ファボワール</li>
        <li onclick="openSearch(this, '01-04.xml|11-10.xml|12-04.xml|13-10.xml')">ファムビル</li>
        <li onclick="openSearch(this, '07-04.xml')">ファリーダック</li>
        <li onclick="openSearch(this, '06-08.xml|14-02.xml')">ファルモルビシン，RTU</li>
        <li onclick="openSearch(this, '01-05.xml|11-12.xml')">ファロム</li>
        <li onclick="openSearch(this, '01-07.xml')">ファンガード</li>
        <li onclick="openSearch(this, '11-14.xml')">フィナステリド</li>
        <li onclick="openSearch(this, '01-05.xml|01-08.xml|05-09.xml')">フィニバックス</li>
        <li onclick="openSearch(this, '01-07.xml|12-03.xml')">ブイフェンド</li>
        <li onclick="openSearch(this, '11-06.xml|11-08.xml')">フィブラストスプレー</li>
        <li onclick="openSearch(this, '06-08.xml')">フェアストン</li>
        <li onclick="openSearch(this, '07-01.xml')">フェジン</li>
        <li onclick="openSearch(this, '16-05.xml')">フェノバール</li>
        <li onclick="openSearch(this, '06-03.xml|06-04.xml|14-06.xml')">フェブリク</li>
        <li onclick="openSearch(this, '06-08.xml')">フェマーラ</li>
        <li onclick="openSearch(this, '07-01.xml')">フェロ・グラデュメット</li>
        <li onclick="openSearch(this, '07-01.xml')">フェロミア</li>
        <li onclick="openSearch(this, '05-04.xml')">フエロン</li>
        <li onclick="openSearch(this, '04-01.xml|17-02.xml')">フェンタニル</li>
        <li onclick="openSearch(this, '17-02.xml')">フェントス</li>
        <li onclick="openSearch(this, '05-11.xml')">フオイパン</li>
        <li onclick="openSearch(this, '06-07.xml|10-02.xml|17-09.xml')">フォサマック</li>
        <li onclick="openSearch(this, '06-01.xml')">フォシーガ</li>
        <li onclick="openSearch(this, '10-01.xml|10-04.xml|10-08.xml')">フォリアミン</li>
        <li onclick="openSearch(this, '06-07.xml')">フォルテオ</li>
        <li onclick="openSearch(this, '07-06.xml')">フサン</li>
        <li onclick="openSearch(this, '04-01.xml|04-09.xml|05-09.xml')">ブスコパン</li>
        <li onclick="openSearch(this, '07-06.xml')">フラグミン</li>
        <li onclick="openSearch(this, '10-02.xml')">プラケニル</li>
        <li onclick="openSearch(this, '03-11.xml|08-08.xml')">プラザキサ</li>
        <li onclick="openSearch(this, '01-09.xml|04-04.xml|04-11.xml|07-05.xml')">フラジール</li>
        <li onclick="openSearch(this, '15-06.xml')">プラノバール</li>
        <li onclick="openSearch(this, '03-03.xml|03-04.xml|03-16.xml|08-08.xml|16-02.xml')">プラビックス</li>
        <li onclick="openSearch(this, '06-07.xml|10-08.xml')">プラリア</li>
        <li onclick="openSearch(this, '03-03.xml|06-02.xml')">プラルエント</li>
        <li onclick="openSearch(this, '03-03.xml')">フランドルテープ</li>
        <li onclick="openSearch(this, '14-03.xml')">フリバスOD</li>
        <li onclick="openSearch(this, '02-08.xml|04-03.xml|04-07.xml|14-02.xml|15-02.xml|15-03.xml')">ブリプラチン</li>
        <li onclick="openSearch(this, '07-01.xml')">プリモボラン</li>
        <li onclick="openSearch(this, '03-04.xml')">ブリリンタ</li>
        <li onclick="openSearch(this, '08-01.xml|09-02.xml|13-07.xml')">プリンペラン</li>
        <li onclick="openSearch(this, '03-02.xml|14-06.xml')">フルイトラン</li>
        <li onclick="openSearch(this, '04-08.xml')">プルゼニド</li>
        <li onclick="openSearch(this, '02-01.xml|16-04.xml')">フルタイド</li>
        <li onclick="openSearch(this, '07-02.xml')">フルダラ</li>
        <li onclick="openSearch(this, '02-03.xml|02-05.xml')">フルティフォームエアゾール</li>
        <li onclick="openSearch(this, '08-01.xml')">ブルフェン</li>
        <li onclick="openSearch(this, '11-01.xml')">フルメタ</li>
        <li onclick="openSearch(this, '12-01.xml|12-02.xml|12-03.xml')">フルメトロン0.1％</li>
        <li onclick="openSearch(this, '07-03.xml')">ブレオ</li>
        <li onclick="openSearch(this, '01-06.xml')">プレジコビックス</li>
        <li onclick="openSearch(this, '03-16.xml|08-08.xml')">プレタール</li>
        <li onclick="openSearch(this, '10-02.xml')">プレタールOD</li>
        <li onclick="openSearch(this, '10-02.xml|16-07.xml')">ブレディニン</li>
        <li onclick="openSearch(this, '04-10.xml|10-01.xml|13-10.xml|16-02.xml|16-04.xml|16-07.xml')">プレドニゾロン</li>
        <li onclick="openSearch(this, '17-05.xml')">プレドニゾロンクリーム</li>
        <li onclick="openSearch(this, '02-01.xml|02-03.xml|02-09.xml|04-10.xml|04-11.xml|05-06.xml|06-05.xml|07-02.xml|07-03.xml|07-04.xml|07-05.xml|07-08.xml|08-09.xml|09-08.xml|10-02.xml|10-03.xml|10-04.xml|10-05.xml|10-06.xml|10-07.xml|10-08.xml|10-09.xml|10-10.xml|11-04.xml|11-07.xml|12-04.xml|13-07.xml|14-04.xml|16-02.xml|16-03.xml|16-07.xml')">プレドニン</li>
        <li onclick="openSearch(this, '04-10.xml')">プレドネマ注腸</li>
        <li onclick="openSearch(this, '15-05.xml|15-06.xml')">プレマリン</li>
        <li onclick="openSearch(this, '03-02.xml')">プレミネントLD，HD</li>
        <li onclick="openSearch(this, '17-04.xml')">プロイメンド</li>
        <li onclick="openSearch(this, '10-02.xml|16-07.xml')">プログラフ</li>
        <li onclick="openSearch(this, '02-09.xml|04-10.xml|10-04.xml')">プログラフカプセル</li>
        <li onclick="openSearch(this, '01-07.xml')">プロジフ</li>
        <li onclick="openSearch(this, '11-13.xml|11-14.xml')">フロジン</li>
        <li onclick="openSearch(this, '14-04.xml')">プロスタール</li>
        <li onclick="openSearch(this, '11-06.xml|11-08.xml')">プロスタンディン軟膏</li>
        <li onclick="openSearch(this, '10-02.xml|10-04.xml|11-01.xml|11-05.xml')">プロトピック</li>
        <li onclick="openSearch(this, '03-11.xml')">プロノン</li>
        <li onclick="openSearch(this, '03-05.xml|03-07.xml|03-16.xml|10-02.xml')">ブロプレス</li>
        <li onclick="openSearch(this, '11-01.xml|11-06.xml|17-05.xml')">プロペト</li>
        <li onclick="openSearch(this, '15-05.xml|15-06.xml')">プロベラ</li>
        <li onclick="openSearch(this, '16-02.xml')">フロベン</li>
        <li onclick="openSearch(this, '11-06.xml|11-08.xml')">ブロメライン軟膏</li>
        <li onclick="openSearch(this, '01-05.xml|04-13.xml|13-05.xml')">フロモックス</li>
        <li onclick="openSearch(this, '13-05.xml')">フロモックス小児用細粒</li>
        <li onclick="openSearch(this, '03-13.xml')">フローラン</li>
        <li onclick="openSearch(this, '03-01.xml')">フロリネフ</li>
        <li onclick="openSearch(this, '09-03.xml')">プロレナール</li>
    </ul>
    <ul id="yak_he">
        <li onclick="openSearch(this, '06-01.xml|17-07.xml')">ベイスン</li>
        <li onclick="openSearch(this, '05-01.xml')">ペガシス</li>
        <li onclick="openSearch(this, '12-03.xml')">ベガモックス</li>
        <li onclick="openSearch(this, '11-03.xml')">ペキロンクリーム</li>
        <li onclick="openSearch(this, '04-12.xml')">ベクティビックス</li>
        <li onclick="openSearch(this, '05-05.xml|05-07.xml|06-02.xml|06-03.xml')">ベザトールSR</li>
        <li onclick="openSearch(this, '07-02.xml')">ベサノイド</li>
        <li onclick="openSearch(this, '14-03.xml|14-05.xml')">ベシケア</li>
        <li onclick="openSearch(this, '11-08.xml')">ベスキチンW-A</li>
        <li onclick="openSearch(this, '12-03.xml|13-06.xml')">ベストロン</li>
        <li onclick="openSearch(this, '01-04.xml')">ベセルナクリーム</li>
        <li onclick="openSearch(this, '14-03.xml|14-05.xml')">ベタニス</li>
        <li onclick="openSearch(this, '08-09.xml')">ベタフェロン</li>
        <li onclick="openSearch(this, '01-07.xml')">ベナンバックス</li>
        <li onclick="openSearch(this, '01-04.xml')">ベネシッド</li>
        <li onclick="openSearch(this, '06-07.xml')">ベネット</li>
        <li onclick="openSearch(this, '02-03.xml|16-04.xml')">ベネトリン</li>
        <li onclick="openSearch(this, '04-14.xml|08-08.xml')">ヘパリン</li>
        <li onclick="openSearch(this, '07-06.xml')">ヘパリンNa</li>
        <li onclick="openSearch(this, '10-02.xml')">ヘパリンカルシウム</li>
        <li onclick="openSearch(this, '03-14.xml|16-02.xml|16-06.xml')">ヘパリンナトリウム</li>
        <li onclick="openSearch(this, '05-03.xml')">ヘパンED</li>
        <li onclick="openSearch(this, '11-12.xml')">ベピオゲル</li>
        <li onclick="openSearch(this, '03-11.xml')">ベプリコール</li>
        <li onclick="openSearch(this, '05-01.xml')">ベムリディ</li>
        <li onclick="openSearch(this, '06-02.xml')">ペリシット</li>
        <li onclick="openSearch(this, '05-11.xml')">ベリチーム</li>
        <li onclick="openSearch(this, '07-04.xml')">ベルケイド</li>
        <li onclick="openSearch(this, '16-02.xml')">ペルサンチン</li>
        <li onclick="openSearch(this, '08-08.xml')">ペルジピン注</li>
        <li onclick="openSearch(this, '08-02.xml')">ベルソムラ</li>
        <li onclick="openSearch(this, '03-06.xml')">ヘルベッサー</li>
        <li onclick="openSearch(this, '03-02.xml|03-03.xml|03-11.xml')">ヘルベッサーR</li>
        <li onclick="openSearch(this, '08-06.xml')">ペルマックス</li>
        <li onclick="openSearch(this, '04-13.xml')">ヘルミチンS坐剤</li>
        <li onclick="openSearch(this, '04-10.xml|04-11.xml')">ペンタサ</li>
        <li onclick="openSearch(this, '04-10.xml')">ペンタサ坐剤</li>
        <li onclick="openSearch(this, '04-10.xml')">ペンタサ注腸</li>
        <li onclick="openSearch(this, '14-06.xml')">ペンタジン</li>
        <li onclick="openSearch(this, '03-13.xml')">ベンテイビス</li>
    </ul>
    <ul id="yak_ho">
        <li onclick="openSearch(this, '05-05.xml')">防風通聖散</li>
        <li onclick="openSearch(this, '02-04.xml')">ホクナリンテープ</li>
        <li onclick="openSearch(this, '07-02.xml')">ボシュリフ</li>
        <li onclick="openSearch(this, '08-10.xml')">ホスカビル</li>
        <li onclick="openSearch(this, '01-05.xml')">ホスミシン</li>
        <li onclick="openSearch(this, '02-03.xml')">ボスミン</li>
        <li onclick="openSearch(this, '11-04.xml')">ボチシート</li>
        <li onclick="openSearch(this, '06-07.xml|10-10.xml')">ボナロン</li>
        <li onclick="openSearch(this, '06-07.xml')">ボナロン点滴静注</li>
        <li onclick="openSearch(this, '04-04.xml|04-06.xml')">ボノサップ</li>
        <li onclick="openSearch(this, '06-07.xml|10-10.xml')">ボノテオ</li>
        <li onclick="openSearch(this, '04-04.xml|04-06.xml')">ボノピオン</li>
        <li onclick="openSearch(this, '11-09.xml')">ポビドンヨード・シュガー軟膏</li>
        <li onclick="openSearch(this, '07-04.xml')">ポマリスト</li>
        <li onclick="openSearch(this, '14-05.xml')">ポラキス</li>
        <li onclick="openSearch(this, '04-13.xml')">ボラザG軟膏</li>
        <li onclick="openSearch(this, '17-05.xml')">ポララミン</li>
        <li onclick="openSearch(this, '16-05.xml')">ホリゾン</li>
        <li onclick="openSearch(this, '04-09.xml')">ポリフル</li>
        <li onclick="openSearch(this, '10-06.xml|15-01.xml')">ボルタレン</li>
        <li onclick="openSearch(this, '04-01.xml|09-01.xml|14-06.xml|17-02.xml')">ボルタレンサポ</li>
        <li onclick="openSearch(this, '05-03.xml|05-04.xml')">ポルトラック</li>
        <li onclick="openSearch(this, '06-07.xml')">ボンビバ</li>
    </ul>
    <ul id="yak_ma">
        <li onclick="openSearch(this, '11-01.xml|17-05.xml')">マイザー</li>
        <li onclick="openSearch(this, '08-02.xml|13-01.xml')">マイスリー</li>
        <li onclick="openSearch(this, '14-02.xml')">マイトマイシン</li>
        <li onclick="openSearch(this, '01-03.xml|01-05.xml|02-02.xml')">マキシピーム</li>
        <li onclick="openSearch(this, '08-01.xml')">マクサルトRPD</li>
        <li onclick="openSearch(this, '12-08.xml')">マクジェン</li>
        <li onclick="openSearch(this, '02-08.xml')">マグネゾール</li>
        <li onclick="openSearch(this, '14-06.xml|17-02.xml')">マグミット</li>
        <li onclick="openSearch(this, '04-08.xml')">麻子仁丸</li>
        <li onclick="openSearch(this, '15-01.xml')">マーベロン</li>
        <li onclick="openSearch(this, '06-01.xml')">マリゼブ</li>
        <li onclick="openSearch(this, '16-08.xml')">マルツエキス</li>
        <li onclick="openSearch(this, '02-08.xml|05-04.xml')">マンニットール</li>
        <li onclick="openSearch(this, '17-03.xml')">マンニットールS</li>
    </ul>
    <ul id="yak_mi">
        <li onclick="openSearch(this, '03-05.xml')">ミオコール</li>
        <li onclick="openSearch(this, '03-03.xml|03-05.xml')">ミオコールスプレー</li>
        <li onclick="openSearch(this, '09-01.xml')">ミオナール</li>
        <li onclick="openSearch(this, '03-02.xml')">ミカトリオ</li>
        <li onclick="openSearch(this, '03-02.xml|03-16.xml|08-08.xml')">ミカルディス</li>
        <li onclick="openSearch(this, '08-01.xml')">ミグシス</li>
        <li onclick="openSearch(this, '12-06.xml')">ミケランLA</li>
        <li onclick="openSearch(this, '12-06.xml')">ミケルナ</li>
        <li onclick="openSearch(this, '16-05.xml')">ミダフレッサ</li>
        <li onclick="openSearch(this, '12-04.xml')">ミドリンM点眼液</li>
        <li onclick="openSearch(this, '06-06.xml')">ミニプレス</li>
        <li onclick="openSearch(this, '01-10.xml')">ミノサイクリン</li>
        <li onclick="openSearch(this, '01-04.xml|02-01.xml|02-02.xml|11-11.xml|11-12.xml|12-02.xml|17-05.xml')">ミノマイシン</li>
        <li onclick="openSearch(this, '16-02.xml')">未分画ヘパリン</li>
        <li onclick="openSearch(this, '04-09.xml')">ミヤBM</li>
        <li onclick="openSearch(this, '16-02.xml')">ミラクリッド</li>
        <li onclick="openSearch(this, '08-06.xml')">ミラペックス</li>
        <li onclick="openSearch(this, '07-01.xml|14-01.xml')">ミルセラ</li>
        <li onclick="openSearch(this, '03-05.xml')">ミルリーラ</li>
        <li onclick="openSearch(this, '15-01.xml')">ミレーナ</li>
    </ul>
    <ul id="yak_mu">
        <li onclick="openSearch(this, '04-13.xml|09-06.xml|12-02.xml|17-06.xml')">ムコスタ</li>
        <li onclick="openSearch(this, '10-06.xml|12-01.xml')">ムコスタUD</li>
        <li onclick="openSearch(this, '02-01.xml|13-05.xml|13-08.xml')">ムコダイン</li>
        <li onclick="openSearch(this, '13-03.xml')">ムコダインDS</li>
        <li onclick="openSearch(this, '02-09.xml')">ムコフィリン</li>
    </ul>
    <ul id="yak_me">
        <li onclick="openSearch(this, '01-05.xml|13-02.xml|13-03.xml|13-05.xml')">メイアクトMS</li>
        <li onclick="openSearch(this, '13-05.xml')">メイアクトMS小児用細粒</li>
        <li onclick="openSearch(this, '04-09.xml|13-01.xml')">メイラックス</li>
        <li onclick="openSearch(this, '13-07.xml')">メイロン7％</li>
        <li onclick="openSearch(this, '03-02.xml|03-03.xml|03-04.xml|03-05.xml|03-06.xml|03-11.xml')">メインテート</li>
        <li onclick="openSearch(this, '11-01.xml')">メサデルム</li>
        <li onclick="openSearch(this, '17-05.xml')">メサデルムクリーム</li>
        <li onclick="openSearch(this, '11-13.xml')">メサデルムローション</li>
        <li onclick="openSearch(this, '02-01.xml')">メジコン</li>
        <li onclick="openSearch(this, '07-02.xml|10-04.xml|10-07.xml|14-02.xml')">メソトレキセート</li>
        <li onclick="openSearch(this, '06-01.xml')">メタクトLD，HD</li>
        <li onclick="openSearch(this, '09-01.xml|13-01.xml|13-07.xml')">メチコバール</li>
        <li onclick="openSearch(this, '03-16.xml|06-01.xml|06-03.xml|17-07.xml')">メトグルコ</li>
        <li onclick="openSearch(this, '03-01.xml')">メトリジン</li>
        <li onclick="openSearch(this, '10-09.xml')">メドロール</li>
        <li onclick="openSearch(this, '08-06.xml')">メネシット</li>
        <li onclick="openSearch(this, '15-05.xml')">メノエイドコンビパッチ</li>
        <li onclick="openSearch(this, '03-03.xml|06-02.xml')">メバロチン</li>
        <li onclick="openSearch(this, '02-01.xml|02-03.xml|02-04.xml|16-04.xml')">メプチンエアー</li>
        <li onclick="openSearch(this, '02-04.xml|16-03.xml|16-04.xml')">メプチンスイングへラー</li>
        <li onclick="openSearch(this, '08-07.xml')">メマリー</li>
        <li onclick="openSearch(this, '13-07.xml')">メリスロン</li>
        <li onclick="openSearch(this, '06-05.xml')">メルカゾール</li>
        <li onclick="openSearch(this, '01-03.xml|01-05.xml|01-08.xml|02-02.xml|05-09.xml|11-11.xml')">メロペン</li>
    </ul>
    <ul id="yak_mo">
        <li onclick="openSearch(this, '01-03.xml|01-05.xml')">モダシン</li>
        <li onclick="openSearch(this, '09-06.xml')">モーラステープ</li>
        <li onclick="openSearch(this, '05-03.xml')">モリヘパミン</li>
        <li onclick="openSearch(this, '17-02.xml')">モルヒネ塩酸塩</li>
    </ul>
    <ul id="yak_ya">
        <li onclick="openSearch(this, '11-14.xml')">薬用アデノゲンEX</li>
        <li onclick="openSearch(this, '15-01.xml|15-06.xml')">ヤーズ</li>
    </ul>
    <ul id="yak_yu">
        <li onclick="openSearch(this, '11-08.xml')">［優肌］パーミロール</li>
        <li onclick="openSearch(this, '11-08.xml')">［優肌］パーミロールHS</li>
        <li onclick="openSearch(this, '04-12.xml')">ユーエフティ</li>
        <li onclick="openSearch(this, '04-12.xml')">ユーゼル</li>
        <li onclick="openSearch(this, '01-08.xml|02-02.xml|05-09.xml|11-11.xml')">ユナシン-S</li>
        <li onclick="openSearch(this, '11-08.xml')">ユーパスタ</li>
        <li onclick="openSearch(this, '05-05.xml')">ユベラN</li>
        <li onclick="openSearch(this, '06-03.xml|06-04.xml')">ユリノーム</li>
        <li onclick="openSearch(this, '14-06.xml')">ユリーフ</li>
        <li onclick="openSearch(this, '14-03.xml')">ユリーフOD</li>
    </ul>
    <ul id="yak_yo">
        <li onclick="openSearch(this, '11-08.xml')">ヨードコート</li>
        <li onclick="openSearch(this, '09-11.xml')">ヨンデリス</li>
    </ul>
    <ul id="yak_ra">
        <li onclick="openSearch(this, '04-09.xml|16-08.xml')">ラキソベロン</li>
        <li onclick="openSearch(this, '05-03.xml')">ラクツロース</li>
        <li onclick="openSearch(this, '17-09.xml')">ラコールNF</li>
        <li onclick="openSearch(this, '08-08.xml')">ラジカット</li>
        <li onclick="openSearch(this, '03-02.xml|03-05.xml|03-07.xml|05-03.xml|10-05.xml|17-03.xml')">ラシックス</li>
        <li onclick="openSearch(this, '05-03.xml')">ラシックス注</li>
        <li onclick="openSearch(this, '17-03.xml')">ラスリテック</li>
        <li onclick="openSearch(this, '04-09.xml|04-13.xml')">ラックビー</li>
        <li onclick="openSearch(this, '01-01.xml')">ラピアクタ</li>
        <li onclick="openSearch(this, '04-04.xml')">ラベキュア</li>
        <li onclick="openSearch(this, '04-04.xml|04-06.xml')">ラベファイン</li
        <li onclick="openSearch(this, '15-01.xml')">ラベルフィーユ</li>
        <li onclick="openSearch(this, '08-05.xml')">ラミクタール</li>
        <li onclick="openSearch(this, '11-03.xml')">ラミシール</li>
        <li onclick="openSearch(this, '04-04.xml')">ランサップ</li>
        <li onclick="openSearch(this, '02-08.xml|04-03.xml|04-07.xml|14-02.xml|15-02.xml|15-03.xml')">ランダ</li>
        <li onclick="openSearch(this, '06-01.xml')">ランタス</li>
        <li onclick="openSearch(this, '06-01.xml')">ランタスXR</li>
        <li onclick="openSearch(this, '05-11.xml')">ランタス注ソロスター</li>
        <li onclick="openSearch(this, '17-02.xml|17-06.xml')">ランドセン</li>
        <li onclick="openSearch(this, '04-04.xml')">ランピオン</li>
        <li onclick="openSearch(this, '14-04.xml')">ランマーク</li>
    </ul>
    <ul id="yak_ri">
        <li onclick="openSearch(this, '11-14.xml')">リアップⅩ5</li>
        <li onclick="openSearch(this, '11-14.xml')">リアップリジェンヌ</li>
        <li onclick="openSearch(this, '04-10.xml')">リアルダ</li>
        <li onclick="openSearch(this, '10-01.xml|10-03.xml|10-08.xml|10-09.xml')">リウマトレックス</li>
        <li onclick="openSearch(this, '06-01.xml')">リオベルLD，HD</li>
        <li onclick="openSearch(this, '06-07.xml|09-02.xml')">リカルボン</li>
        <li onclick="openSearch(this, '03-11.xml|03-14.xml|08-08.xml')">リクシアナ</li>
        <li onclick="openSearch(this, '06-07.xml')">リクラスト</li>
        <li onclick="openSearch(this, '02-11.xml|05-04.xml|07-06.xml')">リコモジュリン</li>
        <li onclick="openSearch(this, '12-01.xml|13-04.xml')">リザベン</li>
        <li onclick="openSearch(this, '08-04.xml')">リスパダール</li>
        <li onclick="openSearch(this, '03-06.xml')">リスモダン</li>
        <li onclick="openSearch(this, '03-01.xml|03-11.xml')">リスモダンR</li>
        <li onclick="openSearch(this, '12-06.xml')">リズモンTG</li>
        <li onclick="openSearch(this, '04-05.xml|13-07.xml|15-01.xml')">リーゼ</li>
        <li onclick="openSearch(this, '07-02.xml|07-03.xml|07-05.xml|07-08.xml|10-07.xml|16-07.xml')">リツキサン</li>
        <li onclick="openSearch(this, '04-02.xml|04-05.xml')">六君子湯</li>
        <li onclick="openSearch(this, '11-01.xml')">リドメックス</li>
        <li onclick="openSearch(this, '05-03.xml')">リーバクト</li>
        <li onclick="openSearch(this, '04-05.xml|05-11.xml')">リパクレオン</li>
        <li onclick="openSearch(this, '08-07.xml')">リバスタッチパッチ</li>
        <li onclick="openSearch(this, '03-04.xml|03-16.xml|06-02.xml|06-03.xml')">リバロ</li>
        <li onclick="openSearch(this, '03-16.xml|06-02.xml')">リピディル</li>
        <li onclick="openSearch(this, '03-03.xml|03-04.xml|03-16.xml|05-05.xml|06-02.xml|08-08.xml|10-02.xml')">リピトール</li>
        <li onclick="openSearch(this, '02-07.xml|12-04.xml')">リファジン</li>
        <li onclick="openSearch(this, '05-03.xml|05-04.xml')">リフキシマ</li>
        <li onclick="openSearch(this, '03-16.xml|10-05.xml')">リプル</li>
        <li onclick="openSearch(this, '04-09.xml|08-03.xml')">リフレックス</li>
        <li onclick="openSearch(this, '17-06.xml')">リボトリール</li>
        <li onclick="openSearch(this, '17-05.xml')">リモイスパッド</li>
        <li onclick="openSearch(this, '02-07.xml')">硫酸カナマイシン</li>
        <li onclick="openSearch(this, '02-07.xml')">硫酸ストレプトマイシン</li>
        <li onclick="openSearch(this, '05-04.xml')">硫酸ポリミキシンB</li>
        <li onclick="openSearch(this, '06-08.xml|15-01.xml')">リュープリン</li>
        <li onclick="openSearch(this, '06-08.xml|14-04.xml')">リュープリンPRO</li>
        <li onclick="openSearch(this, '06-08.xml|14-04.xml')">リュープリンSR</li>
        <li onclick="openSearch(this, '09-01.xml|09-02.xml|09-03.xml|11-10.xml|17-02.xml')">リリカ</li>
        <li onclick="openSearch(this, '01-01.xml')">リレンザ</li>
        <li onclick="openSearch(this, '04-08.xml|04-09.xml')">リンゼス</li>
        <li onclick="openSearch(this, '11-07.xml|12-04.xml|13-08.xml')">リンデロン</li>
        <li onclick="openSearch(this, '11-01.xml')">リンデロン-V</li>
        <li onclick="openSearch(this, '17-05.xml')">リンデロン-V軟膏</li>
        <li onclick="openSearch(this, '11-03.xml|11-06.xml')">リンデロン-VG軟膏</li>
        <li onclick="openSearch(this, '12-01.xml12-03.xml')">リンデロン0.1％</li>
        <li onclick="openSearch(this, '10-04.xml')">リンデロンDP軟膏</li>
        <li onclick="openSearch(this, '04-10.xml')">リンデロン坐剤</li>
        <li onclick="openSearch(this, '11-07.xml|13-06.xml')">リンデロン注</li>
        <li onclick="openSearch(this, '10-03.xml|11-07.xml|12-04.xml')">リンデロン点眼液</li>
        <li onclick="openSearch(this, '13-08.xml')">リンデロン点眼・点耳・点鼻液</li>
        <li onclick="openSearch(this, '12-02.xml')">リンベタPF</li>
    </ul>
    <ul id="yak_ru">
        <li onclick="openSearch(this, '15-05.xml')">ル・エストロジェル</li>
        <li onclick="openSearch(this, '11-03.xml')">ルコナック</li>
        <li onclick="openSearch(this, '06-05.xml')">ルゴール</li>
        <li onclick="openSearch(this, '06-01.xml')">ルセフィ</li>
        <li onclick="openSearch(this, '12-07.xml|12-08.xml')">ルセンティス</li>
        <li onclick="openSearch(this, '15-06.xml')">ルテスデポー</li>
        <li onclick="openSearch(this, '15-01.xml|15-06.xml')">ルナベルULD，LD</li>
        <li onclick="openSearch(this, '08-02.xml|08-03.xml')">ルネスタ</li>
        <li onclick="openSearch(this, '03-05.xml')">ルプラック</li>
        <li onclick="openSearch(this, '12-06.xml')">ルミガン</li>
        <li onclick="openSearch(this, '11-03.xml')">ルリコン液</li>
        <li onclick="openSearch(this, '11-03.xml')">ルリコンクリーム</li>
        <li onclick="openSearch(this, '11-03.xml')">ルリコン軟膏</li>
        <li onclick="openSearch(this, '02-01.xml|11-03.xml|11-12.xml|13-05.xml|17-05.xml')">ルリッド</li>
    </ul>
    <ul id="yak_re">
        <li onclick="openSearch(this, '08-06.xml')">レキップCR</li>
        <li onclick="openSearch(this, '08-03.xml|15-01.xml')">レクサプロ</li>
        <li onclick="openSearch(this, '03-02.xml')">レザルタスLD，HD</li>
        <li onclick="openSearch(this, '11-05.xml')">レスタミンクリーム</li>
        <li onclick="openSearch(this, '08-03.xml')">レスリン</li>
        <li onclick="openSearch(this, '11-09.xml')">レックスフィット</li>
        <li onclick="openSearch(this, '07-04.xml')">レナデックス</li>
        <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-05.xml|03-06.xml|03-07.xml|17-06.xml')">レニベース</li>
        <li onclick="openSearch(this, '03-03.xml|06-02.xml')">レパーサ</li>
        <li onclick="openSearch(this, '03-13.xml')">レバチオ</li>
        <li onclick="openSearch(this, '14-07.xml')">レビトラ</li>
        <li onclick="openSearch(this, '07-02.xml|07-04.xml')">レブラミド</li>
        <li onclick="openSearch(this, '05-02.xml')">レベトール</li>
        <li onclick="openSearch(this, '05-11.xml|06-01.xml')">レベミル</li>
        <li onclick="openSearch(this, '07-01.xml|07-05.xml')">レボレード</li>
        <li onclick="openSearch(this, '04-10.xml|04-11.xml|12-04.xml|16-02.xml')">レミケード</li>
        <li onclick="openSearch(this, '05-03.xml|05-07.xml|11-05.xml')">レミッチ</li>
        <li onclick="openSearch(this, '08-07.xml')">レミニール</li>
        <li onclick="openSearch(this, '08-03.xml')">レメロン</li>
        <li onclick="openSearch(this, '08-01.xml')">レルパックス</li>
        <li onclick="openSearch(this, '02-03.xml|02-04.xml|02-05.xml')">レルベアエリプタ</li>
    </ul>
    <ul id="yak_ro">
        <li onclick="openSearch(this, '04-10.xml|04-11.xml')">ロイケリン</li>
        <li onclick="openSearch(this, '17-03.xml')">ロイコボリン</li>
        <li onclick="openSearch(this, '07-02.xml')">ロイナーゼ</li>
        <li onclick="openSearch(this, '06-07.xml')">ロカルトロール</li>
        <li onclick="openSearch(this, '04-13.xml|06-05.xml|08-01.xml|09-02.xml|09-03.xml|09-06.xml|10-06.xml|11-10.xml|14-06.xml|15-01.xml')">ロキソニン</li>
        <li onclick="openSearch(this, '09-06.xml')">ロキソニンテープ</li>
        <li onclick="openSearch(this, '09-06.xml')">ロコアテープ</li>
        <li onclick="openSearch(this, '11-01.xml|11-04.xml|11-05.xml|17-05.xml')">ロコイド</li>
        <li onclick="openSearch(this, '03-03.xml')">ローコール</li>
        <li onclick="openSearch(this, '01-04.xml|01-05.xml|01-08.xml|01-09.xml|02-02.xml|03-08.xml|13-02.xml|13-05.xml')">ロセフィン</li>
        <li onclick="openSearch(this, '08-02.xml')">ロゼレム</li>
        <li onclick="openSearch(this, '08-04.xml')">ロナセン</li>
        <li onclick="openSearch(this, '17-02.xml')">ロピオン</li>
        <li onclick="openSearch(this, '04-09.xml')">ロペミン</li>
        <li onclick="openSearch(this, '07-05.xml')">ロミプレート</li>
        <li onclick="openSearch(this, '05-05.xml')">ロレルコ</li>
        <li onclick="openSearch(this, '03-04.xml|03-05.xml')">ロンゲス</li>
        <li onclick="openSearch(this, '04-12.xml')">ロンサーフ</li>
    </ul>
    <ul id="yak_wa">
       <li onclick="openSearch(this, '13-02.xml|13-03.xml|16-01.xml')">ワイドシリン</li>
      <li onclick="openSearch(this, '04-09.xml|08-04.xml')">ワイパックス</li>
      <li onclick="openSearch(this, '03-06.xml|03-11.xml')">ワソラン</li>
      <li onclick="openSearch(this, '03-04.xml|03-11.xml|03-14.xml|08-08.xml|10-02.xml|10-05.xml|16-02.xml')">ワーファリン</li>
      <li onclick="openSearch(this, '04-14.xml')">ワルファリン</li>
      <li onclick="openSearch(this, '06-07.xml|17-09.xml')">ワンアルファ</li>
      <li onclick="openSearch(this, '09-02.xml|09-03.xml')">ワントラム</li>
    </ul>
    <ul id="yak_kg">
        <li onclick="openSearch(this, '04-03.xml|04-12.xml|05-12.xml|06-08.xml')">5-FU</li>
    </ul>
</div>
</ons-page>