<ons-modal var="modal">
    <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    <br>
	<br> Please wait.
	<br>
</ons-modal>
<ons-page id="menu_tag">
	<div id="tag-list">
		<div class="list-content">
			<div class="list-content-container">
				<ol class="index-list" style="counter-reset:ol_li 0;" id="tagIndex1">
					<li>
						<div class="midashi">感染症</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 1;" id="tagIndex2">
					<li>
						<div class="midashi">呼吸器疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 2;" id="tagIndex3">
					<li>
						<div class="midashi">循環器疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 3;" id="tagIndex4">
					<li>
						<div class="midashi">消化器疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 4;" id="tagIndex5">
					<li>
						<div class="midashi">肝・胆・膵疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 5;" id="tagIndex6">
					<li>
						<div class="midashi">内分泌・代謝系疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 6;" id="tagIndex7">
					<li>
						<div class="midashi">血液疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 7;" id="tagIndex8">
					<li>
						<div class="midashi">中枢神経系疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 8;" id="tagIndex9">
					<li>
						<div class="midashi">運動器系疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 9;" id="tagIndex10">
					<li>
						<div class="midashi">膠原病・類縁疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 10;" id="tagIndex11">
					<li>
						<div class="midashi">皮膚科疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 11;" id="tagIndex12">
					<li>
						<div class="midashi">眼科疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 12;" id="tagIndex13">
					<li>
						<div class="midashi">耳鼻科咽喉科疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 13;" id="tagIndex14">
					<li>
						<div class="midashi">腎・泌尿器疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 14;" id="tagIndex15">
					<li>
						<div class="midashi">婦人科疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 15;" id="tagIndex16">
					<li>
						<div class="midashi">小児科疾患</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol>
				<ol class="index-list" style="counter-reset:ol_li 16;" id="tagIndex17">
					<li>
						<div class="midashi">がん・高齢者</div>
						<ol class="index-sub-list"></ol>
					</li>
				</ol><!-- End:class="index-list" -->
			</div><!-- End:class="list-content-container" -->
		</div><!-- End:class="list-content" -->
	</div><!-- End:id="tag-list" -->
	<div id="nolist"></div><!-- End:id="onlist" -->
</ons-page><!-- End:id="menu_contents" -->