<ons-page id="menu_contents">
	<div class="list-content">
		<div class="list-content-container">
			<ol class="index-list">
				<li>
					<div class="midashi" onclick="openSubList(this)">感染症<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content1"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">呼吸器疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content2"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">循環器疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content3"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">消化器疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content4"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">肝・胆・膵疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content5"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">内分泌・代謝系疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content6"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">血液疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content7"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">中枢神経系疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content8"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">運動器系疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content9"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">膠原病・類縁疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content10"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">皮膚科疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content11"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">眼科疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content12"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">耳鼻科咽喉科疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content13"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">腎・泌尿器疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content14"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">婦人科疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content15"></ol>						
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">小児科疾患<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content16"></ol>
				</li>
				<li>
					<div class="midashi" onclick="openSubList(this)">がん・高齢者<ons-icon class="ion-chevron-down" icon="ion-chevron-down"></ons-icon></div>
					<ol class="index-sub-list" id="content17"></ol>
				</li>
			</ol><!-- End:class="index-list" -->
		</div><!-- End:class="list-content-container" -->
	</div><!-- End:class="list-content" -->
</ons-page><!-- End:id="menu_contents" -->