<ons-page id="menu_search">
<!-- 検索部固定 --> 
<div style="overflow:hidden; height:100%;">
    <div id="segment_controller">
		<div class="input-group-btn">
			<button type="button" id="button_search"	class="btn onSselectBtn">検索</button>
			<button type="button" id="button_index"　	class="btn">索引</button>
			<button type="button" id="button_history"	class="btn" onclick="webdb.historyData(7);">履歴</button>
		</div>
	</div><!-- End:id="segment_controller" -->
	<div id="search_list" style="display:block">
		<div class="input-group">
			<input type="text" id="inputWord" class="form-control" onKeyPress="keyDownEvent(event);" placeholder="Search for..." value="">
			<input type="button" id="inputWordClear" class="form-control" 
				onclick="
					$('#inputWord').val('');
					$('#search_list').focus();
					setTimeout( 
						function(){ 
							$('#inputWord').hover();
						}, 500);
				" value="×">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" onclick="searchRun();">
					<ons-icon icon="ion-ios-search-strong" style="font-size: 16px; width:1em;"></ons-icon>
				</button>
			</div>
		</div>
		<div id="resultMsg"></div>
		<div id="search_result"></div><!-- End:id="search_result" -->
	</div><!-- End:id="search_list" -->
	<div id="index_list" style="margin-left:-1px; margin-right:1px;">
		<div class="input-group-btn">
			<button type="button" id="button_jp"  class="btn onSselectBtn">和文</button>
			<button type="button" id="button_en"  class="btn">欧文</button>
			<button type="button" id="button_yak" class="btn">薬剤名</button>
		</div><!-- End:class="input-group-btn" -->
		<div id="list_jp" style="display:block;"></div><!-- End:id="list_jp" -->
		<div id="list_en"></div><!-- End:id="list_en" -->
		<div id="list_yak"></div><!-- End:id="list_yak" -->
	</div><!-- End:id="index_list" -->
	<div id="history_list" style="margin-left:-1px;">
		<div class="input-group-btn">
			<button type="button" id="button_reference" class="btn onSselectBtn" onclick="webdb.historyData(7);">参照履歴</button>
			<button type="button" id="button_count" class="btn" onclick="webdb.countData(10);">参照回数</button>
		</div>
		<div id="date_list" style="display:block;">
		    <div id="history_data_title">直近7日分の履歴</div>
			<div class="list-historycontent">
				<div class="history-content-container">
					<ol class="index-historylist" id="history_data">
					</ol><!-- End:class="index-historylist" -->
				</div><!-- End:class="history-content-container" -->
			</div><!-- End:class="list-historycontent" -->
		</div><!-- End:id="date_list" -->
		<div id="count_list">
			<div id="history_count_title">参照回数 上位10件</div>
			<div id="history_count"></div>
		</div><!-- End:id="count_list" -->
	</div><!-- End:id="history_list" -->
<div>
</ons-page><!-- End:id="menu_search" -->