<ons-page id="menu_info">
    <ons-list>
    	<ons-list-header>書籍情報</ons-list-header>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_preface.html'); chgBackColor(this);">序文</ons-list-item>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_overview.html'); chgBackColor(this);">本書の概要</ons-list-item>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_author.html'); chgBackColor(this);">著者一覧</ons-list-item>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_guideline.html'); chgBackColor(this);">掲載ガイドライン一覧</ons-list-item>
    <ons-list-item modifier="chevron tappable" onclick="infoPage('info_abbreviation.html'); chgBackColor(this);">略語一覧</ons-list-item>
    <ons-list-item modifier="chevron tappable" onclick="openXML_2(0,0,'00-01.xml'); chgBackColor(this);" style="font-size: 11pt;">診療ガイドラインに関する基本知識</ons-list-item>

		<ons-list-header>その他情報</ons-list-header>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_terms.html'); chgBackColor(this);">利用規約</ons-list-item>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_legend.html'); chgBackColor(this);">免責事項</ons-list-item>
		<ons-list-item modifier="chevron tappable" onclick="infoPage('info_contact.html'); chgBackColor(this);">お問い合わせ</ons-list-item>
		<!--<ons-list-item modifier="chevron tappable" onclick="webdb.initializeDB(); chgBackColor(this);">DB初期化</ons-list-item> -->
	</ons-list>
</ons-page><!-- End:id="menu_info" -->