<ons-page>
<div class="listLeft">
	<ul>
		<li class="onSselectBtn" onclick="openSearchList(this, 'en_a');">A</li>
		<li onclick="openSearchList(this, 'en_b');">B</li>
		<li onclick="openSearchList(this, 'en_c');">C</li>
		<li onclick="openSearchList(this, 'en_d');">D</li>
		<li onclick="openSearchList(this, 'en_e');">E</li>
		<li onclick="openSearchList(this, 'en_f');">F</li>
		<li onclick="openSearchList(this, 'en_g');">G</li>
		<li onclick="openSearchList(this, 'en_h');">H</li>
		<li onclick="openSearchList(this, 'en_i');">I</li>
		<li onclick="openSearchList(this, 'en_j');">J</li>
		<li onclick="openSearchList(this, 'en_k');">K</li>
		<li onclick="openSearchList(this, 'en_l');">L</li>
		<li onclick="openSearchList(this, 'en_m');">M</li>
		<li onclick="openSearchList(this, 'en_n');">N</li>
		<li onclick="openSearchList(this, 'en_o');">O</li>
		<li onclick="openSearchList(this, 'en_p');">P</li>
		<li onclick="openSearchList(this, 'en_q');">Q</li>
		<li onclick="openSearchList(this, 'en_r');">R</li>
		<li onclick="openSearchList(this, 'en_s');">S</li>
		<li onclick="openSearchList(this, 'en_t');">T</li>
		<li onclick="openSearchList(this, 'en_u');">U</li>
		<li onclick="openSearchList(this, 'en_v');">V</li>
		<li onclick="openSearchList(this, 'en_w');">W</li>
		<li onclick="openSearchList(this, 'en_x');">X</li>
		<li onclick="openSearchList(this, 'en_y');">Y</li>
		<li onclick="openSearchList(this, 'en_z');">Z</li>
    <li onclick="openSearchList(this, 'en_kg');">記</li>
	</ul>
</div>
<div class="listRight">
	<ul id="en_a" style="display:block;">
    <li onclick="openSearch(this, '10-07.xml')">AAV（ANCA関連血管炎）</li>
    <li onclick="openSearch(this, '03-16.xml|09-03.xml')">ABI（足関節上腕血圧比）</li>
    <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-05.xml')">ACE（アンジオテンシン変換酵素）阻害薬</li>
    <li onclick="openSearch(this, '09-10.xml')">ACL（前十字靱帯）損傷</li>
    <li onclick="openSearch(this, '02-05.xml')">ACO（喘息とCOPDのオーバーラップ）</li>
    <li onclick="openSearch(this, '03-04.xml|06-02.xml')">ACS（急性冠症候群）</li>
    <li onclick="openSearch(this, '05-10.xml')">ACS（abdominal compartment syndrome）</li>
    <li onclick="openSearch(this, '07-08.xml')">ADAMTS13活性</li>
    <li onclick="openSearch(this, '07-08.xml')">aHUS（非典型溶血性尿毒症症候群）</li>
    <li onclick="openSearch(this, '01-06.xml')">AIDS指標疾患</li>
    <li onclick="openSearch(this, '11-02.xml')">AIGA（特発性後天性全身性無汗症）</li>
    <li onclick="openSearch(this, '05-06.xml')">AIH（自己免疫性肝炎）</li>
    <li onclick="openSearch(this, '17-03.xml')">AKI（急性腎障害）</li>
    <li onclick="openSearch(this, '07-02.xml')">ALL（急性リンパ芽球性白血病）</li>
    <li onclick="openSearch(this, '08-07.xml')">Alzheimer型認知症</li>
    <li onclick="openSearch(this, '12-08.xml')">AMD（加齢黄斑変性）</li>
    <li onclick="openSearch(this, '07-02.xml')">AML（急性骨髄性白血病）</li>
    <li onclick="openSearch(this, '10-07.xml')">ANCA関連血管炎</li>
    <li onclick="openSearch(this, '10-02.xml')">APS（抗リン脂質抗体症候群）</li>
    <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-05.xml')">ARB（アンジオテンシンⅡ受容体拮抗薬）</li>
    <li onclick="openSearch(this, '02-11.xml')">ARDS（急性呼吸窮迫症候群）</li>
    <li onclick="openSearch(this, '11-06.xml')">Artzの基準</li>
    <li onclick="openSearch(this, '03-07.xml')">AS（大動脈弁狭窄症）</li>
    <li onclick="openSearch(this, '03-09.xml')">ASD（心房中隔欠損症）</li>
    <li onclick="openSearch(this, '03-16.xml')">ASO（下肢閉塞性動脈硬化症）</li>
    <li onclick="openSearch(this, '03-05.xml')">ASV（順応性自動制御換気）</li>
	</ul>
  <ul id="en_b">
    <li onclick="openSearch(this, '05-01.xml')">B型肝炎ウイルス</li>
    <li onclick="openSearch(this, '05-01.xml|05-03.xml')">B型肝硬変</li>
    <li onclick="openSearch(this, '05-01.xml')">B型慢性肝炎</li>
    <li onclick="openSearch(this, '04-02.xml')">Barrett食道</li>
    <li onclick="openSearch(this, '14-02.xml')">BCG-failure</li>
    <li onclick="openSearch(this, '10-01.xml|10-06.xml')">bDMARDs（生物学的製剤）</li>
    <li onclick="openSearch(this, '13-10.xml')">Bell麻痺</li>
    <li onclick="openSearch(this, '03-13.xml')">BPA（バルーン肺動脈拡張術）</li>
    <li onclick="openSearch(this, '14-03.xml')">BPH（前立腺肥大症）</li>
    <li onclick="openSearch(this, '13-07.xml')">BPPV（良性発作性頭位めまい症）</li>
    <li onclick="openSearch(this, '08-07.xml')">BPSD（認知症の行動・心理症状）</li>
    <li onclick="openSearch(this, '15-04.xml')"><i>BRCA</i>遺伝子変異陽性卵巣癌</li>
    <li onclick="openSearch(this, '04-08.xml')">Bristol便形状スケール</li>
    <li onclick="openSearch(this, '12-02.xml')">BUT短縮型ドライアイ</li>
  </ul>
  <ul id="en_c">
    <li onclick="openSearch(this, '05-02.xml')">C型肝炎ウイルス</li>
    <li onclick="openSearch(this, '05-02.xml|05-03.xml')">C型肝硬変</li>
    <li onclick="openSearch(this, '05-02.xml')">C型慢性肝炎</li>
    <li onclick="openSearch(this, '03-02.xml|14-06.xml')">Ca拮抗薬</li>
    <li onclick="openSearch(this, '16-02.xml')">CAL（冠動脈病変）</li>
    <li onclick="openSearch(this, '02-02.xml')">CAP（市中肺炎）</li>
    <li onclick="openSearch(this, '03-10.xml')">CARPREGスコア</li>
    <li onclick="openSearch(this, '08-02.xml')">CBT-I（不眠の認知行動療法）</li>
    <li onclick="openSearch(this, '01-09.xml')">CD（<i>Clostridium difficile</i>）</li>
    <li onclick="openSearch(this, '01-06.xml')">CD4陽性Tリンパ球数</li>
    <li onclick="openSearch(this, '01-09.xml')">CDトキシン</li>
    <li onclick="openSearch(this, '07-08.xml')">CFH（補体H因子）</li>
    <li onclick="openSearch(this, '17-07.xml')">CGA（高齢者総合機能評価）</li>
    <li onclick="openSearch(this, '14-01.xml')">CGA分類</li>
    <li onclick="openSearch(this, '03-11.xml|08-08.xml')">CHADS<sub>2</sub> スコア</li>
    <li onclick="openSearch(this, '05-09.xml')">Charcotの三徴</li>
    <li onclick="openSearch(this, '10-07.xml')">CHCC（チャペルヒルコンセンサス会議）分類</li>
    <li onclick="openSearch(this, '15-02.xml')">CIN分類</li>
    <li onclick="openSearch(this, '14-01.xml')">CKD（慢性腎臓病）</li>
    <li onclick="openSearch(this, '03-16.xml')">CLI（重症虚血肢）</li>
    <li onclick="openSearch(this, '08-09.xml')">clinically isolated syndrome</li>
    <li onclick="openSearch(this, '07-02.xml')">CLL（慢性リンパ性白血病）</li>
    <li onclick="openSearch(this, '07-02.xml')">CML（慢性骨髄性白血病）</li>
    <li onclick="openSearch(this, '12-03.xml')">CMV（サイトメガロウイルス）角膜内皮炎</li>
    <li onclick="openSearch(this, '02-04.xml|02-05.xml')">COPD（慢性閉塞性肺疾患）</li>
    <li onclick="openSearch(this, '07-04.xml')">CRAB症状（多発性骨髄腫）</li>
    <li onclick="openSearch(this, '14-04.xml')">CRPC（去勢抵抗性前立腺癌）</li>
    <li onclick="openSearch(this, '03-12.xml')">CRT（心臓再同期療法）</li>
    <li onclick="openSearch(this, '02-10.xml')">CSR（チェーンストークス呼吸）</li>
    <li onclick="openSearch(this, '03-13.xml')">CTEPH（慢性血栓塞栓性肺高血圧症）</li>
  </ul>
  <ul id="en_d">
    <li onclick="openSearch(this, '03-14.xml|07-06.xml')">D-dimer（Dダイマー）</li>
    <li onclick="openSearch(this, '03-06.xml')">D-HCM（拡張相肥大型心筋症）</li>
    <li onclick="openSearch(this, '05-02.xml')">DAA（直接作用型抗ウイルス薬）</li>
    <li onclick="openSearch(this, '08-06.xml')">DAT（device aided therapy）</li>
    <li onclick="openSearch(this, '01-05.xml|02-02.xml')">de-escalation</li>
    <li onclick="openSearch(this, '11-08.xml')">DESIGN</li>
    <li onclick="openSearch(this, '08-06.xml')">device aided therapy</li>
    <li onclick="openSearch(this, '07-06.xml')">DIC（播種性血管内凝固）</li>
    <li onclick="openSearch(this, '16-08.xml')">disimpaction（便塊除去）</li>
    <li onclick="openSearch(this, '08-07.xml')">DLB（Lewy小体型認知症）</li>
    <li onclick="openSearch(this, '07-03.xml')">DLBCL（びまん性大細胞型B細胞リンパ腫）</li>
    <li onclick="openSearch(this, '10-04.xml')">DM（皮膚筋炎）</li>
    <li onclick="openSearch(this, '03-11.xml|03-14.xml|04-14.xml')">DOAC（直接経口抗凝固薬）</li>
    <li onclick="openSearch(this, '16-05.xml')">Dravet症候群</li>
    <li onclick="openSearch(this, '16-09.xml')">DRE（delayed repeat enema）</li>
    <li onclick="openSearch(this, '08-03.xml|08-04.xml|08-07.xml')">DSM-5（精神疾患の診断・統計マニュアル第5版）</li>
    <li onclick="openSearch(this, '03-14.xml|11-09.xml')">DVT（深部静脈血栓症）</li>
  </ul>
  <ul id="en_e">
    <li onclick="openSearch(this, '02-11.xml')">ECMO（体外式膜型人工肺）</li>
    <li onclick="openSearch(this, '05-11.xml')">ED（成分栄養剤）</li>
    <li onclick="openSearch(this, '14-07.xml')">ED（勃起障害）</li>
    <li onclick="openSearch(this, '07-05.xml')">EDTA依存性偽性血小板減少症</li>
    <li onclick="openSearch(this, '14-01.xml|17-03.xml')">eGFR（推算糸球体濾過量）</li>
    <li onclick="openSearch(this, '10-07.xml')">EGPA（好酸球性多発血管炎性肉芽腫症）</li>
    <li onclick="openSearch(this, '14-07.xml')">EHS（勃起の硬さスケール）</li>
    <li onclick="openSearch(this, '12-05.xml')">Emery-Little分類</li>
    <li onclick="openSearch(this, '06-08.xml')">ER（エストロゲン受容体）</li>
    <li onclick="openSearch(this, '07-01.xml')">ESA（赤血球造血刺激薬）</li>
    <li onclick="openSearch(this, '01-05.xml|01-08.xml')">ESBL産生菌</li>
    <li onclick="openSearch(this, '10-06.xml')">ESSDAI（EULAR Sjögren's Syndrome Disease Activity Index）</li>
    <li onclick="openSearch(this, '14-06.xml')">ESWL（体外衝撃波結石破砕術）</li>
    <li onclick="openSearch(this, '09-09.xml')">Evans分類</li>
  </ul>
  <ul id="en_f">
    <li onclick="openSearch(this, '03-09.xml')">Fallot四徴症</li>
    <li onclick="openSearch(this, '04-05.xml')">FD（機能性ディスペプシア）</li>
    <li onclick="openSearch(this, '07-06.xml')">FDP（フィブリン分解産物）</li>
    <li onclick="openSearch(this, '16-08.xml')">fecal impaction（便塞栓）</li>
    <li onclick="openSearch(this, '06-01.xml')">FGM（フラッシュグルコースモニタリングシステム）</li>
    <li onclick="openSearch(this, '06-02.xml')">FH（家族性高コレステロール血症）</li>
    <li onclick="openSearch(this, '07-03.xml')">FL（濾胞性リンパ腫）</li>
    <li onclick="openSearch(this, '09-09.xml')">FLS（骨折リエゾンサービス）</li>
    <li onclick="openSearch(this, '01-03.xml')">FN（発熱性好中球減少症）</li>
    <li onclick="openSearch(this, '03-09.xml')">Fontan術後</li>
    <li onclick="openSearch(this, '06-07.xml')">FRAX</li>
    <li onclick="openSearch(this, '09-08.xml')">Frozen Shoulder</li>
  </ul>
  <ul id="en_g">
    <li onclick="openSearch(this, '09-09.xml')">Gardenの4段階分類</li>
    <li onclick="openSearch(this, '10-08.xml')">GCA（巨細胞性動脈炎）</li>
    <li onclick="openSearch(this, '05-08.xml')">Gd-EOB MRI</li>
    <li onclick="openSearch(this, '04-02.xml')">GERD（胃食道逆流症）</li>
    <li onclick="openSearch(this, '10-04.xml')">Gottron丘疹</li>
    <li onclick="openSearch(this, '10-04.xml')">Gottron徴候</li>
    <li onclick="openSearch(this, '10-07.xml')">GPA（血管性肉芽腫症）</li>
    <li onclick="openSearch(this, '10-01.xml')">GRADEシステム（法）</li>
  </ul>
  <ul id="en_h">
    <li onclick="openSearch(this, '04-06.xml|07-01.xml|07-05.xml')"><i>H. pylori</i></li>
    <li onclick="openSearch(this, '04-04.xml')"><i>H. pylori</i>感染胃炎</li>
    <li onclick="openSearch(this, '04-05.xml')"><i>H. pylori</i>関連ディスペプシア</li>
    <li onclick="openSearch(this, '02-02.xml')">HAP（院内肺炎）</li>
    <li onclick="openSearch(this, '05-01.xml')">HBs抗原</li>
    <li onclick="openSearch(this, '05-01.xml')">HBV（B型肝炎ウイルス）</li>
    <li onclick="openSearch(this, '05-02.xml|05-04.xml')">HBVの再活性化</li>
    <li onclick="openSearch(this, '05-02.xml')">HCV（C型肝炎ウイルス）</li>
    <li onclick="openSearch(this, '07-04.xml')">HDT/ASCT（自家造血幹細胞移植併用大量化学療法）</li>
    <li onclick="openSearch(this, '06-08.xml')">HER2蛋白</li>
    <li onclick="openSearch(this, '01-06.xml')">HIV感染症</li>
    <li onclick="openSearch(this, '07-03.xml')">HL（ホジキンリンパ腫）</li>
    <li onclick="openSearch(this, '03-06.xml')">HOCM（閉塞性肥大型心筋症）</li>
    <li onclick="openSearch(this, '13-10.xml')">House-Brackmann法</li>
    <li onclick="openSearch(this, '15-05.xml')">HRT（ホルモン補充療法）</li>
    <li onclick="openSearch(this, '08-10.xml|11-10.xml|13-10.xml')">HSV-1（単純ヘルペスウイルス1型）</li>
    <li onclick="openSearch(this, '08-10.xml|11-10.xml')">HSV-2（単純ヘルペスウイルス2型）</li>
    <li onclick="openSearch(this, '13-10.xml')">Hunt症候群</li>
    <li onclick="openSearch(this, '01-09.xml|07-08.xml')">HUS（溶血性尿毒症症候群）</li>
  </ul>
  <ul id="en_i">
    <li onclick="openSearch(this, '04-09.xml')">IBS（過敏性腸症候群）</li>
    <li onclick="openSearch(this, '03-12.xml')">ICD（植込み型除細動器）</li>
    <li onclick="openSearch(this, '02-03.xml|02-05.xml|16-04.xml')">ICS（吸入ステロイド薬）</li>
    <li onclick="openSearch(this, '02-03.xml')">ICS/LABA配合剤</li>
    <li onclick="openSearch(this, '15-04.xml')">IDS（interval debulking surgery）</li>
    <li onclick="openSearch(this, '05-02.xml')">IFN（インターフェロン）フリー治療</li>
    <li onclick="openSearch(this, '16-03.xml')">IgE抗体，特異的</li>
    <li onclick="openSearch(this, '10-10.xml')">IgG4関連疾患</li>
    <li onclick="openSearch(this, '10-10.xml')">IgG4関連疾患包括診断基準2011</li>
    <li onclick="openSearch(this, '02-07.xml')">IGRA（インターフェロン-γ遊離試験）</li>
    <li onclick="openSearch(this, '02-09.xml')">IIPs（特発性間質性肺炎）</li>
    <li onclick="openSearch(this, '02-09.xml')">IPF（特発性肺線維症）</li>
    <li onclick="openSearch(this, '07-03.xml')">IPI（国際予後指数）</li>
    <li onclick="openSearch(this, '14-03.xml')">IPSS（国際前立腺症状スコア）</li>
    <li onclick="openSearch(this, '07-02.xml')">IPSS（国際予後判定システム）</li>
    <li onclick="openSearch(this, '07-05.xml')">ITP（特発性血小板減少性紫斑病）</li>
  </ul>
  <ul id="en_j">
    <li>該当なし</li>
  </ul>
  <ul id="en_k">
    <li onclick="openSearch(this, '13-08.xml')">Kallmann症候群</li>
  </ul>
  <ul id="en_l">
    <li onclick="openSearch(this, '02-04.xml|02-05.xml')">LABA（長時間作用性β2 刺激薬）</li>
    <li onclick="openSearch(this, '02-04.xml|02-05.xml')">LAMA（長時間作用性抗コリン薬）</li>
    <li onclick="openSearch(this, '07-02.xml')">LBL（リンパ芽球性リンパ腫）</li>
    <li onclick="openSearch(this, '15-01.xml|15-06.xml')">LEP（低用量エストロゲン・プロゲスチン配合薬）</li>
    <li onclick="openSearch(this, '08-07.xml')">Lewy小体型認知症</li>
    <li onclick="openSearch(this, '15-01.xml')">LNG-IUS</li>
    <li onclick="openSearch(this, '05-04.xml')">LOHF（遅発性肝不全）</li>
    <li onclick="openSearch(this, '09-09.xml')">LSC（late segmental collapse）</li>
    <li onclick="openSearch(this, '02-03.xml|16-04.xml')">LTRA（ロイコトリエン受容体拮抗薬）</li>
  </ul>
  <ul id="en_m">
    <li onclick="openSearch(this, '10-09.xml')">MAS（マクロファージ活性化症候群）</li>
    <li onclick="openSearch(this, '01-03.xml')">MASCCスコア</li>
    <li onclick="openSearch(this, '07-02.xml')">MDS（骨髄異形成症候群）</li>
    <li onclick="openSearch(this, '07-04.xml')">MGUS（意義不明の単クローン性ガンマグロブリン血症）</li>
    <li onclick="openSearch(this, '14-03.xml')">MLUTS（男性下部尿路症状）</li>
    <li onclick="openSearch(this, '07-04.xml')">MM（多発性骨髄腫）</li>
    <li onclick="openSearch(this, '08-01.xml')">MOH（薬物乱用頭痛）</li>
    <li onclick="openSearch(this, '11-08.xml')">moist wound healing（湿潤環境下療法）</li>
    <li onclick="openSearch(this, '10-07.xml')">MPA（顕微鏡的多発血管炎）</li>
    <li onclick="openSearch(this, '07-02.xml')">MPN（骨髄増殖性腫瘍）</li>
    <li onclick="openSearch(this, '03-07.xml')">MR（僧帽弁閉鎖不全症）</li>
    <li onclick="openSearch(this, '01-10.xml|11-11.xml')">MRSA（感染症）</li>
    <li onclick="openSearch(this, '08-09.xml')">MS（多発性硬化症）</li>
    <li onclick="openSearch(this, '16-10.xml')">MSBP（代理によるミュンヒハウゼン症候群）</li>
    <li onclick="openSearch(this, '05-09.xml')">Murphy徴候</li>
    <li onclick="openSearch(this, '09-05.xml')">myelopathy hand</li>
  </ul>
  <ul id="en_n">
    <li onclick="openSearch(this, '05-05.xml')">NAFLD（非アルコール性脂肪性肝疾患）</li>
    <li onclick="openSearch(this, '05-05.xml')">NASH（非アルコール性脂肪肝炎）</li>
    <li onclick="openSearch(this, '02-02.xml')">NHCAP（医療・介護関連肺炎）</li>
    <li onclick="openSearch(this, '07-03.xml')">NHL（非ホジキンリンパ腫）</li>
    <li onclick="openSearch(this, '17-04.xml')">NK<sub>1</sub> 受容体拮抗薬</li>
    <li onclick="openSearch(this, '08-09.xml')">NMO（視神経脊髄炎）</li>
    <li onclick="openSearch(this, '02-10.xml|03-05.xml')">NPPV（非侵襲的陽圧換気療法）</li>
    <li onclick="openSearch(this, '04-06.xml|09-01.xml|09-06.xml|10-06.xml|14-06.xml|15-01.xml')">NSAIDs（非ステロイド性抗炎症薬）</li>
  </ul>
  <ul id="en_o">
    <li onclick="openSearch(this, '14-03.xml|14-05.xml')">OAB（過活動膀胱）</li>
    <li onclick="openSearch(this, '15-01.xml|15-06.xml')">OC（経口避妊薬）</li>
    <li onclick="openSearch(this, '12-08.xml')">OCT（光干渉断層計）angiography</li>
    <li onclick="openSearch(this, '09-04.xml')">OPLL（頸椎後縦靱帯骨化症）</li>
    <li onclick="openSearch(this, '02-10.xml')">OSA（閉塞性睡眠時無呼吸）</li>
  </ul>
  <ul id="en_p">
    <li onclick="openSearch(this, '06-06.xml')">PA（原発性アルドステロン症）</li>
    <li onclick="openSearch(this, '12-08.xml')">pachychoroid（脈絡膜肥厚）</li>
    <li onclick="openSearch(this, '15-06.xml')">PALM-COEIN分類</li>
    <li onclick="openSearch(this, '11-06.xml')">Parkland法</li>
    <li onclick="openSearch(this, '05-07.xml')">PBC（原発性胆汁性胆管炎）</li>
    <li onclick="openSearch(this, '03-03.xml|03-04.xml')">PCI（経皮的冠動脈インターベンション）</li>
    <li onclick="openSearch(this, '15-06.xml')">PCOS（多囊胞性卵巣症候群）</li>
    <li onclick="openSearch(this, '06-02.xml')">PCSK9阻害薬</li>
    <li onclick="openSearch(this, '17-01.xml')">PD-L1</li>
    <li onclick="openSearch(this, '14-03.xml|14-07.xml')">PDE5阻害薬</li>
    <li onclick="openSearch(this, '12-08.xml')">PDT（光線力学的療法）</li>
    <li onclick="openSearch(this, '03-13.xml')">PEA（肺動脈血栓内膜摘除術）</li>
    <li onclick="openSearch(this, '02-11.xml')">permissive hypercapnia</li>
    <li onclick="openSearch(this, '06-08.xml')">PgR（プロゲステロン受容体）</li>
    <li onclick="openSearch(this, '03-13.xml')">PH（肺高血圧症）</li>
    <li onclick="openSearch(this, '07-02.xml')">Ph染色体</li>
    <li onclick="openSearch(this, '11-10.xml')">PHN（帯状疱疹後神経痛）</li>
    <li onclick="openSearch(this, '14-04.xml')">PIRADS（Prostate Imaging and Reporting and Data System）</li>
    <li onclick="openSearch(this, '10-04.xml')">PM（多発性筋炎）</li>
    <li onclick="openSearch(this, '15-01.xml')">PMDD（月経前不快気分障害）</li>
    <li onclick="openSearch(this, '10-08.xml')">PMR（リウマチ性多発筋痛症）</li>
    <li onclick="openSearch(this, '15-01.xml')">PMS（月経前症候群）</li>
    <li onclick="openSearch(this, '14-06.xml')">PNL（経皮的結石破砕術）</li>
    <li onclick="openSearch(this, '04-02.xml|04-04.xml|04-06.xml')">PPI（プロトンポンプ阻害薬）</li>
    <li onclick="openSearch(this, '10-03.xml|11-12.xml')"><i>Propionibacterium acnes</i>（<i>P. acnes</i>）</li>
    <li onclick="openSearch(this, '14-03.xml|14-04.xml')">PSA（前立腺特異抗原）</li>
  </ul>
  <ul id="en_q">
    <li>該当なし</li>
  </ul>
  <ul id="en_r">
    <li onclick="openSearch(this, '10-01.xml')">RA（関節リウマチ）</li>
    <li onclick="openSearch(this, '04-04.xml')">RAC（regular arrangement of collecting venules）</li>
    <li onclick="openSearch(this, '16-02.xml')">RAISE study</li>
    <li onclick="openSearch(this, '09-02.xml')">red flags</li>
    <li onclick="openSearch(this, '05-09.xml')">Reynoldsの五徴</li>
    <li onclick="openSearch(this, '10-09.xml')">RHS（反応性血球貪食症候群）</li>
    <li onclick="openSearch(this, '09-04.xml')">Romberg徴候</li>
    <li onclick="openSearch(this, '04-09.xml')">Rome Ⅳ基準</li>
    <li onclick="openSearch(this, '13-09.xml')">RSST（反復唾液飲みテスト）</li>
  </ul>
  <ul id="en_s">
    <li onclick="openSearch(this, '16-10.xml')">SBS（乳幼児揺さぶられ症候群）</li>
    <li onclick="openSearch(this, '06-06.xml')">SCS（サブクリニカルクッシング症候群）</li>
    <li onclick="openSearch(this, '10-01.xml')">SDM（shared decision making）</li>
    <li onclick="openSearch(this, '14-07.xml')">SHIM（Sexual Health Inventory for Men）</li>
    <li onclick="openSearch(this, '17-03.xml')">short hydration</li>
    <li onclick="openSearch(this, '11-07.xml')">SJS（スティーヴンス・ジョンソン症候群）</li>
    <li onclick="openSearch(this, '11-07.xml')">SJS/TENオーバーラップ</li>
    <li onclick="openSearch(this, '10-02.xml')">SLE（全身性エリテマトーデス）</li>
    <li onclick="openSearch(this, '07-02.xml')">SLL（小リンパ性白血病）</li>
    <li onclick="openSearch(this, '09-01.xml')">SLRテスト陽性</li>
    <li onclick="openSearch(this, '17-09.xml')">SMI（骨格筋量指標）</li>
    <li onclick="openSearch(this, '08-03.xml')">SNRI（セロトニン・ノルアドレナリン再取り込み阻害薬）</li>
    <li onclick="openSearch(this, '01-02.xml')">SOFAスコア</li>
    <li onclick="openSearch(this, '10-06.xml')">SS（シェーグレン症候群）</li>
    <li onclick="openSearch(this, '10-05.xml')">SSc（全身性強皮症）</li>
    <li onclick="openSearch(this, '11-04.xml')">SSCI-Net（Skin Safety Case Information Network）</li>
    <li onclick="openSearch(this, '08-03.xml')">SSRI（選択的セロトニン再取り込み阻害薬）</li>
    <li onclick="openSearch(this, '07-08.xml')">STEC（志賀毒素産生大腸菌）</li>
    <li onclick="openSearch(this, '03-04.xml')">STEMI（ST上昇型急性心筋梗塞）</li>
  </ul>
  <ul id="en_t">
    <li onclick="openSearch(this, '13-08.xml')">T&Tオルファクトメトリー</li>
    <li onclick="openSearch(this, '05-08.xml')">TACE（肝動脈化学塞栓療法）</li>
    <li onclick="openSearch(this, '02-06.xml')">TDS（ニコチン依存症のスクリーニングテスト）</li>
    <li onclick="openSearch(this, '11-07.xml')">TEN（中毒性表皮壊死症）</li>
    <li onclick="openSearch(this, '03-15.xml')">TEVAR（ステントグラフト内挿術）</li>
    <li onclick="openSearch(this, '12-02.xml')">TFOD（眼表面の層別診断）</li>
    <li onclick="openSearch(this, '12-02.xml')">TFOT（眼表面の層別治療）</li>
    <li onclick="openSearch(this, '07-02.xml')">TKI（チロシンキナーゼ阻害薬）</li>
    <li onclick="openSearch(this, '07-08.xml')">TMA（血栓性微小血管症）</li>
    <li onclick="openSearch(this, '12-08.xml')">Treat and Extend法</li>
    <li onclick="openSearch(this, '13-01.xml')">TRT（tinnitus retraining therapy）</li>
    <li onclick="openSearch(this, '07-08.xml')">TTP（血栓性血小板減少性紫斑病）</li>
    <li onclick="openSearch(this, '14-06.xml')">TUL（経尿道的結石破砕術）</li>
    <li onclick="openSearch(this, '14-02.xml')">TURBT（経尿道的膀胱腫瘍切除術）</li>
  </ul>
  <ul id="en_u">
    <li onclick="openSearch(this, '09-11.xml')">UPS（未分化多形肉腫）</li>
  </ul>
  <ul id="en_v">
    <li onclick="openSearch(this, '03-08.xml')">vegetation</li>
    <li onclick="openSearch(this, '12-04.xml')">Vogt-小柳-原田病</li>
    <li onclick="openSearch(this, '07-07.xml')">VWD（フォン・ヴィレブランド病）</li>
    <li onclick="openSearch(this, '11-10.xml')">VZV（水痘帯状疱疹ウイルス）</li>
  </ul>
  <ul id="en_w">
    <li onclick="openSearch(this, '08-06.xml')">wearing off</li>
    <li onclick="openSearch(this, '05-10.xml')">WON（被包化壊死）</li>
    <li onclick="openSearch(this, '11-08.xml')">wound bed preparation（創面環境調整）</li>
  </ul>
  <ul id="en_x">
    <li>該当なし</li>
  </ul>
  <ul id="en_y">
    <li>該当なし</li>
  </ul>
  <ul id="en_z">
    <li onclick="openSearch(this, '03-10.xml')">ZAHARAスコア</li>
    <li onclick="openSearch(this, '13-10.xml')">ZSH（無疱疹性帯状疱疹）</li>
  </ul>
  <ul id="en_kg">
    <li onclick="openSearch(this, '14-03.xml|14-06.xml')">α<sub>1</sub> 遮断薬</li>
    <li onclick="openSearch(this, '02-03.xml|02-04.xml|02-05.xml|16-04.xml')">β<sub>2</sub> 刺激薬</li>
    <li onclick="openSearch(this, '14-05.xml')">β<sub>3</sub> 作動薬</li>
    <li onclick="openSearch(this, '03-04.xml|03-06.xml')">β遮断薬</li>
    <li onclick="openSearch(this, '11-02.xml')">Ⅰ型アレルギー</li>
    <li onclick="openSearch(this, '06-01.xml')">1型糖尿病</li>
    <li onclick="openSearch(this, '06-01.xml')">2型糖尿病</li>
    <li onclick="openSearch(this, '17-04.xml')">5-HT<sub>3</sub> 受容体拮抗薬（第2世代）</li>
    <li onclick="openSearch(this, '14-03.xml')">5α還元酵素阻害薬</li>
    <li onclick="openSearch(this, '11-06.xml')">9の法則</li>
    <li onclick="openSearch(this, '09-04.xml')">10秒テスト</li>
    <li onclick="openSearch(this, '13-10.xml')">40点法</li>
  </ul>
</div>
</ons-page>