<ons-page id="menu">
  <!-- タブ -->
  <ons-tabbar position="top" var="menu_tab">
    <ons-tab page="menu_page1.html" no-reload persistent onclick="menuActiveChk(this);" active="true"><ons-icon icon="ion-ios-list-outline" style="font-size: 28px;"><div style="font-size:10pt;">目次</div></ons-icon></ons-tab>
    <ons-tab page="menu_page2.html" no-reload persistent onclick="menuActiveChk(this);" active=""><ons-icon icon="ion-ios-search-strong" style="font-size: 28px;"><div style="font-size:10pt;">検索</div></ons-icon></ons-tab>
    <ons-tab page="menu_page3.html" no-reload persistent onclick="menuActiveChk(this);" active=""><ons-icon icon="ion-ios-star-outline" style="font-size: 28px;"><div style="font-size:10pt;">お気に入り</div></ons-icon></ons-tab>
    <ons-tab page="menu_page4.html" no-reload persistent onclick="menuActiveChk(this);" active=""><ons-icon icon="ion-ios-more" style="font-size: 28px;"><div style="font-size:10pt;">その他</div></ons-icon></ons-tab>
  </ons-tabbar>
</ons-pae>