<ons-page>
<div class="list-content">
	<div class="list-content-container">
		<ol class="index-list" style="counter-reset:ol_li 0;" id="chapter01">
			<li>
				<div class="midashi">感染症</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 1;" id="chapter02">
			<li id="chapter02">
				<div class="midashi">呼吸器疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 2;" id="chapter03">
			<li>
				<div class="midashi">循環器疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 3;" id="chapter04">
			<li>
				<div class="midashi">消化器疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 4;" id="chapter05">
			<li>
				<div class="midashi">肝・胆・膵疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 5;" id="chapter06">
			<li>
				<div class="midashi">内分泌・代謝系疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 6;" id="chapter07">
			<li>
				<div class="midashi">血液疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 7;" id="chapter08">
			<li>
				<div class="midashi">中枢神経系疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 8;" id="chapter09">
			<li>
				<div class="midashi">運動器系疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 9;" id="chapter10">
			<li>
				<div class="midashi">膠原病・類縁疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 10;" id="chapter11">
			<li>
				<div class="midashi">皮膚科疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 11;" id="chapter12">
			<li>
				<div class="midashi">眼科疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 12;" id="chapter13">
			<li>
				<div class="midashi">耳鼻科咽喉科疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 13;" id="chapter14">
			<li>
				<div class="midashi">腎・泌尿器疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 14;" id="chapter15">
			<li>
				<div class="midashi">婦人科疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 15;" id="chapter16">
			<li>
				<div class="midashi">小児科疾患</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol>
		<ol class="index-list" style="counter-reset:ol_li 16;" id="chapter17">
			<li>
				<div class="midashi">がん・高齢者</div>
				<ol class="index-sub-list"></ol>
			</li>
		</ol><!-- End:class="index-list" -->
	</div><!-- End:class="list-content-container" -->
	<br>
</div><!-- End:class="list-content" -->
</ons-page>