<ons-page>
<div class="listLeft">
    <ul>
		<!-- ア行 -->
		<li class="onSselectBtn" onclick="openSearchList(this, 'jp_a');">あ</li>
		<li onclick="openSearchList(this, 'jp_i');">い</li>
		<li onclick="openSearchList(this, 'jp_u');">う</li>
		<li onclick="openSearchList(this, 'jp_e');">え</li>
		<li onclick="openSearchList(this, 'jp_o');">お</li>
		<!-- カ行 -->
		<li onclick="openSearchList(this, 'jp_ka');">か</li>
		<li onclick="openSearchList(this, 'jp_ki');">き</li>
		<li onclick="openSearchList(this, 'jp_ku');">く</li>
		<li onclick="openSearchList(this, 'jp_ke');">け</li>
		<li onclick="openSearchList(this, 'jp_ko');">こ</li>
		<!-- サ行 -->
		<li onclick="openSearchList(this, 'jp_sa');">さ</li>
		<li onclick="openSearchList(this, 'jp_si');">し</li>
		<li onclick="openSearchList(this, 'jp_su');">す</li>
		<li onclick="openSearchList(this, 'jp_se');">せ</li>
		<li onclick="openSearchList(this, 'jp_so');">そ</li>
		<!-- タ行 -->
		<li onclick="openSearchList(this, 'jp_ta');">た</li>
		<li onclick="openSearchList(this, 'jp_ti');">ち</li>
		<li onclick="openSearchList(this, 'jp_tu');">つ</li>
		<li onclick="openSearchList(this, 'jp_te');">て</li>
		<li onclick="openSearchList(this, 'jp_to');">と</li>
		<!-- ナ行 -->
		<li onclick="openSearchList(this, 'jp_na');">な</li>
		<li onclick="openSearchList(this, 'jp_ni');">に</li>
		<li onclick="openSearchList(this, 'jp_nu');">ぬ</li>
		<li onclick="openSearchList(this, 'jp_ne');">ね</li>
		<li onclick="openSearchList(this, 'jp_no');">の</li>
		<!-- ハ行 -->
		<li onclick="openSearchList(this, 'jp_ha');">は</li>
		<li onclick="openSearchList(this, 'jp_hi');">ひ</li>
		<li onclick="openSearchList(this, 'jp_hu');">ふ</li>
		<li onclick="openSearchList(this, 'jp_he');">へ</li>
		<li onclick="openSearchList(this, 'jp_ho');">ほ</li>
		<!-- マ行 -->
		<li onclick="openSearchList(this, 'jp_ma');">ま</li>
		<li onclick="openSearchList(this, 'jp_mi');">み</li>
		<li onclick="openSearchList(this, 'jp_mu');">む</li>
		<li onclick="openSearchList(this, 'jp_me');">め</li>
		<li onclick="openSearchList(this, 'jp_mo');">も</li>
		<!-- ヤ行 -->
		<li onclick="openSearchList(this, 'jp_ya');">や</li>
    	<li style="height:0px;"></li>
        <li onclick="openSearchList(this, 'jp_yu');">ゆ</li>
    	<li style="height:0px;"></li>
		<li onclick="openSearchList(this, 'jp_yo');">よ</li>
		<!-- ラ行 -->
		<li onclick="openSearchList(this, 'jp_ra');">ら</li>
		<li onclick="openSearchList(this, 'jp_ri');">り</li>
		<li onclick="openSearchList(this, 'jp_ru');">る</li>
		<li onclick="openSearchList(this, 'jp_re');">れ</li>
		<li onclick="openSearchList(this, 'jp_ro');">ろ</li>
		<!-- ワ行 -->
		<li onclick="openSearchList(this, 'jp_wa');">わ</li>
	</ul>
</div>
<div class="listRight">
	<ul id="jp_a" style="display:block;">
		<li onclick="openSearch(this, '12-03.xml')">アカントアメーバ角膜炎</li>
    <li onclick="openSearch(this, '06-05.xml')">亜急性甲状腺炎</li>
    <li onclick="openSearch(this, '09-10.xml')">アキレス腱断裂</li>
    <li onclick="openSearch(this, '09-11.xml')">悪性線維性組織球腫</li>
    <li onclick="openSearch(this, '07-03.xml')">悪性リンパ腫</li>
    <li onclick="openSearch(this, '08-03.xml')">アクチベーション症候群</li>
    <li onclick="openSearch(this, '11-03.xml')">足白癬</li>
    <li onclick="openSearch(this, '01-07.xml')">アスペルギルス症</li>
    <li onclick="openSearch(this, '09-05.xml')">圧迫性頚髄症</li>
    <li onclick="openSearch(this, '11-09.xml')">圧迫療法</li>
    <li onclick="openSearch(this, '13-03.xml')">アデノイド切除術</li>
    <li onclick="openSearch(this, '02-01.xml')">アトピー咳嗽</li>
    <li onclick="openSearch(this, '12-01.xml')">アトピー性角結膜炎</li>
    <li onclick="openSearch(this, '11-01.xml')">アトピー性皮膚炎</li>
    <li onclick="openSearch(this, '16-03.xml')">アトピー性皮膚炎，乳児</li>
    <li onclick="openSearch(this, '02-03.xml|11-01.xml')">アトピー素因</li>
    <li onclick="openSearch(this, '11-02.xml|16-03.xml')">アナフィラキシー</li>
    <li onclick="openSearch(this, '17-05.xml')">アピアランスケア</li>
    <li onclick="openSearch(this, '08-07.xml')">アルツハイマー（Alzheimer）型認知症</li>
    <li onclick="openSearch(this, '12-01.xml')">アレルギー性結膜疾患</li>
    <li onclick="openSearch(this, '11-04.xml')">アレルギー性接触皮膚炎</li>
    <li onclick="openSearch(this, '13-04.xml')">アレルゲン免疫療法</li>
    <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-05.xml')">アンジオテンシンⅡ受容体拮抗薬</li>
    <li onclick="openSearch(this, '03-02.xml|03-04.xml|03-05.xml')">アンジオテンシン変換酵素阻害薬</li>
    <li onclick="openSearch(this, '03-03.xml')">安定狭心症</li>
	</ul>
	<ul id="jp_i">
    <li onclick="openSearch(this, '04-07.xml')">胃癌</li>
    <li onclick="openSearch(this, '07-04.xml')">意義不明の単クローン性ガンマグロブリン血症</li>
    <li onclick="openSearch(this, '13-08.xml')">異嗅症</li>
    <li onclick="openSearch(this, '04-02.xml')">胃食道逆流症</li>
    <li onclick="openSearch(this, '04-12.xml')">遺伝性大腸癌</li>
    <li onclick="openSearch(this, '15-04.xml')">遺伝性乳癌卵巣癌</li>
    <li onclick="openSearch(this, '17-03.xml')">イヌリン・クリアランス簡易法</li>
    <li onclick="openSearch(this, '16-08.xml')">遺糞症</li>
    <li onclick="openSearch(this, '02-02.xml')">医療・介護関連肺炎</li>
    <li onclick="openSearch(this, '06-01.xml')">インスリン依存状態</li>
    <li onclick="openSearch(this, '06-01.xml')">インスリン非依存状態</li>
    <li onclick="openSearch(this, '05-06.xml')">インターフェイス肝炎</li>
    <li onclick="openSearch(this, '02-07.xml')">インターフェロン-γ遊離試験</li>
    <li onclick="openSearch(this, '05-02.xml')">インターフェロンフリー治療</li>
    <li onclick="openSearch(this, '02-02.xml')">院内肺炎</li>
    <li onclick="openSearch(this, '07-07.xml|07-08.xml')">インヒビター</li>
    <li onclick="openSearch(this, '01-01.xml')">インフルエンザ</li>
    <li onclick="openSearch(this, '13-02.xml|13-05.xml')">インフルエンザ菌</li>
	</ul>
	<ul id="jp_u">
    <li onclick="openSearch(this, '11-14.xml')">ウィッグ</li>
    <li onclick="openSearch(this, '03-08.xml|03-12.xml')">植込み型除細動器</li>
    <li onclick="openSearch(this, '03-01.xml')">植込み型ループレコーダー</li>
    <li onclick="openSearch(this, '10-10.xml')">渦巻き様線維化</li>
    <li onclick="openSearch(this, '15-05.xml')">うつ症状</li>
    <li onclick="openSearch(this, '08-03.xml')">うつ病</li>
    <li onclick="openSearch(this, '08-06.xml')">運動緩慢</li>
	</ul>
	<ul id="jp_e">
		<li onclick="openSearch(this, '16-03.xml')">栄養食事指導</li>
    <li onclick="openSearch(this, '11-11.xml')">壊死性筋膜炎</li>
    <li onclick="openSearch(this, '05-10.xml')">壊死性膵炎</li>
    <li onclick="openSearch(this, '10-07.xml')">壊死性半月体形成性糸球体腎炎</li>
    <li onclick="openSearch(this, '15-05.xml|15-06.xml')">エストロゲン</li>
    <li onclick="openSearch(this, '06-08.xml')">エストロゲン受容体</li>
    <li onclick="openSearch(this, '17-01.xml')">エフェクターT細胞療法</li>
    <li onclick="openSearch(this, '09-11.xml')">円形細胞肉腫</li>
    <li onclick="openSearch(this, '11-13.xml')">円形脱毛症</li>
    <li onclick="openSearch(this, '13-09.xml')">嚥下訓練法</li>
    <li onclick="openSearch(this, '13-09.xml')">嚥下障害</li>
    <li onclick="openSearch(this, '13-09.xml')">嚥下造影検査</li>
    <li onclick="openSearch(this, '13-09.xml')">嚥下内視鏡検査</li>
	</ul>
	<ul id="jp_o">
    <li onclick="openSearch(this, '11-11.xml')">黄色ブドウ球菌</li>
    <li onclick="openSearch(this, '17-04.xml')">悪心・嘔吐，オピオイド誘発性</li>
    <li onclick="openSearch(this, '17-04.xml')">悪心・嘔吐，がん治療に伴う</li>
    <li onclick="openSearch(this, '17-02.xml')">オピオイド</li>
    <li onclick="openSearch(this, '17-02.xml')">オピオイドスイッチング</li>
    <li onclick="openSearch(this, '17-04.xml')">オピオイド誘発性悪心・嘔吐</li>
    <li onclick="openSearch(this, '08-09.xml')">オリゴクローナルIgGバンド</li>
    <li onclick="openSearch(this, '13-01.xml')">音響療法</li>
	</ul>
	<ul id="jp_ka">
		<li onclick="openSearch(this, '15-05.xml')">外陰萎縮症状</li>
    <li onclick="openSearch(this, '17-05.xml')">外見の変化，がん治療に伴う</li>
    <li onclick="openSearch(this, '09-08.xml')">外傷性拘縮</li>
    <li onclick="openSearch(this, '11-15.xml')">疥癬</li>
    <li onclick="openSearch(this, '11-15.xml')">疥癬トンネル</li>
    <li onclick="openSearch(this, '02-01.xml')">咳嗽</li>
    <li onclick="openSearch(this, '05-10.xml')">改訂アトランタ分類</li>
    <li onclick="openSearch(this, '04-10.xml')">潰瘍性大腸炎</li>
    <li onclick="openSearch(this, '15-06.xml')">カウフマン療法</li>
    <li onclick="openSearch(this, '10-10.xml')">花筵様線維化</li>
    <li onclick="openSearch(this, '11-06.xml')">化学損傷</li>
    <li onclick="openSearch(this, '14-03.xml|14-05.xml')">過活動膀胱</li>
    <li onclick="openSearch(this, '11-15.xml')">角化型疥癬</li>
    <li onclick="openSearch(this, '05-01.xml')">核酸アナログ</li>
    <li onclick="openSearch(this, '02-01.xml')">喀痰</li>
    <li onclick="openSearch(this, '03-06.xml')">拡張相肥大型心筋症</li>
    <li onclick="openSearch(this, '12-03.xml')">角膜炎，アカントアメーバ</li>
    <li onclick="openSearch(this, '12-03.xml')">角膜炎，細菌性</li>
    <li onclick="openSearch(this, '12-03.xml')">角膜炎，真菌性</li>
    <li onclick="openSearch(this, '12-03.xml')">角膜ヘルペス</li>
    <li onclick="openSearch(this, '11-09.xml')">下肢潰瘍</li>
    <li onclick="openSearch(this, '11-09.xml')">下肢静脈瘤</li>
    <li onclick="openSearch(this, '11-09.xml')">下肢静脈瘤血管内レーザー焼灼術</li>
    <li onclick="openSearch(this, '03-16.xml')">下肢閉塞性動脈硬化症</li>
    <li onclick="openSearch(this, '06-02.xml')">家族性高コレステロール血症</li>
    <li onclick="openSearch(this, '05-12.xml')">家族性膵癌</li>
    <li onclick="openSearch(this, '04-12.xml')">家族性大腸腺腫症</li>
    <li onclick="openSearch(this, '09-08.xml')">肩関節拘縮</li>
    <li onclick="openSearch(this, '09-08.xml')">肩関節周囲炎</li>
    <li onclick="openSearch(this, '10-08.xml')">肩の痛み</li>
    <li onclick="openSearch(this, '06-06.xml')">褐色細胞腫</li>
    <li onclick="openSearch(this, '09-11.xml')">滑膜肉腫</li>
    <li onclick="openSearch(this, '03-02.xml|17-08.xml')">家庭血圧</li>
    <li onclick="openSearch(this, '03-11.xml')">カテーテルアブレーション</li>
    <li onclick="openSearch(this, '04-09.xml')">過敏性腸症候群</li>
    <li onclick="openSearch(this, '14-05.xml')">下部尿路症状，女性</li>
    <li onclick="openSearch(this, '14-03.xml')">下部尿路症状，男性</li>
    <li onclick="openSearch(this, '13-04.xml')">花粉症</li>
    <li onclick="openSearch(this, '03-02.xml')">仮面高血圧</li>
    <li onclick="openSearch(this, '12-04.xml')">仮面症候群</li>
    <li onclick="openSearch(this, '11-05.xml')">痒み</li>
    <li onclick="openSearch(this, '12-08.xml')">加齢黄斑変性</li>
    <li onclick="openSearch(this, '16-02.xml')">川崎病</li>
    <li onclick="openSearch(this, '05-03.xml|05-04.xml')">肝移植</li>
    <li onclick="openSearch(this, '05-01.xml')">肝炎，B型慢性</li>
    <li onclick="openSearch(this, '05-02.xml')">肝炎，C型慢性</li>
    <li onclick="openSearch(this, '05-04.xml')">肝炎，劇症</li>
    <li onclick="openSearch(this, '05-06.xml')">肝炎，自己免疫性</li>
    <li onclick="openSearch(this, '05-05.xml')">肝炎，非アルコール性脂肪</li>
    <li onclick="openSearch(this, '05-08.xml')">肝癌</li>
    <li onclick="openSearch(this, '03-16.xml')">間歇性跛行</li>
    <li onclick="openSearch(this, '05-01.xml|05-03.xml')">肝硬変，B型</li>
    <li onclick="openSearch(this, '05-02.xml|05-03.xml')">肝硬変，C型</li>
    <li onclick="openSearch(this, '05-07.xml')">肝硬変，原発性胆汁性</li>
    <li onclick="openSearch(this, '05-03.xml')">肝硬変，非代償性</li>
    <li onclick="openSearch(this, '09-07.xml')">寛骨臼形成不全</li>
    <li onclick="openSearch(this, '01-07.xml')">カンジダ症</li>
    <li onclick="openSearch(this, '02-09.xml|10-04.xml|10-05.xml|10-07.xml')">間質性肺炎</li>
    <li onclick="openSearch(this, '05-05.xml')">肝生検</li>
    <li onclick="openSearch(this, '05-03.xml|05-04.xml')">肝性脳症</li>
    <li onclick="openSearch(this, '06-07.xml|09-06.xml|10-01.xml|10-06.xml')">関節リウマチ</li>
    <li onclick="openSearch(this, '02-01.xml')">感染後咳嗽</li>
    <li onclick="openSearch(this, '12-03.xml')">感染性角膜炎</li>
    <li onclick="openSearch(this, '01-10.xml|03-08.xml')">感染性心内膜炎</li>
    <li onclick="openSearch(this, '01-09.xml')">感染性腸炎</li>
    <li onclick="openSearch(this, '10-06.xml')">乾燥症状</li>
    <li onclick="openSearch(this, '11-13.xml')">感嘆符毛</li>
    <li onclick="openSearch(this, '16-08.xml')">浣腸</li>
    <li onclick="openSearch(this, '17-04.xml')">がん治療に伴う悪心・嘔吐</li>
    <li onclick="openSearch(this, '17-05.xml')">がん治療に伴う外見の変化</li>
    <li onclick="openSearch(this, '17-02.xml')">がん疼痛</li>
    <li onclick="openSearch(this, '05-08.xml')">肝動脈化学塞栓療法</li>
    <li onclick="openSearch(this, '16-02.xml')">冠動脈病変</li>
    <li onclick="openSearch(this, '05-08.xml')">肝内胆管癌</li>
    <li onclick="openSearch(this, '11-05.xml')">乾皮症</li>
    <li onclick="openSearch(this, '12-02.xml')">眼表面の層別診断</li>
    <li onclick="openSearch(this, '12-02.xml')">眼表面の層別治療</li>
    <li onclick="openSearch(this, '01-09.xml')">カンピロバクター</li>
    <li onclick="openSearch(this, '05-04.xml')">肝不全，急性</li>
    <li onclick="openSearch(this, '05-04.xml')">肝不全，遅発性</li>
    <li onclick="openSearch(this, '13-08.xml')">感冒後嗅覚障害</li>
    <li onclick="openSearch(this, '17-01.xml')">がん免疫療法</li>
    <li onclick="openSearch(this, '13-10.xml')">顔面神経麻痺</li>
    <li onclick="openSearch(this, '17-03.xml')">がん薬物療法時の腎障害</li>
    <li onclick="openSearch(this, '03-03.xml')">冠攣縮性狭心症</li>
    <li onclick="openSearch(this, '17-01.xml')">がんワクチン療法</li>
	</ul>
	<ul id="jp_ki">
    <li onclick="openSearch(this, '01-05.xml|01-08.xml')">基質特異性拡張型β-ラクタマーゼ産生菌</li>
    <li onclick="openSearch(this, '12-01.xml')">季節性・通年性アレルギー性結膜炎</li>
    <li onclick="openSearch(this, '02-06.xml')">喫煙病</li>
    <li onclick="openSearch(this, '02-03.xml|02-05.xml')">気道炎症</li>
    <li onclick="openSearch(this, '15-06.xml')">機能性子宮出血</li>
    <li onclick="openSearch(this, '04-09.xml')">機能性腸疾患</li>
    <li onclick="openSearch(this, '04-05.xml')">機能性ディスペプシア</li>
    <li onclick="openSearch(this, '16-10.xml')">虐待による熱傷</li>
    <li onclick="openSearch(this, '13-08.xml')">嗅覚障害</li>
    <li onclick="openSearch(this, '16-06.xml')">急性壊死性脳症</li>
    <li onclick="openSearch(this, '13-07.xml')">急性感音難聴</li>
    <li onclick="openSearch(this, '03-04.xml|06-02.xml')">急性冠症候群</li>
    <li onclick="openSearch(this, '05-04.xml')">急性肝不全</li>
    <li onclick="openSearch(this, '02-11.xml')">急性呼吸窮迫症候群</li>
    <li onclick="openSearch(this, '02-11.xml')">急性呼吸不全</li>
    <li onclick="openSearch(this, '07-02.xml')">急性骨髄性白血病</li>
    <li onclick="openSearch(this, '08-09.xml')">急性散在性脳脊髄炎</li>
    <li onclick="openSearch(this, '01-02.xml')">急性循環不全</li>
    <li onclick="openSearch(this, '08-05.xml')">急性症候性発作</li>
    <li onclick="openSearch(this, '03-04.xml')">急性心筋梗塞</li>
    <li onclick="openSearch(this, '17-03.xml')">急性腎障害</li>
    <li onclick="openSearch(this, '03-05.xml')">急性心不全</li>
    <li onclick="openSearch(this, '05-10.xml')">急性膵炎</li>
    <li onclick="openSearch(this, '01-08.xml')">急性胆管炎</li>
    <li onclick="openSearch(this, '01-05.xml')">急性単純性腎盂腎炎</li>
    <li onclick="openSearch(this, '01-05.xml')">急性単純性膀胱炎</li>
    <li onclick="openSearch(this, '01-08.xml')">急性胆囊炎</li>
    <li onclick="openSearch(this, '13-02.xml|13-03.xml')">急性中耳炎</li>
    <li onclick="openSearch(this, '04-01.xml')">急性虫垂炎</li>
    <li onclick="openSearch(this, '13-01.xml')">急性低音障害型感音難聴</li>
    <li onclick="openSearch(this, '16-06.xml')">急性脳症，けいれん重積型（二相性）</li>
    <li onclick="openSearch(this, '16-06.xml')">急性脳症，小児</li>
    <li onclick="openSearch(this, '13-05.xml')">急性鼻副鼻腔炎</li>
    <li onclick="openSearch(this, '04-01.xml|14-06.xml')">急性腹症</li>
    <li onclick="openSearch(this, '12-04.xml')">急性網膜壊死</li>
    <li onclick="openSearch(this, '09-02.xml')">急性腰痛</li>
    <li onclick="openSearch(this, '07-02.xml')">急性リンパ芽球性白血病</li>
    <li onclick="openSearch(this, '02-03.xml|02-05.xml|16-04.xml')">吸入ステロイド薬</li>
    <li onclick="openSearch(this, '04-03.xml')">胸腔鏡下食道切除</li>
    <li onclick="openSearch(this, '17-01.xml')">共刺激分子に対するアゴニスト抗体</li>
    <li onclick="openSearch(this, '03-03.xml')">狭心症，安定</li>
    <li onclick="openSearch(this, '03-03.xml')">狭心症，冠攣縮性</li>
    <li onclick="openSearch(this, '08-05.xml')">局在関連てんかん</li>
    <li onclick="openSearch(this, '11-13.xml')">局所免疫療法</li>
    <li onclick="openSearch(this, '10-08.xml')">巨細胞性動脈炎</li>
    <li onclick="openSearch(this, '14-04.xml')">去勢抵抗性前立腺癌</li>
    <li onclick="openSearch(this, '03-01.xml|17-08.xml')">起立性低血圧</li>
    <li onclick="openSearch(this, '02-04.xml')">気流閉塞</li>
    <li onclick="openSearch(this, '02-06.xml')">禁煙</li>
    <li onclick="openSearch(this, '02-06.xml')">禁煙外来</li>
    <li onclick="openSearch(this, '01-10.xml')">菌血症</li>
    <li onclick="openSearch(this, '14-02.xml')">筋層非浸潤性膀胱癌，リスク分類</li>
    <li onclick="openSearch(this, '08-01.xml')">緊張型頭痛</li>
    <li onclick="openSearch(this, '17-09.xml')">筋力低下</li>
	</ul>
	<ul id="jp_ku">
		<li onclick="openSearch(this, '07-04.xml')">くすぶり型多発性骨髄腫</li>
    <li onclick="openSearch(this, '13-07.xml')">クプラ結石症</li>
    <li onclick="openSearch(this, '08-08.xml')">クモ膜下出血</li>
    <li onclick="openSearch(this, '01-07.xml')">クリプトコックス症</li>
    <li onclick="openSearch(this, '04-11.xml')">クローン病</li>
    <li onclick="openSearch(this, '08-01.xml')">群発頭痛</li>
	</ul>
	<ul id="jp_ke">
    <li onclick="openSearch(this, '15-01.xml|15-06.xml')">経口避妊薬</li>
    <li onclick="openSearch(this, '14-02.xml')">蛍光膀胱鏡補助下診断</li>
    <li onclick="openSearch(this, '03-09.xml')">経食道心エコー</li>
    <li onclick="openSearch(this, '09-04.xml')">頸椎後縦靱帯骨化症</li>
    <li onclick="openSearch(this, '09-05.xml')">頚椎症性脊髄症</li>
    <li onclick="openSearch(this, '14-06.xml')">経尿道的結石破砕術</li>
    <li onclick="openSearch(this, '14-02.xml')">経尿道的膀胱腫瘍切除術</li>
    <li onclick="openSearch(this, '03-03.xml|03-04.xml')">経皮的冠動脈インターベンション</li>
    <li onclick="openSearch(this, '14-06.xml')">経皮的結石破砕術</li>
    <li onclick="openSearch(this, '16-06.xml')">けいれん重積</li>
    <li onclick="openSearch(this, '16-06.xml')">けいれん重積型（二相性）急性脳症</li>
    <li onclick="openSearch(this, '05-04.xml')">劇症肝炎</li>
    <li onclick="openSearch(this, '12-07.xml')">血圧コントロール</li>
    <li onclick="openSearch(this, '01-03.xml|01-09.xml|01-10.xml|03-08.xml')">血液培養</li>
    <li onclick="openSearch(this, '02-07.xml')">結核症</li>
    <li onclick="openSearch(this, '16-02.xml')">血管炎</li>
    <li onclick="openSearch(this, '10-07.xml')">血管性肉芽腫症</li>
    <li onclick="openSearch(this, '11-02.xml')">血管性浮腫</li>
    <li onclick="openSearch(this, '11-09.xml')">血管内高周波（ラジオ波）焼灼術</li>
    <li onclick="openSearch(this, '15-06.xml')">月経</li>
    <li onclick="openSearch(this, '15-01.xml')">月経困難症</li>
    <li onclick="openSearch(this, '15-01.xml')">月経前症候群</li>
    <li onclick="openSearch(this, '15-01.xml')">月経前不快気分障害</li>
    <li onclick="openSearch(this, '07-05.xml')">血小板減少症，EDTA依存性偽性</li>
    <li onclick="openSearch(this, '13-04.xml')">血清特異的IgE抗体</li>
    <li onclick="openSearch(this, '07-08.xml')">血栓性血小板減少性紫斑病</li>
    <li onclick="openSearch(this, '07-08.xml')">血栓性微小血管症</li>
    <li onclick="openSearch(this, '04-14.xml')">血栓塞栓症</li>
    <li onclick="openSearch(this, '03-14.xml|08-08.xml')">血栓溶解療法</li>
    <li onclick="openSearch(this, '12-07.xml')">血糖コントロール</li>
    <li onclick="openSearch(this, '17-07.xml')">血糖コントロール目標，高齢者糖尿病</li>
    <li onclick="openSearch(this, '14-06.xml|14-08.xml')">血尿</li>
    <li onclick="openSearch(this, '04-10.xml')">血便</li>
    <li onclick="openSearch(this, '12-01.xml')">結膜疾患，アレルギー性</li>
    <li onclick="openSearch(this, '07-07.xml')">血友病，後天性</li>
    <li onclick="openSearch(this, '07-07.xml')">血友病，先天性</li>
    <li onclick="openSearch(this, '01-09.xml|04-09.xml|04-10.xml|04-11.xml')">下痢</li>
    <li onclick="openSearch(this, '08-04.xml')">幻覚</li>
    <li onclick="openSearch(this, '09-08.xml')">肩甲胸郭関節機能障害</li>
    <li onclick="openSearch(this, '12-06.xml')">原発開放隅角緑内障</li>
    <li onclick="openSearch(this, '06-06.xml')">原発性アルドステロン症</li>
    <li onclick="openSearch(this, '06-07.xml')">原発性骨粗鬆症</li>
    <li onclick="openSearch(this, '05-07.xml')">原発性胆汁性肝硬変</li>
    <li onclick="openSearch(this, '05-07.xml')">原発性胆汁性胆管炎</li>
    <li onclick="openSearch(this, '12-06.xml')">原発閉塞隅角緑内障</li>
    <li onclick="openSearch(this, '09-08.xml')">腱板断裂</li>
    <li onclick="openSearch(this, '14-08.xml')">顕微鏡的血尿</li>
    <li onclick="openSearch(this, '10-07.xml')">顕微鏡的多発血管炎</li>
	</ul>
	<ul id="jp_ko">
		<li onclick="openSearch(this, '01-06.xml')">抗HIV治療</li>
    <li onclick="openSearch(this, '16-04.xml')">抗IgE抗体</li>
    <li onclick="openSearch(this, '10-10.xml')">高IgG4血症</li>
    <li onclick="openSearch(this, '16-04.xml')">抗IL-5抗体薬</li>
    <li onclick="openSearch(this, '06-02.xml')">高LDL-C血症</li>
    <li onclick="openSearch(this, '10-04.xml')">抗MDA-5抗体</li>
    <li onclick="openSearch(this, '02-08.xml|07-03.xml')">抗PD-1抗体</li>
    <li onclick="openSearch(this, '04-10.xml|04-11.xml')">抗TNFα抗体製剤</li>
    <li onclick="openSearch(this, '12-07.xml|12-08.xml')">抗VEGF薬</li>
    <li onclick="openSearch(this, '08-09.xml')">抗アクアポリン4抗体</li>
    <li onclick="openSearch(this, '17-08.xml')">降圧目標，高齢者</li>
    <li onclick="openSearch(this, '17-08.xml')">降圧薬選択，高齢者</li>
    <li onclick="openSearch(this, '09-06.xml')">高位脛骨骨切り術</li>
    <li onclick="openSearch(this, '15-03.xml')">高位傍大動脈リンパ節</li>
    <li onclick="openSearch(this, '11-10.xml|13-10.xml')">抗ウイルス薬</li>
    <li onclick="openSearch(this, '05-06.xml|10-05.xml')">抗核抗体</li>
    <li onclick="openSearch(this, '12-06.xml')">交感神経β遮断薬</li>
    <li onclick="openSearch(this, '03-14.xml|04-14.xml|07-06.xml')">抗凝固療法</li>
    <li onclick="openSearch(this, '03-02.xml|14-01.xml')">高血圧</li>
    <li onclick="openSearch(this, '03-02.xml')">高血圧，仮面</li>
    <li onclick="openSearch(this, '17-08.xml')">高血圧，高齢者</li>
    <li onclick="openSearch(this, '03-02.xml')">高血圧，二次性</li>
    <li onclick="openSearch(this, '03-02.xml')">高血圧，白衣</li>
    <li onclick="openSearch(this, '14-01.xml')">高血圧性良性腎硬化症</li>
    <li onclick="openSearch(this, '08-08.xml')">抗血小板療法</li>
    <li onclick="openSearch(this, '04-14.xml')">抗血栓薬</li>
    <li onclick="openSearch(this, '02-09.xml')">膠原病性間質性肺炎</li>
    <li onclick="openSearch(this, '10-07.xml')">抗好中球細胞質抗体（ANCA）関連血管炎</li>
    <li onclick="openSearch(this, '04-09.xml|14-05.xml')">抗コリン薬</li>
    <li onclick="openSearch(this, '10-07.xml')">好酸球性多発血管炎性肉芽腫症</li>
    <li onclick="openSearch(this, '13-08.xml')">好酸球性副鼻腔炎</li>
    <li onclick="openSearch(this, '10-01.xml')">抗シトルリン化ペプチド（CCP）抗体陽性</li>
    <li onclick="openSearch(this, '09-04.xml')">後縦靱帯骨化</li>
    <li onclick="openSearch(this, '06-05.xml')">甲状腺炎，亜急性</li>
    <li onclick="openSearch(this, '06-05.xml')">甲状腺炎，慢性</li>
    <li onclick="openSearch(this, '06-05.xml')">甲状腺炎，無痛性</li>
    <li onclick="openSearch(this, '06-05.xml')">甲状腺機能亢進症</li>
    <li onclick="openSearch(this, '06-05.xml')">甲状腺機能低下症</li>
    <li onclick="openSearch(this, '06-05.xml')">甲状腺クリーゼ</li>
    <li onclick="openSearch(this, '11-10.xml')">口唇ヘルペス</li>
    <li onclick="openSearch(this, '08-04.xml')">抗精神病薬</li>
    <li onclick="openSearch(this, '12-08.xml')">光線力学的療法</li>
    <li onclick="openSearch(this, '11-13.xml')">光線療法</li>
    <li onclick="openSearch(this, '01-03.xml')">好中球減少</li>
    <li onclick="openSearch(this, '07-07.xml')">後天性血友病</li>
    <li onclick="openSearch(this, '02-01.xml')">喉頭アレルギー</li>
    <li onclick="openSearch(this, '16-07.xml')">高度蛋白尿</li>
    <li onclick="openSearch(this, '06-03.xml')">高度肥満症</li>
    <li onclick="openSearch(this, '06-02.xml')">高トリグリセライド血症</li>
    <li onclick="openSearch(this, '06-04.xml')">高尿酸血症</li>
    <li onclick="openSearch(this, '15-05.xml')">更年期障害</li>
    <li onclick="openSearch(this, '06-08.xml')">高濃度乳房</li>
    <li onclick="openSearch(this, '15-02.xml')">広汎子宮頸部摘出術</li>
    <li onclick="openSearch(this, '15-02.xml|15-03.xml')">広汎子宮全摘出術</li>
    <li onclick="openSearch(this, '11-01.xml|11-02.xml')">抗ヒスタミン薬</li>
    <li onclick="openSearch(this, '05-06.xml')">抗平滑筋抗体</li>
    <li onclick="openSearch(this, '16-10.xml')">硬膜下出血</li>
    <li onclick="openSearch(this, '05-07.xml')">抗ミトコンドリア抗体</li>
    <li onclick="openSearch(this, '04-13.xml')">肛門出血</li>
    <li onclick="openSearch(this, '04-13.xml')">肛門痛</li>
    <li onclick="openSearch(this, '05-11.xml')">高力価消化酵素薬</li>
    <li onclick="openSearch(this, '10-02.xml')">抗リン脂質抗体症候群</li>
    <li onclick="openSearch(this, '17-08.xml')">高齢者高血圧</li>
    <li onclick="openSearch(this, '17-07.xml')">高齢者総合機能評価</li>
    <li onclick="openSearch(this, '17-07.xml')">高齢者糖尿病</li>
    <li onclick="openSearch(this, '17-06.xml')">高齢者薬物療法</li>
    <li onclick="openSearch(this, '02-02.xml')">誤嚥性肺炎</li>
    <li onclick="openSearch(this, '09-07.xml')">股関節痛</li>
    <li onclick="openSearch(this, '01-10.xml')">呼吸器感染症</li>
    <li onclick="openSearch(this, '02-11.xml')">呼吸不全，急性</li>
    <li onclick="openSearch(this, '02-04.xml')">呼吸リハビリテーション</li>
    <li onclick="openSearch(this, '14-03.xml')">国際前立腺症状スコア</li>
    <li onclick="openSearch(this, '07-03.xml')">国際予後指数</li>
    <li onclick="openSearch(this, '07-02.xml')">国際予後判定システム</li>
    <li onclick="openSearch(this, '17-09.xml')">骨格筋量指標</li>
    <li onclick="openSearch(this, '01-10.xml')">骨・関節感染症</li>
    <li onclick="openSearch(this, '09-07.xml')">骨切り術</li>
    <li onclick="openSearch(this, '06-07.xml')">骨質</li>
    <li onclick="openSearch(this, '07-02.xml')">骨髄異形成症候群</li>
    <li onclick="openSearch(this, '07-04.xml')">骨髄腫，多発性</li>
    <li onclick="openSearch(this, '07-02.xml')">骨髄増殖性腫瘍</li>
    <li onclick="openSearch(this, '09-09.xml')">骨折リエゾンサービス</li>
    <li onclick="openSearch(this, '05-07.xml|06-07.xml')">骨粗鬆症</li>
    <li onclick="openSearch(this, '06-07.xml')">骨粗鬆症，原発性</li>
    <li onclick="openSearch(this, '06-07.xml')">骨粗鬆症，ステロイド性</li>
    <li onclick="openSearch(this, '06-07.xml')">骨粗鬆症，続発性</li>
    <li onclick="openSearch(this, '09-02.xml')">骨粗鬆症性椎体圧迫骨折</li>
    <li onclick="openSearch(this, '09-09.xml')">骨頭壊死</li>
    <li onclick="openSearch(this, '06-07.xml')">骨密度</li>
    <li onclick="openSearch(this, '16-10.xml')">子ども虐待</li>
    <li onclick="openSearch(this, '16-02.xml')">小林スコア</li>
    <li onclick="openSearch(this, '13-03.xml')">鼓膜換気チューブ留置術</li>
    <li onclick="openSearch(this, '13-02.xml|13-03.xml')">鼓膜所見</li>
    <li onclick="openSearch(this, '11-12.xml')">コメド</li>
    <li onclick="openSearch(this, '08-07.xml')">コリンエステラーゼ阻害薬</li>
    <li onclick="openSearch(this, '14-05.xml')">混合性尿失禁</li>
    <li onclick="openSearch(this, '12-03.xml')">コンタクトレンズ</li>
    <li onclick="openSearch(this, '12-01.xml')">コンタクトレンズ関連乳頭性結膜炎</li>
    <li onclick="openSearch(this, '12-05.xml')">コントラスト感度</li>
	</ul>
	<ul id="jp_sa">
		<li onclick="openSearch(this, '12-03.xml')">細菌性角膜炎</li>
    <li onclick="openSearch(this, '01-01.xml|16-01.xml')">細菌性肺炎</li>
    <li onclick="openSearch(this, '07-01.xml')">再生不良性貧血</li>
    <li onclick="openSearch(this, '02-10.xml')">在宅持続陽圧呼吸療法</li>
    <li onclick="openSearch(this, '12-03.xml')">サイトメガロウイルス角膜内皮炎</li>
    <li onclick="openSearch(this, '11-12.xml')">痤瘡</li>
    <li onclick="openSearch(this, '11-12.xml')">痤瘡瘢痕</li>
    <li onclick="openSearch(this, '17-05.xml')">痤瘡様皮疹</li>
    <li onclick="openSearch(this, '06-06.xml')">サブクリニカルクッシング症候群</li>
    <li onclick="openSearch(this, '10-03.xml|12-04.xml')">サルコイドーシス</li>
    <li onclick="openSearch(this, '09-02.xml|13-09.xml|17-07.xml|17-09.xml')">サルコペニア</li>
    <li onclick="openSearch(this, '01-09.xml')">サルモネラ</li>
    <li onclick="openSearch(this, '08-01.xml')">三叉神経・自律神経性頭痛</li>
    <li onclick="openSearch(this, '03-09.xml')">三尖弁閉鎖不全</li>
    <li onclick="openSearch(this, '14-03.xml')">残尿測定</li>
	</ul>
	<ul id="jp_si">
    <li onclick="openSearch(this, '10-06.xml')">シェーグレン症候群</li>
    <li onclick="openSearch(this, '10-06.xml')">シェーグレン症候群の厚生省改訂診断基準</li>
    <li onclick="openSearch(this, '11-05.xml')">紫外線療法</li>
    <li onclick="openSearch(this, '04-13.xml')">痔核</li>
    <li onclick="openSearch(this, '07-04.xml')">自家造血幹細胞移植併用大量化学療法</li>
    <li onclick="openSearch(this, '07-08.xml')">志賀毒素産生大腸菌</li>
    <li onclick="openSearch(this, '17-05.xml')">色素沈着</li>
    <li onclick="openSearch(this, '15-02.xml')">子宮頸癌</li>
    <li onclick="openSearch(this, '15-03.xml')">子宮体癌</li>
    <li onclick="openSearch(this, '14-08.xml')">糸球体性血尿</li>
    <li onclick="openSearch(this, '15-01.xml')">子宮内膜症</li>
    <li onclick="openSearch(this, '11-04.xml')">刺激性接触皮膚炎</li>
    <li onclick="openSearch(this, '05-06.xml')">自己免疫性肝炎</li>
    <li onclick="openSearch(this, '06-02.xml|08-08.xml')">脂質異常症</li>
    <li onclick="openSearch(this, '13-01.xml')">指示的カウンセリング</li>
    <li onclick="openSearch(this, '08-09.xml')">視神経脊髄炎</li>
    <li onclick="openSearch(this, '08-06.xml')">ジスキネジア</li>
    <li onclick="openSearch(this, '17-03.xml')">シスプラチン（腎障害）</li>
    <li onclick="openSearch(this, '17-02.xml')">持続痛</li>
    <li onclick="openSearch(this, '02-02.xml')">市中肺炎</li>
    <li onclick="openSearch(this, '13-02.xml')">耳痛</li>
    <li onclick="openSearch(this, '09-06.xml')">膝関節痛</li>
    <li onclick="openSearch(this, '17-07.xml')">シックデイ</li>
    <li onclick="openSearch(this, '11-08.xml')">湿潤環境下療法</li>
    <li onclick="openSearch(this, '11-01.xml')">湿疹</li>
    <li onclick="openSearch(this, '03-01.xml')">失神</li>
    <li onclick="openSearch(this, '03-01.xml')">失神，心原性（心血管性）</li>
    <li onclick="openSearch(this, '03-01.xml')">失神，反射性</li>
    <li onclick="openSearch(this, '03-12.xml')">自動車運転制限</li>
    <li onclick="openSearch(this, '11-10.xml')">歯肉口内炎</li>
    <li onclick="openSearch(this, '09-11.xml')">脂肪肉腫</li>
    <li onclick="openSearch(this, '13-01.xml')">耳鳴</li>
    <li onclick="openSearch(this, '13-01.xml')">若年発症型両側性感音難聴</li>
    <li onclick="openSearch(this, '03-16.xml')">重症虚血肢</li>
    <li onclick="openSearch(this, '11-07.xml')">重症多形滲出性紅斑</li>
    <li onclick="openSearch(this, '04-11.xml')">縦走潰瘍</li>
    <li onclick="openSearch(this, '04-05.xml')">十二指腸重炭酸分泌不全</li>
    <li onclick="openSearch(this, '10-05.xml')">手指潰瘍</li>
    <li onclick="openSearch(this, '11-06.xml')">手掌法</li>
    <li onclick="openSearch(this, '07-06.xml|07-07.xml')">出血傾向</li>
    <li onclick="openSearch(this, '03-10.xml')">出産（心疾患患者）</li>
    <li onclick="openSearch(this, '01-02.xml')">循環不全，急性</li>
    <li onclick="openSearch(this, '12-01.xml')">春季カタル</li>
    <li onclick="openSearch(this, '03-05.xml')">順応性自動制御換気</li>
    <li onclick="openSearch(this, '04-06.xml')">消化性潰瘍</li>
    <li onclick="openSearch(this, '12-07.xml')">硝子体手術</li>
    <li onclick="openSearch(this, '08-05.xml')">焦点性てんかん</li>
    <li onclick="openSearch(this, '13-02.xml')">小児急性中耳炎</li>
    <li onclick="openSearch(this, '16-06.xml')">小児急性脳症</li>
    <li onclick="openSearch(this, '13-03.xml')">小児滲出性中耳炎</li>
    <li onclick="openSearch(this, '16-04.xml')">小児喘息</li>
    <li onclick="openSearch(this, '16-09.xml')">小児腸重積症の重症度評価基準</li>
    <li onclick="openSearch(this, '16-09.xml')">小児腸重積症の診断基準</li>
    <li onclick="openSearch(this, '16-07.xml')">小児ネフローゼ症候群</li>
    <li onclick="openSearch(this, '16-01.xml')">小児の市中肺炎</li>
    <li onclick="openSearch(this, '16-08.xml')">小児便秘</li>
    <li onclick="openSearch(this, '03-14.xml')">静脈血栓塞栓症</li>
    <li onclick="openSearch(this, '13-08.xml')">静脈性嗅覚検査</li>
    <li onclick="openSearch(this, '07-02.xml')">小リンパ性白血病</li>
    <li onclick="openSearch(this, '09-10.xml')">上腕骨外側上顆炎</li>
    <li onclick="openSearch(this, '11-06.xml')">初期熱傷の輸液公式</li>
    <li onclick="openSearch(this, '17-08.xml')">食後低血圧</li>
    <li onclick="openSearch(this, '11-08.xml')">褥瘡</li>
    <li onclick="openSearch(this, '05-03.xml')">食道胃静脈瘤</li>
    <li onclick="openSearch(this, '04-03.xml')">食道癌</li>
    <li onclick="openSearch(this, '16-03.xml')">食物アレルギー</li>
    <li onclick="openSearch(this, '16-03.xml')">食物経口負荷試験</li>
    <li onclick="openSearch(this, '13-09.xml')">食物テスト（フードテスト）</li>
    <li onclick="openSearch(this, '11-14.xml')">女性型脱毛症</li>
    <li onclick="openSearch(this, '14-05.xml')">女性下部尿路症状</li>
    <li onclick="openSearch(this, '04-13.xml')">痔瘻</li>
    <li onclick="openSearch(this, '01-05.xml')">腎盂腎炎，急性単純性</li>
    <li onclick="openSearch(this, '01-05.xml')">腎盂腎炎，複雑性</li>
    <li onclick="openSearch(this, '03-04.xml')">心筋梗塞</li>
    <li onclick="openSearch(this, '03-06.xml')">心筋症，肥大型</li>
    <li onclick="openSearch(this, '12-03.xml')">真菌性角膜炎</li>
    <li onclick="openSearch(this, '10-05.xml')">腎クリーゼ</li>
    <li onclick="openSearch(this, '09-02.xml|17-02.xml')">神経障害性疼痛</li>
    <li onclick="openSearch(this, '09-03.xml')">神経性間欠跛行</li>
    <li onclick="openSearch(this, '14-06.xml')">腎結石</li>
    <li onclick="openSearch(this, '03-01.xml')">心原性（心血管性）失神</li>
    <li onclick="openSearch(this, '05-04.xml')">人工肝補助療法</li>
    <li onclick="openSearch(this, '09-07.xml|09-09.xml')">人工股関節（全）置換術</li>
    <li onclick="openSearch(this, '09-09.xml')">人工骨頭置換</li>
    <li onclick="openSearch(this, '09-06.xml')">人工膝関節置換術</li>
    <li onclick="openSearch(this, '01-07.xml')">深在性真菌症</li>
    <li onclick="openSearch(this, '03-10.xml')">心疾患患者の妊娠・出産</li>
    <li onclick="openSearch(this, '05-12.xml')">浸潤性膵管癌</li>
    <li onclick="openSearch(this, '17-03.xml')">腎障害，がん薬物療法時</li>
    <li onclick="openSearch(this, '06-04.xml')">腎性低尿酸血症</li>
    <li onclick="openSearch(this, '07-01.xml')">腎性貧血</li>
    <li onclick="openSearch(this, '03-12.xml')">心臓再同期療法</li>
    <li onclick="openSearch(this, '10-03.xml')">心臓サルコイドーシス</li>
    <li onclick="openSearch(this, '17-09.xml')">身体機能の低下</li>
    <li onclick="openSearch(this, '03-14.xml|11-09.xml')">深部静脈血栓症</li>
    <li onclick="openSearch(this, '03-05.xml|03-07.xml')">心不全</li>
    <li onclick="openSearch(this, '03-11.xml')">心房細動</li>
    <li onclick="openSearch(this, '03-09.xml')">心房中隔欠損症</li>
    <li onclick="openSearch(this, '11-02.xml')">蕁麻疹</li>
	</ul>
	<ul id="jp_su">
		<li onclick="openSearch(this, '05-10.xml')">膵炎，壊死性</li>
    <li onclick="openSearch(this, '05-10.xml')">膵炎，急性</li>
    <li onclick="openSearch(this, '05-11.xml')">膵炎，慢性</li>
    <li onclick="openSearch(this, '04-05.xml')">膵外分泌機能不全</li>
    <li onclick="openSearch(this, '05-12.xml')">膵癌</li>
    <li onclick="openSearch(this, '14-01.xml|17-03.xml')">推算糸球体濾過量</li>
    <li onclick="openSearch(this, '05-11.xml')">膵性糖尿病</li>
    <li onclick="openSearch(this, '06-02.xml')">吹田スコア</li>
    <li onclick="openSearch(this, '11-10.xml')">水痘帯状疱疹ウイルス</li>
    <li onclick="openSearch(this, '08-02.xml')">睡眠衛生指導</li>
    <li onclick="openSearch(this, '02-10.xml')">睡眠時無呼吸（症候群）</li>
    <li onclick="openSearch(this, '08-02.xml')">睡眠障害</li>
    <li onclick="openSearch(this, '08-02.xml')">睡眠障害国際分類</li>
    <li onclick="openSearch(this, '11-01.xml')">スキンケア</li>
    <li onclick="openSearch(this, '03-04.xml|06-02.xml')">スタチン</li>
    <li onclick="openSearch(this, '08-01.xml')">頭痛</li>
    <li onclick="openSearch(this, '08-01.xml')">頭痛，緊張型</li>
    <li onclick="openSearch(this, '08-01.xml')">頭痛，群発</li>
    <li onclick="openSearch(this, '08-01.xml')">頭痛，三叉神経・自律神経性</li>
    <li onclick="openSearch(this, '08-01.xml')">頭痛，薬物乱用</li>
    <li onclick="openSearch(this, '11-07.xml')">スティーヴンス・ジョンソン症候群</li>
    <li onclick="openSearch(this, '10-08.xml|10-09.xml|11-01.xml|11-13.xml|12-01.xml|12-04.xml|13-10.xml|16-07.xml')">（副腎皮質）ステロイド</li>
    <li onclick="openSearch(this, '16-07.xml')">ステロイド感受性ネフローゼ症候群</li>
    <li onclick="openSearch(this, '06-07.xml')">ステロイド性骨粗鬆症</li>
    <li onclick="openSearch(this, '16-07.xml')">ステロイド抵抗性ネフローゼ症候群</li>
    <li onclick="openSearch(this, '11-07.xml|11-13.xml')">ステロイドパルス療法</li>
    <li onclick="openSearch(this, '03-15.xml')">ステントグラフト内挿術</li>
    <li onclick="openSearch(this, '09-10.xml')">スポーツ障害</li>
	</ul>
	<ul id="jp_se">
		<li onclick="openSearch(this, '01-04.xml')">性器クラミジア感染症</li>
    <li onclick="openSearch(this, '01-04.xml')">性器ヘルペス</li>
    <li onclick="openSearch(this, '06-07.xml')">脆弱性骨折</li>
    <li onclick="openSearch(this, '08-04.xml')">精神運動興奮</li>
    <li onclick="openSearch(this, '10-09.xml')">成人スティル病</li>
    <li onclick="openSearch(this, '03-09.xml')">成人先天性心疾患</li>
    <li onclick="openSearch(this, '02-02.xml')">成人肺炎</li>
    <li onclick="openSearch(this, '16-10.xml')">性的虐待</li>
    <li onclick="openSearch(this, '10-01.xml|10-06.xml')">生物学的製剤</li>
    <li onclick="openSearch(this, '05-11.xml')">成分栄養剤</li>
    <li onclick="openSearch(this, '09-04.xml')">脊髄症状</li>
    <li onclick="openSearch(this, '02-01.xml')">咳喘息</li>
    <li onclick="openSearch(this, '09-04.xml')">脊柱靱帯</li>
    <li onclick="openSearch(this, '09-08.xml')">石灰沈着性腱板炎</li>
    <li onclick="openSearch(this, '07-01.xml')">赤血球造血刺激薬</li>
    <li onclick="openSearch(this, '05-12.xml')">切除可能境界（膵癌）</li>
    <li onclick="openSearch(this, '11-04.xml')">接触皮膚炎</li>
    <li onclick="openSearch(this, '11-04.xml')">接触皮膚炎症候群</li>
    <li onclick="openSearch(this, '05-12.xml')">切除不能膵癌</li>
    <li onclick="openSearch(this, '14-05.xml')">切迫性尿失禁</li>
    <li onclick="openSearch(this, '08-03.xml')">セロトニン・ノルアドレナリン再取り込み阻害薬</li>
    <li onclick="openSearch(this, '10-06.xml')">腺外病変</li>
    <li onclick="openSearch(this, '01-04.xml')">尖圭コンジローマ</li>
    <li onclick="openSearch(this, '02-07.xml')">潜在性結核感染症</li>
    <li onclick="openSearch(this, '09-10.xml')">前十字靱帯損傷</li>
    <li onclick="openSearch(this, '07-02.xml')">染色体異常</li>
    <li onclick="openSearch(this, '10-02.xml')">全身性エリテマトーデス</li>
    <li onclick="openSearch(this, '10-05.xml')">全身性強皮症</li>
    <li onclick="openSearch(this, '11-04.xml')">全身性接触皮膚炎</li>
    <li onclick="openSearch(this, '02-03.xml|02-05.xml')">喘息</li>
    <li onclick="openSearch(this, '16-04.xml')">喘息，小児</li>
    <li onclick="openSearch(this, '16-04.xml')">喘息，乳幼児</li>
    <li onclick="openSearch(this, '02-05.xml')">喘息とCOPDのオーバーラップ（ACO）</li>
    <li onclick="openSearch(this, '09-06.xml')">選択的COX-2阻害薬</li>
    <li onclick="openSearch(this, '08-03.xml')">選択的セロトニン再取り込み阻害薬</li>
    <li onclick="openSearch(this, '14-06.xml')">疝痛発作</li>
    <li onclick="openSearch(this, '07-07.xml')">先天性血友病</li>
    <li onclick="openSearch(this, '03-09.xml|03-10.xml')">先天性心疾患</li>
    <li onclick="openSearch(this, '13-01.xml')">先天性難聴</li>
    <li onclick="openSearch(this, '08-05.xml')">全般性てんかん</li>
    <li onclick="openSearch(this, '07-06.xml')">線溶</li>
    <li onclick="openSearch(this, '14-04.xml')">前立腺癌</li>
    <li onclick="openSearch(this, '14-04.xml')">前立腺癌，去勢抵抗性</li>
    <li onclick="openSearch(this, '14-03.xml|14-04.xml')">前立腺特異抗原</li>
    <li onclick="openSearch(this, '14-03.xml')">前立腺肥大症</li>
	</ul>
	<ul id="jp_so">
    <li onclick="openSearch(this, '17-05.xml')">爪囲炎</li>
    <li onclick="openSearch(this, '01-02.xml')">臓器障害</li>
    <li onclick="openSearch(this, '05-11.xml')">早期慢性膵炎</li>
    <li onclick="openSearch(this, '08-03.xml')">双極性障害</li>
    <li onclick="openSearch(this, '10-02.xml')">増殖性ループス腎炎</li>
    <li onclick="openSearch(this, '05-09.xml')">総胆管結石症</li>
    <li onclick="openSearch(this, '08-03.xml')">躁病エピソード</li>
    <li onclick="openSearch(this, '03-07.xml')">僧帽弁閉鎖不全症</li>
    <li onclick="openSearch(this, '11-08.xml')">創面環境調整</li>
    <li onclick="openSearch(this, '11-05.xml|11-15.xml')">瘙痒</li>
    <li onclick="openSearch(this, '03-16.xml|09-03.xml')">足関節上腕血圧比</li>
    <li onclick="openSearch(this, '06-07.xml')">続発性骨粗鬆症</li>
	</ul>
	<ul id="jp_ta">
		<li onclick="openSearch(this, '02-11.xml')">体外式膜型人工肺（ECMO）</li>
    <li onclick="openSearch(this, '14-06.xml')">体外衝撃波結石破砕術</li>
    <li onclick="openSearch(this, '11-10.xml')">帯状疱疹</li>
    <li onclick="openSearch(this, '11-10.xml')">帯状疱疹後神経痛</li>
    <li onclick="openSearch(this, '17-02.xml')">体性痛</li>
    <li onclick="openSearch(this, '09-09.xml')">大腿骨頸部/転子部骨折</li>
    <li onclick="openSearch(this, '04-12.xml')">大腸癌</li>
    <li onclick="openSearch(this, '04-01.xml')">大腸憩室炎</li>
    <li onclick="openSearch(this, '03-15.xml')">大動脈解離</li>
    <li onclick="openSearch(this, '03-07.xml')">大動脈弁狭窄症</li>
    <li onclick="openSearch(this, '03-15.xml')">大動脈瘤</li>
    <li onclick="openSearch(this, '16-10.xml')">代理によるミュンヒハウゼン症候群</li>
    <li onclick="openSearch(this, '16-02.xml')">大量静注用免疫グロブリン療法</li>
    <li onclick="openSearch(this, '17-06.xml')">多剤併用</li>
    <li onclick="openSearch(this, '12-05.xml')">多焦点眼内レンズ</li>
    <li onclick="openSearch(this, '17-05.xml')">脱毛</li>
    <li onclick="openSearch(this, '11-13.xml')">脱毛症，円形</li>
    <li onclick="openSearch(this, '11-14.xml')">脱毛症，男性型</li>
    <li onclick="openSearch(this, '15-06.xml')">多囊胞性卵巣症候群</li>
    <li onclick="openSearch(this, '10-04.xml')">多発性筋炎</li>
    <li onclick="openSearch(this, '08-09.xml')">多発性硬化症</li>
    <li onclick="openSearch(this, '07-04.xml')">多発性骨髄腫</li>
    <li onclick="openSearch(this, '07-04.xml')">多発性骨髄腫，くすぶり型</li>
    <li onclick="openSearch(this, '11-13.xml|11-14.xml|11-15.xml')">ダーモスコープ（ダーモスコピー）</li>
    <li onclick="openSearch(this, '01-08.xml')">胆管炎，急性</li>
    <li onclick="openSearch(this, '05-07.xml')">胆管炎，原発性胆汁性</li>
    <li onclick="openSearch(this, '05-07.xml')">胆汁うっ滞</li>
    <li onclick="openSearch(this, '16-05.xml')">単純型熱性けいれん</li>
    <li onclick="openSearch(this, '11-10.xml')">単純ヘルペス</li>
    <li onclick="openSearch(this, '08-10.xml|11-10.xml|13-10.xml')">単純ヘルペスウイルス1型</li>
    <li onclick="openSearch(this, '08-10.xml|11-10.xml')">単純ヘルペスウイルス2型</li>
    <li onclick="openSearch(this, '08-10.xml')">単純ヘルペス脳炎</li>
    <li onclick="openSearch(this, '11-14.xml')">男性型脱毛症</li>
    <li onclick="openSearch(this, '14-03.xml')">男性下部尿路症状</li>
    <li onclick="openSearch(this, '11-09.xml')">弾性ストッキング</li>
    <li onclick="openSearch(this, '11-09.xml')">弾性包帯</li>
    <li onclick="openSearch(this, '05-09.xml')">胆石症</li>
    <li onclick="openSearch(this, '11-11.xml')">丹毒</li>
    <li onclick="openSearch(this, '01-08.xml')">胆囊炎，急性</li>
    <li onclick="openSearch(this, '05-09.xml')">胆囊結石症</li>
	</ul>
	<ul id="jp_ti">
		<li onclick="openSearch(this, '02-10.xml')">チェーンストークス呼吸</li>
    <li onclick="openSearch(this, '05-04.xml')">遅発性肝不全</li>
    <li onclick="openSearch(this, '10-07.xml')">チャペルヒルコンセンサス会議分類</li>
    <li onclick="openSearch(this, '13-02.xml|13-03.xml')">中耳炎，急性</li>
    <li onclick="openSearch(this, '13-02.xml')">中耳炎，小児急性</li>
    <li onclick="openSearch(this, '13-03.xml')">中耳炎，小児滲出性</li>
    <li onclick="openSearch(this, '01-10.xml')">中枢神経系感染症</li>
    <li onclick="openSearch(this, '11-07.xml')">中毒性表皮壊死症</li>
    <li onclick="openSearch(this, '12-05.xml')">超音波水晶体乳化吸引術</li>
    <li onclick="openSearch(this, '13-07.xml')">聴覚症状</li>
    <li onclick="openSearch(this, '16-06.xml')">腸管出血性大腸菌感染症</li>
    <li onclick="openSearch(this, '01-08.xml')">腸球菌</li>
    <li onclick="openSearch(this, '02-04.xml|02-05.xml')">長時間作用性β2 刺激薬</li>
    <li onclick="openSearch(this, '02-04.xml|02-05.xml')">長時間作用性抗コリン薬</li>
    <li onclick="openSearch(this, '16-09.xml')">腸重積</li>
    <li onclick="openSearch(this, '16-09.xml')">腸重積症</li>
    <li onclick="openSearch(this, '11-03.xml')">直接鏡検</li>
    <li onclick="openSearch(this, '03-11.xml|03-14.xml|04-14.xml')">直接経口抗凝固薬</li>
    <li onclick="openSearch(this, '05-02.xml')">直接作用型抗ウイルス薬</li>
    <li onclick="openSearch(this, '15-01.xml')">チョコレート囊胞</li>
    <li onclick="openSearch(this, '03-01.xml')">チルト試験</li>
    <li onclick="openSearch(this, '07-02.xml')">チロシンキナーゼ阻害薬</li>
    <li onclick="openSearch(this, '17-02.xml')">鎮痛補助薬</li>
	</ul>
	<ul id="jp_tu">
		<li onclick="openSearch(this, '09-02.xml')">椎体圧迫骨折，骨粗鬆症性</li>
    <li onclick="openSearch(this, '11-15.xml')">通常疥癬</li>
    <li onclick="openSearch(this, '13-04.xml')">通年性アレルギー性鼻炎</li>
    <li onclick="openSearch(this, '06-04.xml')">痛風</li>
    <li onclick="openSearch(this, '06-04.xml')">痛風関節炎</li>
    <li onclick="openSearch(this, '06-04.xml')">痛風発作</li>
    <li onclick="openSearch(this, '11-03.xml')">爪白癬</li>
	</ul>
	<ul id="jp_te">
		<li onclick="openSearch(this, '17-05.xml')">手足症候群</li>
    <li onclick="openSearch(this, '06-02.xml')">低HDL-C血症</li>
    <li onclick="openSearch(this, '15-03.xml')">低位傍大動脈リンパ節</li>
    <li onclick="openSearch(this, '14-05.xml')">低活動膀胱</li>
    <li onclick="openSearch(this, '06-01.xml')">低血糖</li>
    <li onclick="openSearch(this, '16-07.xml')">低蛋白血症</li>
    <li onclick="openSearch(this, '06-04.xml')">低尿酸血症，腎性</li>
    <li onclick="openSearch(this, '04-06.xml')">低用量アスピリン</li>
    <li onclick="openSearch(this, '15-01.xml|15-06.xml')">低用量エストロゲン・プロゲスチン配合薬</li>
    <li onclick="openSearch(this, '14-07.xml')">テストステロン</li>
    <li onclick="openSearch(this, '07-01.xml')">鉄過剰症</li>
    <li onclick="openSearch(this, '07-01.xml')">鉄欠乏性貧血</li>
    <li onclick="openSearch(this, '09-10.xml')">テニス肘</li>
    <li onclick="openSearch(this, '08-05.xml')">てんかん</li>
    <li onclick="openSearch(this, '11-06.xml')">電撃傷</li>
    <li onclick="openSearch(this, '03-12.xml')">電磁干渉</li>
    <li onclick="openSearch(this, '17-08.xml')">転倒リスク</li>
	</ul>
	<ul id="jp_to">
		<li onclick="openSearch(this, '13-07.xml')">頭位治療</li>
    <li onclick="openSearch(this, '09-08.xml')">凍結肩</li>
    <li onclick="openSearch(this, '08-04.xml')">統合失調症</li>
    <li onclick="openSearch(this, '05-05.xml|05-11.xml|06-01.xml|09-08.xml|14-01.xml')">糖尿病</li>
    <li onclick="openSearch(this, '06-01.xml')">糖尿病，1型</li>
    <li onclick="openSearch(this, '06-01.xml')">糖尿病，2型</li>
    <li onclick="openSearch(this, '17-07.xml')">糖尿病，高齢者</li>
    <li onclick="openSearch(this, '12-07.xml')">糖尿病黄斑浮腫</li>
    <li onclick="openSearch(this, '14-01.xml')">糖尿病性腎症</li>
    <li onclick="openSearch(this, '12-05.xml')">糖尿病白内障</li>
    <li onclick="openSearch(this, '12-07.xml')">糖尿病網膜症</li>
    <li onclick="openSearch(this, '03-16.xml')">動脈硬化症，下肢閉塞性</li>
    <li onclick="openSearch(this, '16-03.xml')">特異的IgE抗体</li>
    <li onclick="openSearch(this, '02-09.xml')">特発性間質性肺炎</li>
    <li onclick="openSearch(this, '07-05.xml')">特発性血小板減少性紫斑病</li>
    <li onclick="openSearch(this, '11-02.xml')">特発性後天性全身性無汗症</li>
    <li onclick="openSearch(this, '16-07.xml')">特発性ネフローゼ症候群</li>
    <li onclick="openSearch(this, '02-09.xml')">特発性肺線維症</li>
    <li onclick="openSearch(this, '17-04.xml')">突出性悪心・嘔吐</li>
    <li onclick="openSearch(this, '17-02.xml')">突出痛</li>
    <li onclick="openSearch(this, '13-01.xml')">突発性難聴</li>
    <li onclick="openSearch(this, '12-02.xml')">ドライアイ</li>
    <li onclick="openSearch(this, '12-02.xml')">ドライアイ，BUT短縮型</li>
    <li onclick="openSearch(this, '12-02.xml')">ドライアイ，涙液減少型</li>
    <li onclick="openSearch(this, '11-14.xml')">トリコスコピー</li>
	</ul>
	<ul id="jp_na">
		<li onclick="openSearch(this, '04-07.xml')">内視鏡的切除（胃癌）</li>
    <li onclick="openSearch(this, '04-03.xml')">内視鏡的切除（食道癌）</li>
    <li onclick="openSearch(this, '04-14.xml')">内視鏡的粘膜生検</li>
    <li onclick="openSearch(this, '06-03.xml')">内臓脂肪型肥満</li>
    <li onclick="openSearch(this, '17-02.xml')">内臓痛</li>
    <li onclick="openSearch(this, '16-07.xml')">難治性ネフローゼ症候群</li>
    <li onclick="openSearch(this, '13-01.xml')">難聴</li>
    <li onclick="openSearch(this, '13-01.xml')">難聴，急性低音障害型</li>
    <li onclick="openSearch(this, '13-01.xml')">難聴，若年発症型両側性感音</li>
    <li onclick="openSearch(this, '13-01.xml')">難聴，先天性</li>
    <li onclick="openSearch(this, '13-01.xml')">難聴，突発性</li>
    <li onclick="openSearch(this, '09-11.xml')">軟部腫瘍</li>
    <li onclick="openSearch(this, '09-11.xml')">軟部肉腫</li>
    <li onclick="openSearch(this, '11-14.xml')">軟毛化</li>
	</ul>
	<ul id="jp_ni">
		<li onclick="openSearch(this, '14-08.xml')">肉眼的血尿</li>
    <li onclick="openSearch(this, '02-06.xml')">ニコチン依存症</li>
    <li onclick="openSearch(this, '02-06.xml')">ニコチン置換療法</li>
    <li onclick="openSearch(this, '03-02.xml')">二次性高血圧</li>
    <li onclick="openSearch(this, '17-09.xml')">二次性サルコペニア</li>
    <li onclick="openSearch(this, '01-01.xml')">二次性肺炎</li>
    <li onclick="openSearch(this, '06-08.xml')">乳癌</li>
    <li onclick="openSearch(this, '16-04.xml')">乳幼児喘息</li>
    <li onclick="openSearch(this, '16-10.xml')">乳幼児揺さぶられ症候群</li>
    <li onclick="openSearch(this, '01-07.xml')">ニューモシスチス肺炎</li>
    <li onclick="openSearch(this, '14-01.xml')">尿アルブミン/Cr比</li>
    <li onclick="openSearch(this, '14-06.xml')">尿管結石</li>
    <li onclick="openSearch(this, '06-04.xml')">尿酸塩結晶</li>
    <li onclick="openSearch(this, '06-04.xml')">尿酸塩沈着症</li>
    <li onclick="openSearch(this, '06-04.xml')">尿酸クリアランス</li>
    <li onclick="openSearch(this, '14-05.xml')">尿失禁，混合性</li>
    <li onclick="openSearch(this, '14-05.xml')">尿失禁，切迫性</li>
    <li onclick="openSearch(this, '14-05.xml')">尿失禁，腹圧性</li>
    <li onclick="openSearch(this, '14-01.xml')">尿蛋白/Cr比</li>
    <li onclick="openSearch(this, '01-04.xml')">尿道炎</li>
    <li onclick="openSearch(this, '01-05.xml|01-10.xml')">尿路感染症</li>
    <li onclick="openSearch(this, '14-06.xml')">尿路結石</li>
    <li onclick="openSearch(this, '14-08.xml')">尿路上皮癌</li>
    <li onclick="openSearch(this, '03-10.xml')">妊娠（心疾患患者）</li>
    <li onclick="openSearch(this, '08-07.xml')">認知機能障害</li>
    <li onclick="openSearch(this, '08-07.xml')">認知症</li>
    <li onclick="openSearch(this, '17-07.xml')">認知障害</li>
    <li onclick="openSearch(this, '08-07.xml')">認知症の行動・心理症状</li>
    <li onclick="openSearch(this, '06-08.xml|15-02.xml')">妊孕性温存</li>
	</ul>
	<ul id="jp_nu">
		<li>該当なし</li>
	</ul>
	<ul id="jp_ne">
    <li onclick="openSearch(this, '15-05.xml')">寝汗</li>
    <li onclick="openSearch(this, '16-10.xml')">ネグレクト</li>
    <li onclick="openSearch(this, '11-06.xml')">熱傷</li>
    <li onclick="openSearch(this, '16-10.xml')">熱傷，虐待による</li>
    <li onclick="openSearch(this, '11-06.xml')">熱傷（初期）の輸液公式</li>
    <li onclick="openSearch(this, '11-06.xml')">熱傷深度</li>
    <li onclick="openSearch(this, '11-06.xml')">熱傷面積算定法</li>
    <li onclick="openSearch(this, '16-05.xml')">熱性けいれん</li>
    <li onclick="openSearch(this, '16-05.xml')">熱性けいれん，単純型</li>
    <li onclick="openSearch(this, '16-05.xml')">熱性けいれん，複雑型</li>
    <li onclick="openSearch(this, '16-05.xml')">熱性けいれん後のてんかん発症関連因子</li>
    <li onclick="openSearch(this, '16-05.xml')">熱性けいれん重積状態</li>
    <li onclick="openSearch(this, '16-05.xml')">熱性けいれんの再発予測因子</li>
    <li onclick="openSearch(this, '13-06.xml')">ネブライザー専用抗菌薬</li>
    <li onclick="openSearch(this, '13-06.xml')">ネブライザー療法</li>
    <li onclick="openSearch(this, '16-07.xml')">ネフローゼ症候群，小児</li>
    <li onclick="openSearch(this, '16-07.xml')">ネフローゼ症候群，ステロイド感受性</li>
    <li onclick="openSearch(this, '16-07.xml')">ネフローゼ症候群，ステロイド抵抗性</li>
    <li onclick="openSearch(this, '16-07.xml')">ネフローゼ症候群，特発性</li>
    <li onclick="openSearch(this, '16-07.xml')">ネフローゼ症候群，難治性</li>
    <li onclick="openSearch(this, '16-07.xml')">ネフローゼ症候群，頻回再発型</li>
    <li onclick="openSearch(this, '04-10.xml')">粘血</li>
	</ul>
	<ul id="jp_no">
		<li onclick="openSearch(this, '08-10.xml')">脳炎，単純ヘルペス</li>
    <li onclick="openSearch(this, '08-08.xml')">脳梗塞</li>
    <li onclick="openSearch(this, '08-08.xml')">脳出血</li>
    <li onclick="openSearch(this, '08-10.xml')">脳髄液検査</li>
    <li onclick="openSearch(this, '08-08.xml')">脳卒中</li>
    <li onclick="openSearch(this, '08-05.xml')">脳波検査</li>
	</ul>
	<ul id="jp_ha">
		<li onclick="openSearch(this, '02-07.xml')">肺MAC症</li>
    <li onclick="openSearch(this, '02-02.xml')">肺炎，医療・介護関連</li>
    <li onclick="openSearch(this, '02-02.xml')">肺炎，院内</li>
    <li onclick="openSearch(this, '02-09.xml|10-04.xml|10-05.xml|10-07.xml')">肺炎，間質性</li>
    <li onclick="openSearch(this, '02-02.xml')">肺炎，誤嚥性</li>
    <li onclick="openSearch(this, '01-01.xml|16-01.xml')">肺炎，細菌性</li>
    <li onclick="openSearch(this, '02-02.xml')">肺炎，市中</li>
    <li onclick="openSearch(this, '16-01.xml')">肺炎，小児，市中</li>
    <li onclick="openSearch(this, '01-01.xml')">肺炎，二次性</li>
    <li onclick="openSearch(this, '01-07.xml')">肺炎，ニューモシスチス</li>
    <li onclick="openSearch(this, '16-01.xml')">肺炎，非定型</li>
    <li onclick="openSearch(this, '02-02.xml|16-01.xml')">肺炎，マイコプラズマ</li>
    <li onclick="openSearch(this, '13-02.xml|13-05.xml|16-01.xml')">肺炎球菌</li>
    <li onclick="openSearch(this, '01-01.xml')">肺炎球菌ワクチン</li>
    <li onclick="openSearch(this, '10-01.xml')">バイオシミラー</li>
    <li onclick="openSearch(this, '02-08.xml')">肺癌</li>
    <li onclick="openSearch(this, '02-07.xml')">肺結核</li>
    <li onclick="openSearch(this, '01-02.xml')">敗血症</li>
    <li onclick="openSearch(this, '01-02.xml')">敗血症性ショック</li>
    <li onclick="openSearch(this, '03-14.xml')">肺血栓塞栓症</li>
    <li onclick="openSearch(this, '03-13.xml')">肺高血圧症</li>
    <li onclick="openSearch(this, '10-03.xml')">肺サルコイドーシス</li>
    <li onclick="openSearch(this, '03-13.xml')">肺動脈血栓内膜摘除術</li>
    <li onclick="openSearch(this, '03-13.xml|10-05.xml')">肺動脈性肺高血圧症</li>
    <li onclick="openSearch(this, '03-09.xml')">肺動脈弁閉鎖不全</li>
    <li onclick="openSearch(this, '01-04.xml')">梅毒</li>
    <li onclick="openSearch(this, '07-07.xml')">バイパス止血療法</li>
    <li onclick="openSearch(this, '04-08.xml')">排便困難症状</li>
    <li onclick="openSearch(this, '16-08.xml')">排便日誌</li>
    <li onclick="openSearch(this, '02-10.xml')">肺胞低換気</li>
    <li onclick="openSearch(this, '02-11.xml')">肺保護換気</li>
    <li onclick="openSearch(this, '08-06.xml')">パーキンソニズム</li>
    <li onclick="openSearch(this, '08-06.xml')">パーキンソン病</li>
    <li onclick="openSearch(this, '03-02.xml')">白衣高血圧</li>
    <li onclick="openSearch(this, '11-03.xml')">白癬菌</li>
    <li onclick="openSearch(this, '12-05.xml')">白内障</li>
    <li onclick="openSearch(this, '06-05.xml')">橋本病</li>
    <li onclick="openSearch(this, '07-06.xml')">播種性血管内凝固</li>
    <li onclick="openSearch(this, '06-05.xml')">バセドウ病</li>
    <li onclick="openSearch(this, '09-05.xml')">発育性脊柱管狭窄</li>
    <li onclick="openSearch(this, '07-02.xml')">白血病，急性骨髄性</li>
    <li onclick="openSearch(this, '07-02.xml')">白血病，急性リンパ芽球性</li>
    <li onclick="openSearch(this, '07-02.xml')">白血病，小リンパ性</li>
    <li onclick="openSearch(this, '07-02.xml')">白血病，慢性骨髄性</li>
    <li onclick="openSearch(this, '07-02.xml')">白血病，慢性リンパ性</li>
    <li onclick="openSearch(this, '11-04.xml')">パッチテスト</li>
    <li onclick="openSearch(this, '01-03.xml')">発熱性好中球減少症</li>
    <li onclick="openSearch(this, '13-04.xml')">鼻アレルギー</li>
    <li onclick="openSearch(this, '03-13.xml')">バルーン肺動脈拡張術</li>
    <li onclick="openSearch(this, '13-07.xml')">半規管結石症</li>
    <li onclick="openSearch(this, '05-11.xml')">パンクレリパーゼ</li>
    <li onclick="openSearch(this, '11-12.xml')">瘢痕，痤瘡</li>
    <li onclick="openSearch(this, '03-01.xml')">反射性失神</li>
    <li onclick="openSearch(this, '10-09.xml')">反応性血球貪食症候群</li>
    <li onclick="openSearch(this, '11-05.xml')">汎発性皮膚瘙痒症</li>
    <li onclick="openSearch(this, '04-01.xml')">汎発性腹膜炎</li>
    <li onclick="openSearch(this, '13-02.xml')">反復性中耳炎</li>
    <li onclick="openSearch(this, '13-09.xml')">反復唾液飲みテスト</li>
	</ul>
	<ul id="jp_hi">
		<li onclick="openSearch(this, '05-05.xml')">非アルコール性脂肪肝炎</li>
    <li onclick="openSearch(this, '05-05.xml')">非アルコール性脂肪性肝疾患</li>
    <li onclick="openSearch(this, '11-04.xml')">光接触皮膚炎</li>
    <li onclick="openSearch(this, '06-06.xml')">非機能性副腎腫瘍</li>
    <li onclick="openSearch(this, '02-07.xml')">非結核性抗酸菌症</li>
    <li onclick="openSearch(this, '09-06.xml')">膝関節痛</li>
    <li onclick="openSearch(this, '09-10.xml')">膝くずれ</li>
    <li onclick="openSearch(this, '13-04.xml')">鼻汁好酸球検査</li>
    <li onclick="openSearch(this, '02-10.xml|03-05.xml')">非侵襲的陽圧換気療法</li>
    <li onclick="openSearch(this, '04-06.xml|09-01.xml|09-06.xml|10-06.xml|14-06.xml|15-01.xml')">非ステロイド性抗炎症薬</li>
    <li onclick="openSearch(this, '11-15.xml')">ヒゼンダニ</li>
    <li onclick="openSearch(this, '07-05.xml')">脾臓摘出術</li>
    <li onclick="openSearch(this, '03-06.xml')">肥大型心筋症</li>
    <li onclick="openSearch(this, '05-03.xml')">非代償性肝硬変</li>
    <li onclick="openSearch(this, '16-01.xml')">非定型肺炎</li>
    <li onclick="openSearch(this, '08-05.xml')">ビデオ脳波同時記録</li>
    <li onclick="openSearch(this, '07-08.xml')">非典型溶血性尿毒症症候群</li>
    <li onclick="openSearch(this, '09-02.xml')">非特異的腰痛</li>
    <li onclick="openSearch(this, '10-04.xml')">皮膚筋炎</li>
    <li onclick="openSearch(this, '13-03.xml|13-05.xml|13-06.xml')">鼻副鼻腔炎</li>
    <li onclick="openSearch(this, '10-05.xml')">皮膚硬化</li>
    <li onclick="openSearch(this, '11-03.xml')">皮膚糸状菌</li>
    <li onclick="openSearch(this, '05-07.xml')">皮膚瘙痒感</li>
    <li onclick="openSearch(this, '11-05.xml')">皮膚瘙痒症</li>
    <li onclick="openSearch(this, '01-10.xml')">皮膚・軟部組織感染症</li>
    <li onclick="openSearch(this, '03-11.xml')">非弁膜症性心房細動</li>
    <li onclick="openSearch(this, '05-10.xml')">被包化壊死</li>
    <li onclick="openSearch(this, '07-03.xml')">非ホジキンリンパ腫</li>
    <li onclick="openSearch(this, '06-03.xml')">肥満外科手術</li>
    <li onclick="openSearch(this, '06-03.xml')">肥満症</li>
    <li onclick="openSearch(this, '07-03.xml')">びまん性大細胞型B細胞リンパ腫</li>
    <li onclick="openSearch(this, '02-09.xml')">びまん性肺疾患</li>
    <li onclick="openSearch(this, '06-03.xml')">肥満治療食</li>
    <li onclick="openSearch(this, '16-09.xml')">病的先進部</li>
    <li onclick="openSearch(this, '16-07.xml')">頻回再発型ネフローゼ症候群</li>
    <li onclick="openSearch(this, '07-01.xml')">貧血，再生不良性</li>
    <li onclick="openSearch(this, '07-01.xml')">貧血，腎性</li>
    <li onclick="openSearch(this, '07-01.xml')">貧血，鉄欠乏性</li>
	</ul>
	<ul id="jp_hu">
		<li onclick="openSearch(this, '07-06.xml')">フィブリン分解産物</li>
    <li onclick="openSearch(this, '07-07.xml')">フォン・ヴィレブランド病</li>
    <li onclick="openSearch(this, '14-05.xml')">腹圧性尿失禁</li>
    <li onclick="openSearch(this, '02-11.xml')">腹臥位換気</li>
    <li onclick="openSearch(this, '04-07.xml')">腹腔鏡下胃切除術</li>
    <li onclick="openSearch(this, '06-03.xml')">腹腔鏡下袖状胃切除術</li>
    <li onclick="openSearch(this, '15-03.xml')">腹腔鏡下手術（子宮体癌）</li>
    <li onclick="openSearch(this, '01-10.xml')">腹腔内感染症</li>
    <li onclick="openSearch(this, '16-05.xml')">複雑型熱性けいれん</li>
    <li onclick="openSearch(this, '01-05.xml')">複雑性腎盂腎炎</li>
    <li onclick="openSearch(this, '01-05.xml')">複雑性膀胱炎</li>
    <li onclick="openSearch(this, '06-06.xml')">副腎癌</li>
    <li onclick="openSearch(this, '06-06.xml')">副腎偶発腫瘍</li>
    <li onclick="openSearch(this, '06-06.xml')">副腎疾患</li>
    <li onclick="openSearch(this, '10-08.xml|10-09.xml|11-01.xml|11-13.xml|12-01.xml|12-04.xml|13-10.xml|16-07.xml')">（副腎皮質）ステロイド</li>
    <li onclick="openSearch(this, '05-03.xml')">腹水</li>
    <li onclick="openSearch(this, '13-06.xml')">副鼻腔自然口開大処置</li>
    <li onclick="openSearch(this, '15-04.xml')">腹膜癌</li>
    <li onclick="openSearch(this, '04-01.xml')">腹膜刺激徴候</li>
    <li onclick="openSearch(this, '09-09.xml')">不顕性骨折</li>
    <li onclick="openSearch(this, '15-06.xml')">不正性器出血</li>
    <li onclick="openSearch(this, '12-04.xml')">ぶどう膜炎</li>
    <li onclick="openSearch(this, '08-02.xml')">不眠（症）</li>
    <li onclick="openSearch(this, '08-02.xml')">不眠の認知行動療法</li>
    <li onclick="openSearch(this, '10-09.xml')">不明熱</li>
    <li onclick="openSearch(this, '16-09.xml')">ブライトン分類</li>
    <li onclick="openSearch(this, '06-01.xml')">フラッシュグルコースモニタリングシステム</li>
    <li onclick="openSearch(this, '14-04.xml')">フレアアップ現象</li>
    <li onclick="openSearch(this, '17-06.xml|17-07.xml|17-09.xml')">フレイル</li>
    <li onclick="openSearch(this, '12-01.xml')">プロアクティブ療法</li>
    <li onclick="openSearch(this, '15-06.xml')">プロゲスチン</li>
    <li onclick="openSearch(this, '06-08.xml')">プロゲステロン受容体</li>
    <li onclick="openSearch(this, '12-06.xml')">プロスタグランジン（PG）関連薬</li>
    <li onclick="openSearch(this, '04-02.xml|04-04.xml|04-06.xml')">プロトンポンプ阻害薬</li>
	</ul>
	<ul id="jp_he">
		<li onclick="openSearch(this, '09-11.xml')">平滑筋肉腫</li>
    <li onclick="openSearch(this, '10-10.xml')">閉塞性静脈炎</li>
    <li onclick="openSearch(this, '02-10.xml')">閉塞性睡眠時無呼吸</li>
    <li onclick="openSearch(this, '03-06.xml')">閉塞性肥大型心筋症</li>
    <li onclick="openSearch(this, '03-08.xml|03-12.xml')">ペースメーカ</li>
    <li onclick="openSearch(this, '12-04.xml')">ベーチェット病</li>
    <li onclick="openSearch(this, '10-04.xml')">ヘリオトロープ疹</li>
    <li onclick="openSearch(this, '04-04.xml|04-06.xml|07-01.xml|07-05.xml')">ヘリコバクター・ピロリ（菌）感染胃炎</li>
    <li onclick="openSearch(this, '04-05.xml')">ヘリコバクター・ピロリ関連ディスペプシア</li>
    <li onclick="openSearch(this, '14-07.xml')">ペロニー病</li>
    <li onclick="openSearch(this, '16-08.xml')">便塊除去</li>
    <li onclick="openSearch(this, '09-07.xml')">変形性股関節症</li>
    <li onclick="openSearch(this, '09-06.xml')">変形性膝関節症</li>
    <li onclick="openSearch(this, '08-01.xml')">片頭痛</li>
    <li onclick="openSearch(this, '16-08.xml')">便塞栓</li>
    <li onclick="openSearch(this, '04-08.xml|04-09.xml')">便秘</li
    <li onclick="openSearch(this, '16-08.xml')">便秘，小児</li>
    <li onclick="openSearch(this, '16-08.xml')">便秘症，慢性機能性</li>
    <li onclick="openSearch(this, '03-07.xml')">弁膜症</li>
	</ul>
	<ul id="jp_ho">
		<li onclick="openSearch(this, '11-11.xml')">蜂窩織炎</li>
    <li onclick="openSearch(this, '01-05.xml')">膀胱炎，急性単純性</li>
    <li onclick="openSearch(this, '01-05.xml')">膀胱炎，複雑性</li>
    <li onclick="openSearch(this, '14-02.xml')">膀胱温存療法</li>
    <li onclick="openSearch(this, '14-02.xml')">膀胱癌</li>
    <li onclick="openSearch(this, '14-02.xml')">膀胱癌，リスク分類</li>
    <li onclick="openSearch(this, '17-05.xml')">放射線皮膚炎</li>
    <li onclick="openSearch(this, '07-03.xml')">ホジキンリンパ腫</li>
    <li onclick="openSearch(this, '11-01.xml|11-05.xml')">保湿外用薬</li>
    <li onclick="openSearch(this, '14-03.xml|14-07.xml')">ホスホジエステラーゼ（PDE）5阻害薬</li>
    <li onclick="openSearch(this, '07-08.xml')">補体H因子</li>
    <li onclick="openSearch(this, '14-07.xml')">勃起障害</li>
    <li onclick="openSearch(this, '14-07.xml')">勃起の硬さスケール</li>
    <li onclick="openSearch(this, '15-05.xml')">ホットフラッシュ</li>
    <li onclick="openSearch(this, '09-05.xml')">ホフマン徴候</li>
    <li onclick="openSearch(this, '17-06.xml')">ポリファーマシー</li>
    <li onclick="openSearch(this, '15-06.xml')">ホルムストローム療法</li>
    <li onclick="openSearch(this, '15-05.xml')">ホルモン補充療法</li>
	</ul>
	<ul id="jp_ma">
    <li onclick="openSearch(this, '02-02.xml|16-01.xml')">マイコプラズマ肺炎</li>
    <li onclick="openSearch(this, '10-02.xml')">膜性ループス腎炎</li>
    <li onclick="openSearch(this, '10-09.xml')">マクロファージ活性化症候群</li>
    <li onclick="openSearch(this, '16-01.xml')">マクロライド耐性マイコプラズマ</li>
    <li onclick="openSearch(this, '16-08.xml')">慢性機能性便秘症</li>
    <li onclick="openSearch(this, '03-13.xml')">慢性血栓塞栓性肺高血圧症</li>
    <li onclick="openSearch(this, '06-05.xml')">慢性甲状腺炎</li>
    <li onclick="openSearch(this, '07-02.xml')">慢性骨髄性白血病</li>
    <li onclick="openSearch(this, '14-01.xml')">慢性腎臓病</li>
    <li onclick="openSearch(this, '05-11.xml')">慢性膵炎</li>
    <li onclick="openSearch(this, '13-05.xml|13-08.xml')">慢性副鼻腔炎</li>
    <li onclick="openSearch(this, '02-04.xml|02-05.xml')">慢性閉塞性肺疾患</li>
    <li onclick="openSearch(this, '04-08.xml')">慢性便秘症</li>
    <li onclick="openSearch(this, '09-02.xml')">慢性腰痛</li>
    <li onclick="openSearch(this, '07-02.xml')">慢性リンパ性白血病</li>
	</ul>
	<ul id="jp_mi">
		<li onclick="openSearch(this, '13-09.xml')">水飲みテスト</li>
    <li onclick="openSearch(this, '09-11.xml')">未分化多形肉腫</li>
    <li onclick="openSearch(this, '12-08.xml')">脈絡膜肥厚</li>
	</ul>
	<ul id="jp_mu">
		<li onclick="openSearch(this, '10-04.xml')">無筋症性皮膚筋炎</li>
    <li onclick="openSearch(this, '11-06.xml')">無菌性進行性壊死</li>
    <li onclick="openSearch(this, '01-07.xml')">ムーコル症</li>
    <li onclick="openSearch(this, '06-04.xml')">無症候性高尿酸血症</li>
    <li onclick="openSearch(this, '06-05.xml')">無痛性甲状腺炎</li>
    <li onclick="openSearch(this, '13-10.xml')">無疱疹性帯状疱疹</li>
	</ul>
	<ul id="jp_me">
		<li onclick="openSearch(this, '13-07.xml')">メニエール病</li>
    <li onclick="openSearch(this, '13-07.xml')">めまい</li>
    <li onclick="openSearch(this, '17-01.xml')">免疫関連肺障害</li>
    <li onclick="openSearch(this, '17-01.xml')">免疫関連有害事象</li>
    <li onclick="openSearch(this, '02-08.xml|07-03.xml|17-01.xml')">免疫チェックポイント阻害薬</li>
    <li onclick="openSearch(this, '10-06.xml')">免疫抑制薬</li>
    <li onclick="openSearch(this, '12-01.xml')">免疫抑制薬点眼液</li>
    <li onclick="openSearch(this, '11-12.xml')">面皰</li>
	</ul>
	<ul id="jp_mo">
		<li onclick="openSearch(this, '08-04.xml')">妄想</li>
    <li onclick="openSearch(this, '12-07.xml')">網膜光凝固術</li>
    <li onclick="openSearch(this, '12-06.xml')">目標眼圧</li>
	</ul>
	<ul id="jp_ya">
		<li onclick="openSearch(this, '02-09.xml')">薬剤性肺障害</li>
    <li onclick="openSearch(this, '01-03.xml|01-10.xml|13-05.xml|16-01.xml')">薬剤耐性（AMR）対策アクションプラン</li>
    <li onclick="openSearch(this, '10-02.xml')">薬剤ループス</li>
    <li onclick="openSearch(this, '11-07.xml')">薬疹</li>
    <li onclick="openSearch(this, '17-06.xml')">薬物有害事象</li>
    <li onclick="openSearch(this, '08-01.xml')">薬物乱用頭痛</li>
    <li onclick="openSearch(this, '17-06.xml')">薬物療法，高齢者</li>
    <li onclick="openSearch(this, '13-10.xml')">柳原法</li>
	</ul>
	<ul id="jp_yu">
		<li onclick="openSearch(this, '03-08.xml')">疣腫</li>
	</ul>
	<ul id="jp_yo">
		<li onclick="openSearch(this, '01-09.xml|07-08.xml')">溶血性尿毒症症候群</li>
    <li onclick="openSearch(this, '09-01.xml')">腰椎椎間板ヘルニア</li>
    <li onclick="openSearch(this, '09-02.xml')">腰痛，急性</li>
    <li onclick="openSearch(this, '09-02.xml')">腰痛，非特異的</li>
    <li onclick="openSearch(this, '09-02.xml')">腰痛，慢性</li>
    <li onclick="openSearch(this, '09-02.xml')">腰痛症</li>
    <li onclick="openSearch(this, '09-03.xml')">腰部脊柱管狭窄症</li>
    <li onclick="openSearch(this, '09-03.xml')">腰部脊柱管狭窄診断サポートツール</li>
    <li onclick="openSearch(this, '01-01.xml')">溶連菌感染症</li>
    <li onclick="openSearch(this, '17-04.xml')">予期性悪心・嘔吐</li>
    <li onclick="openSearch(this, '08-03.xml')">抑うつエピソード</li>
	</ul>
	<ul id="jp_ra">
		<li onclick="openSearch(this, '05-08.xml')">ラジオ波焼灼療法</li>
    <li onclick="openSearch(this, '15-04.xml')">卵管癌</li>
    <li onclick="openSearch(this, '12-05.xml')">乱視矯正眼内レンズ</li>
    <li onclick="openSearch(this, '15-04.xml')">卵巣癌</li>
	</ul>
	<ul id="jp_ri">
		<li onclick="openSearch(this, '10-08.xml')">リウマチ性多発筋痛症</li>
    <li onclick="openSearch(this, '03-02.xml')">利尿薬</li>
    <li onclick="openSearch(this, '13-07.xml')">良性発作性頭位めまい症</li>
    <li onclick="openSearch(this, '06-06.xml')">両側副腎病変</li>
    <li onclick="openSearch(this, '12-06.xml')">緑内障</li>
    <li onclick="openSearch(this, '12-06.xml')">緑内障，原発開放隅角</li>
    <li onclick="openSearch(this, '12-06.xml')">緑内障，原発閉塞隅角</li>
    <li onclick="openSearch(this, '01-04.xml')">淋菌感染症</li>
    <li onclick="openSearch(this, '04-12.xml')">リンチ症候群</li>
    <li onclick="openSearch(this, '07-02.xml')">リンパ芽球性リンパ腫</li>
    <li onclick="openSearch(this, '07-03.xml')">リンパ腫，悪性</li>
    <li onclick="openSearch(this, '07-03.xml')">リンパ腫，びまん性大細胞型B細胞</li>
    <li onclick="openSearch(this, '07-02.xml')">リンパ腫，リンパ芽球性</li>
    <li onclick="openSearch(this, '07-03.xml')">リンパ腫，濾胞性</li>
	</ul>
	<ul id="jp_ru">
		<li onclick="openSearch(this, '12-02.xml')">涙液減少型ドライアイ</li>
    <li onclick="openSearch(this, '10-03.xml')">類上皮細胞肉芽腫</li>
    <li onclick="openSearch(this, '10-02.xml')">ループス腎炎，増殖性</li>
    <li onclick="openSearch(this, '10-02.xml')">ループス腎炎，膜性</li>
	</ul>
	<ul id="jp_re">
		<li onclick="openSearch(this, '17-09.xml')">レジスタンス運動</li>
    <li onclick="openSearch(this, '17-02.xml')">レスキュー薬</li>
    <li onclick="openSearch(this, '04-13.xml')">裂肛</li>
    <li onclick="openSearch(this, '08-07.xml')">レビー（Lewy）小体型認知症</li>
    <li onclick="openSearch(this, '11-11.xml')">レンサ球菌</li>
	</ul>
	<ul id="jp_ro">
		<li onclick="openSearch(this, '02-03.xml|16-04.xml')">ロイコトリエン受容体拮抗薬</li>
    <li onclick="openSearch(this, '16-09.xml')">ロタウイルスワクチン</li>
    <li onclick="openSearch(this, '07-03.xml')">濾胞性リンパ腫</li>
    <li onclick="openSearch(this, '14-04.xml|14-07.xml')">ロボット手術（前立腺癌）</li>
	</ul>
	<ul id="jp_wa">
		<li>該当なし</li>
	</ul>
</div>
</ons-page>