<ons-page>
	<div style="padding:0px 0px 8px; text-align:center; border-bottom:solid 2px #CCCCCC;">表示設定項目</div>
	<div style="padding:0px 8px; overflow:hidden;" id="scrollBlock"><!--固定する高さ-->
		<div style="overflow:auto; height:100%">
  		<ons-list>
				<!-- What's new -->
				<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_new" onChange="changeItem(this, 'section-new');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_new">What's new</label>
				</ons-list-item>
				<!-- アルゴリズム -->
				<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_algorism" onChange="changeItem(this, 'section-algorism');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_algorism">アルゴリズム</label>
				</ons-list-item>
				<!-- 総説 -->
				<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_general" onChange="changeItem(this, 'section-general');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_general">総説</label>
				</ons-list-item>
				<!-- 最近の話題 -->
				<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_recent" onChange="changeItem(this, 'section-recent');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_recent">最近の話題</label>
				</ons-list-item>
				<!-- 活用ポイント -- 2018-07-30 deleat sasaki> 
				 <!--<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_expl" onChange="changeItem(this, 'section-expl');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_expl">活用ポイント</label>
				</ons-list-item>-->
				<!-- 具体的処方 -->
				<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_prescription" onChange="changeItem(this, 'section-prescription');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_prescription">具体的処方</label>
				</ons-list-item>
				<!-- 執筆者 -->
				<ons-list-item modifier="tappable">
					<label class="checkbox">
						<input type="checkbox" checked="checked" class="checkbox__input" id="popover_authors" onChange="changeItem(this, 'section-authors');">
						<div class="checkbox__checkmark"></div>
					</label>
					<label class="poplabel" for="popover_authors">執筆者</label>
				</ons-list-item>
			</ons-list>
		</div>
	</div>
</ons-page>