/**
 * menu.html
 * <ons-icon icon="">
 * ionicons(iOS/Androidベースのアイコン)
 * http://ionicons.com/
 *
 *　ベースカラー：#E91E63;(朱色)
**/
.tab-bar{
	background-color: #FFFFFF;
}
:checked + .tab-bar__button{
	color: #E91E63;
}