/**
 * main.html
 * font-family: "Glyphicons Halflings";
 * http://glyphicons.com/
**/

@main-color: #E91E63;
@section-padding: 0px 6px;

html,body {
  height: 100%;
	overflow: hidden;
}

/********** 【共通】選択操作時の背景色 **********/
.onSelect{ 
	background: lighten(@main-color, 40%);
}
/********** 【共通】ボタン選択中の背景色 **********/
.onSselectBtn {
	color: #FFFFFF;
	font-weight: bold;
	background: lighten(@main-color, 20%);
}

/********** 【共通】下線表示 **********/
.under-line{
	display: inline;
	border-bottom: 1px solid #1f1f21;
}

.refgrp,
.refgrp:hover {
    color: #1f1f21;
    text-decoration: none;
}

/********** ■OnsenUI CSS 修正 **********/
/** ページベース **/
.page {
	font-family: 'Helvetica Neue', Helvetica, Arial, meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 17px;
	background-color: #f9f9f9;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: visible;
	color: #1f1f21;
}

.navigation-bar__left {
	width: 22%; /** 20%以下は表示されない **/
}
.navigation-bar__right {
	width: 22%; /** 20%以下は表示されない **/
}
.navigation-bar__center {
	width: 54%;
}
.onsen-sliding-menu__menu {
	box-shadow: none;
}

/** 表示設定項目ラジオボタン active背景色 **/
.checkbox__input:checked {
	background: lighten(@main-color, 20%);
}
.checkbox__input:checked + .checkbox__checkmark:before {
	background: lighten(@main-color, 20%);
	border: 1px solid lighten(@main-color, 20%);
}
.checkbox > .checkbox__checkmark:before {
	border: 1px solid lighten(@main-color, 20%);
}
/** 表示設定項目ラジオエリア active背景色 **/
.list__item--tappable:active {
	background-color: lighten(@main-color, 40%);
}
.checkbox > .checkbox__checkmark:after {
  top: 7px;
  left: 6px;
  width: 12px;
  height: 6px;
}

/** メニュー表示 背景色アニメーション解除 **/
.list__item--tappable,
.list__item--chevron{
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  transition: initial;
}

/********** ■bootstrap CSS 修正 **********/
ul, ol, p {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.4em;
}

img{
	display: block;
/**	padding: 5px 0px 0px 0px; **/
}
div[class="見出し_孫見出し"]>img,
p[class="図表_注"]>img {
  display: inline;
}

button{
	background-color: inherit;
}

.bootstrap-switch-handle-on{
	height: 100%;
}

.input-group-btn{
	font-size: 0px;
}

/********** ■アプリ CSS **********/
/********** XML直書きのタグ類 **********/
Adv, adv, .adv{
	color: #FFFFFF;
	background: darken(@main-color,10%);
	margin-right: 10px;
	&:after{
		content: "";
		position: absolute;
		margin-top: 1.5px;
		background: transparent;
		border-left: 10px solid darken(@main-color,10%);
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
}

/** ▶マーク **/
.Mark, .mark{
	&:before{
		content:"\e072";
		font-family: "Glyphicons Halflings";
		font-style: normal;
		margin-left: -0.2em;
		color: @main-color;
	}
}

/** 出典・作者 **/
.Author, .author{
	margin: 0.5em 0 0.5em 10%;
	text-align:right
}

/** その他 **/
p_gothic{
	display: block;
	text-indent: -1em;
	margin-left: 1em;
}
uppertitle,
lowertitle{
	display: block;
}
quote{
	display: block;
	margin-bottom: 1em;
	word-break : break-all;
}
keyphrase{
	display: none;
}

span[class="本文_色文字太字"],
p[class="図表_タイトル"],
span[class="具体的処方_色文字"],
div[class="総論_中見出し"],
span[class="本文_図表番号"] {
	color: lighten(@main-color,8%);
}

div[class="見出し_孫見出し"]{
  font-weight: bold;
  color: lighten(@main-color,8%);
}

/** 2018-10-11 add sasaki start**/
div[class="見出し_小見出し"] {
  >span[class="本文_色文字太字"]{
    color: #FFFFFF;
  }
}
/** 2018-10-11 add sasaki end**/
ph[outputclass="薬剤名"],
p[class="具体的処方_病型分類"]
>span[class="具体的処方_色文字"],
li[class="ガイドライン_リスト_NEW"],
p[class="図表_注_見出し"] {
	color: lighten(@main-color,8%);
	font-weight: bold;
}
ph[outputclass="下付き"]{
	font-size: 75%;
	position: relative;
	top: 0.05em;
}
ph[outputclass="下付き色"]{
	font-size: 75%;
	position: relative;
	top: 0.05em;
	color: lighten(@main-color,8%);
}
ph[outputclass="文献肩文字"],
ph[outputclass="上付き"],
span[class="上付き"]{
	font-size: 75%;
	position: relative;
	top: -0.4em;
}
ph[outputclass="上付きイタリック"]{
	font-size: 75%;
	position: relative;
	top: -0.4em;
	font-style: italic;
}
ph[outputclass="上付き色"]{
	font-size: 75%;
	position: relative;
	top: -0.4em;
	color: lighten(@main-color,8%);
}
ph[outputclass="ボールド"],
ph[outputclass="氏名"],
ph[outputclass="ゴシック"],
span[class="本文_太字"] {
	font-weight: bold;
}
ph[outputclass="本文_イタリック"]{
	font-style: italic;
}
ph[outputclass="イタリックボールド"]{
	font-weight: bold;
	font-style: italic;
}
ph[outputclass="イタリック色"]{
	color: lighten(@main-color,8%);
	font-style: italic;
}
span[class="本文_色文字太字イタリック"] {
  color: lighten(@main-color,8%);
	font-style: italic;
  font-weight: bold;
}
span[class="本文_イタリック"] {
  font-style: italic;
}
ph[outputclass="下線スミ明朝"] {
	text-decoration: underline;
}
ph[outputclass="下線スミゴシック色"],
ph[outputclass="色ゴシック下線スミ"],
span[class="下線_ゴシック色文字"]{
	color: lighten(@main-color,8%);
	border-bottom: solid 1px #000000;
}
span[class="下線"] {
  border-bottom: solid 1px #000000;
}
p[outputclass="本文明朝"]{
	display: inline;
}
p[outputclass="図・表文献（quote）"]{
}
div[class="アルゴリズム_見出し"], image-footer{
	display: block;
	color: darken(@main-color, 10px);
	font-weight: bold;
}

div[class="図表"]{
  padding-bottom: 5px;
  margin-top: 5px;
}
// >>マーク
Attention{
  letter-spacing: -2.5px;
}
p[class="図表_引用"] {
  font-size: small;
}

/********** 検索 **********/
p.highlight{
}

/********** ツールバー **********/
#toolbar_title {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.toolbar-button{
	padding: 0px 8px 0px 0px;
}
/********** ポップアップメニュー **********/
ons-navigator[var="pop_menu"]{
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	ons-list-item {
		background-color: #F9F9F9;
	}
	.poplabel{
		width: 155px;
		position: absolute;
		margin-left: 15px;
		font-size: 12pt;
		font-weight: normal;
	}
}

/********** メニューバー **********/
ons-icon[icon="ion-navicon"]{
	width:1em;
	font-size:32px;
	margin-left: 10px;
	color :#999999;
}

#main{
	ons-icon[icon="ion-ios-gear-outline"],
	ons-icon[icon="ion-ios-star-outline"],
	ons-icon[icon="ion-ios-star"]{
		width: 1em;
		font-size: 25px;
		color :#666666;
	}
	
	ons-icon[icon="ion-ios-star-outline"],
	ons-icon[icon="ion-ios-star"]{
		top: 0px;
	}
	
	/** お気に入りON **/
	ons-icon[icon="ion-ios-star"]{
		color: #FFA500;
	}

  /** NEWマーク装飾 saito add 2018-10-11 **/
  span[class="ガイドライン_NEWマーク"]{
    color:#F9F9F9;
    background-color: lighten(@main-color,8%);
  }

  /** 文字インデント修正(丸文字) saito add 2018-10-11 **/
  /** 文字インデント修正(片カッコ １) ) saito add 2018-10-12 (4章7節・5章1節で使われ方が異なる) **/
  p[class="本文_先頭丸数字"],
  p[class="本文_級下げ"],
  p[class="本文_最近の話題_先頭丸数字"],
  p[class="具体的処方_治療方針_先頭丸数字"]{
    display: block;
    text-indent: -1em;
    padding-left: 1em;
  }

  /** 文字インデント修正(コンサルト 丸文字) saito add 2018-10-15 **/
  p[class="本文_専門医へのコンサルト_先頭丸数字"]{
    text-indent: -1em;
    padding-left: 1em;
  }

  /** 文字インデント修正(処方例) saito add 2018-10-11 **/
  p[class="具体的処方_処方例1W下げ"]{
    padding-left: 1em;
  }
}

/********** 本文 **********/
#xmlTemplate,
#imgViewClose{
	display: none;
}

/********** 本文ヘッダ **********/
#section-header{
	padding: @section-padding;
	margin-bottom: 20px;
	border: 0;
	#page-title{
		font-size: 24px;
		line-height: 1em;
		background: lighten(@main-color,8%);
		padding: 15px 20px 10px;
		margin: 0px -6px;
		color: #FFFFFF;
		#title-guidline{
			height: 65px;
			position: absolute;
			top: 8px;
			left: 6px;
			right: 6px;
			border-style: solid;
			border-color: lighten(@main-color,30%);
			border-width: 2px 2px 0px 2px;
		}
		.number{
			display: inline-block;
			margin-right: 16px;
			font-size: smaller;
		}
		.title{
			float: right;
			display: inline-block;
			width: 220px;
			background: lighten(@main-color,8%);
			padding: 4px 8px;
			border: 1px solid #bbbbbb;
			position: fixed;
			top: 0;
			right: 0;
		}
	}
	#page-guidline {
		padding: 45px 8px 0px;
		margin-top: -40px;
		border-style: solid;
		border-color: lighten(@main-color,30%);
		border-width: 0px 2px 2px 2px;
		>#guidline {
			padding: 0px;
			>li {
				list-style: none;
				margin: 0;
				padding-left: 20px;
				position: relative;
				&:before{
					content:"\e022";
					top: 1px;
					display: inline-block;
					font-family: "Glyphicons Halflings";
					font-style: normal;
					font-weight: 400;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					position: absolute;
					left: 0px;
					color: @main-color;
				}
			}
		}
	}
}

/********** What's new **********/
#section-new{
	padding: @section-padding;
	margin-bottom: 20px;
	margin-right: 10px;
	&:before {
		font-size: 15px;
		content:"What's new";
		background: darken(@main-color,10%);
		width: 220px;
		color: #FFFFFF;
		font-weight: bold;
		padding: 3px 20px 3px 10px;
		border-radius: 0 0 20px 0;
		box-shadow: 8px 0px 0px 0px lighten(@main-color,8%);
	}
	#wahtnew-ul {
		border-top: 2px solid lighten(@main-color,8%);
		border-left: 2px solid lighten(@main-color,8%);
		border-right: 2px solid lighten(@main-color,8%);
		border-bottom: 2px solid lighten(@main-color,8%);
		background: lighten(@main-color,45%);
		margin-top: -20px;
		margin-left: 6px;
		padding: 20px 16px 6px 24px;
		list-style: none;
    >div[class="whatsnew_小見出し"] {
      margin-left: -1.8em
    }
		>li {
			position: relative;
			line-height: 1.4em;
			padding-bottom: 6px;
			&:before {
				content:"\e089";
				top: 1px;
				display: inline-block;
				font-family: "Glyphicons Halflings";
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				position: absolute;
				left: -20px;
				color: @main-color;
			}
			>ul{
				list-style: none;
				>li:first-child {
					padding-top: 6px;
				}
				>li{
					list-style: none;
					padding-bottom: 6px;
					margin-left: -1.2em;
					/** 丸数字にScriptで置き換え **/
					>span{
						position: absolute;
						left: 0;
					}
				}
			}
		}
    /** 2018-10-18 add sasaki start **/
    .ガイドライン_リスト_●なし {
      position: relative;
			line-height: 1.4em;
			padding-bottom: 6px;
			&:before {
				content:none;
      }
    /** 2018-10-18 add sasaki end **/
    }
		.wahtnew-txt {
			margin-left: -1em;
			padding-bottom: 6px;
		}
	}
    img{
        padding: 5px;
        background-color: #FFFFFF;
    }
}

/********** アルゴリズム **********/
#section-algorism{
	word-break : break-all;
	>#section-algorism-comment{
		display: none;
		margin-left: 0.2em;
		margin-bottom: 0.5em;
	}
	>#section-algorism-block{
		padding: @section-padding;
		margin-bottom: 20px;
		&:before{
			content: "アルゴリズム";
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			background: lighten(@main-color, 45%);
			color: darken(@main-color, 10px);
			border: 2px solid @main-color;
			padding: 4px 8px;
		}
		p{
			margin-left: 1em;
			margin-bottom: 0.5em;
		}
		>#algorism{
			>quote{
				margin-left: 1em;
				margin-bottom: 1em;
				text-align: right;
				font-size: 80%;
			}
			>lowertitle{
				margin-left: 1em;
			}
			
			lowertitle[outputclass="hanging"]{
				text-indent: -2.6em;
				padding-left: 2.6em;
			}
			lowertitle[outputclass="indent"]{
				text-indent: 1em;
				padding-left: 1em;	
			}
			lowertitle[outputclass="hanging"][indent-value="1"]{
				text-indent: -1em;
				padding-left: 1em;
			}
			lowertitle[outputclass="hanging"][indent-value="1.5"]{
				text-indent: -1.5em;
				padding-left: 1.5em;
			}
			lowertitle[outputclass="hanging"][indent-value="2"]{
				text-indent: -2em;
				padding-left: 2em;
			}
			lowertitle[outputclass="hanging"][indent-value="3"]{
				text-indent: -3em;
				padding-left: 3em;
			}
			lowertitle[outputclass="hanging"][indent-value="4"]{
				text-indent: -4em;
				padding-left: 4em;
			}
			lowertitle[outputclass="hanging"][indent-value="5"]{
				text-indent: -5em;
				padding-left: 5em;
			}
			p_gothic{
				margin-bottom: 0;
			}
			img{
				margin-left: 1em;
			}

      /** 図表_注インデント修正 saito add 2019-02-27 改訂版対応 **/
      img[src*="矢印"]{
				margin-left: 0em;
      }
       /** 図表_注インデント修正 saito add 2019-02-27 改訂版対応 **/
      img[src="./image/10-07-1.jpg"]{
				margin-left: 0em;
      }

			greater{
				position: relative;
				color: darken(@main-color,10%);
				display: inline-block;
				font-weight: bold;
				text-indent: 0em;
				&:before {
					font-family: "FontAwesome";
					position: absolute;
					top: 0px;
					left: 3px;
					content:"\f101";
					color: darken(@main-color,10%);
				}
			}
			image-footer[outputclass="hanging"][indent-value="2.6"]{
				text-indent: -1.6em;
				padding-left: 2.6em;
			}

      /** 図表_注インデント修正 saito add 2018-10-11 **/
      p[class="図表_注"]{
        display: block;
        text-indent: -1em;
        padding-left: 1em;
      }
		}
	}
}

/********** 総説 **********/
#section-general{
	#general-block{
		padding: @section-padding;
		margin-bottom: 20px;
		&:before{
			content: "総説";
			width: 200px;
			text-align: center;
			border: 1px solid @main-color;
			border-width: 1px 8px;
			font-weight: bold;
			font-size: 18px;
			display: inline-block;
			padding: 2px;
		}
	}

  div[class = "見出し_中見出し"] { /*sasaki add 2018-10-11*/
    	display: block;
			margin-top: 1em;
			margin-bottom: 5px;
			font-weight: bold;
			font-size: 18px;
			border-style: solid;
			border-color: darken(@main-color,10%);
			border-width: 0px 0px 5px 5px;
			padding: 2px 10px;
  }
	div[class = "見出し_小見出し"]{ /*sasaki fix 2018-07-11*/
		color: #FFFFFF;
		font-weight: bold;
		background: darken(@main-color,10%);
		display: inline-block;
		padding: 0px 5px;
		-webkit-border-top-left-radius: 15px;
		-webkit-border-top-right-radius: 15px;
		-webkit-border-bottom-left-radius: 15px;
		-webkit-border-bottom-right-radius: 15px;
		&:before{ padding-right: 0.5em; }
    &:after{ padding-left: 0.5em; }
    &:before,
		&:after{
			content:"●";
			color: lighten(@main-color,10%);
		}
    >span[class="本文_図表番号"] {
      color: #ffffff;
    }
	}
	#general{
		margin-top: 5px;
		margin-right: 10%;
		display: none;
	}
	#detail{
		padding: @section-padding;
		margin-right: 10px;
		margin-top: 5px;
		word-break: break-all;
		p_section{
			display: block;
			margin-top: 1em;
			margin-bottom: 5px;
			font-weight: bold;
			font-size: 18px;
			border-style: solid;
			border-color: darken(@main-color,10%);
			border-width: 0px 0px 5px 5px;
			padding: 2px 10px;
		}
		p_mincho, lowertitle{
			display: block;
			text-indent: -1em;
			padding-left: 1em;
		}
		p_mincho[outputclass="indent"]{
			display: block;
			text-indent: 1em;
			padding-left: 0em;
		}
		p_mincho[outputclass="hanging"][indent-value="1.6"]{
			text-indent: -1.6em;
			padding-left: 1.6em;
		}
		p_mincho[outputclass="hanging"][indent-value="2"]{
			text-indent: -2em;
			padding-left: 2em;
		}
		p_mincho[outputclass="hanging"][indent-value="2.6"]{
			text-indent: -2.6em;
			padding-left: 2.6em;
		}
		lowertitle[outputclass="hanging"]{
			text-indent: -2.6em;
			padding-left: 2.6em;
		}
		lowertitle[outputclass="hanging"][indent-value="1.3"]{
			text-indent: -1.7em;
			padding-left: 1.7em;
		}
		lowertitle[outputclass="hanging"][indent-value="1.5"]{
			text-indent: -2.3em;
			padding-left: 2.3em;
		}
		lowertitle[outputclass="hanging"][indent-value="1.8"]{
			text-indent: -1.8em;
			padding-left: 1.8em;
		}
		lowertitle[outputclass="hanging"][indent-value="2"]{
			text-indent: -2em;
			padding-left: 2em;
		}
		lowertitle[outputclass="hanging"][indent-value="3.6"]{
			text-indent: -3.6em;
			padding-left: 3.6em;
		}
		lowertitle[outputclass="nohanging"]{
			text-indent: 0em;
			margin-left: -1em;
		}
		p_gothic{
			quote{
				margin-left: 1em;
				text-align: right;
				font-size: 80%;
			}
			image-footer{
				margin-left: 1em;
			}
		}
		p_gothic[outputclass="hanging"][indent-value="1.8"]{
			text-indent: -2.8em;
			margin-left: 2.8em;
			quote{
				margin-left: 1em;
				text-align: right;
				font-size: 80%;
			}
		}
		greater{
			position: relative;
			color: darken(@main-color,10%);
			display: inline-block;
			font-weight: bold;
			&:before {
				font-family: "FontAwesome";
				position: absolute;
				top: 0px;
				left: 3px;
				content:"\f101";
				color: darken(@main-color,10%);
			}
		}
		p[outputclass="文献"],
		p[outputclass="図・表文献（quote）"]{
			word-break : break-all;
			text-indent: -1.5em;
			padding-left: 1.5em;
		}
  /* add sasaki 2018.7.25*/
    p>img {
      display:inline;
    }
    img[class=width-350]{
      width:350px;
      margin:5px;
    }

    /********** 専門医へのコンサルト **********/
    div[class="見出し_専門医へのコンサルト"]{
      position: relative;
      margin-top: 1em;
      margin-left: -5px;
      margin-bottom: 5px;
      border-top: 3px solid lighten(@main-color,8%);
      border-bottom: 3px solid lighten(@main-color,8%);
      color: #FFFFFF;
      font-weight: bold;
      background: #c1134e;
      display: inline-block;
      padding: 0px 6px;
    }
	}
}

/********** 最近の話題 **********/
#section-recent{
	position: relative;
	padding: @section-padding;
	margin: 30px 10px 40px 16px;
	border: 1px dashed @main-color;
	>div{
		position: relative;
		top: -14px;
		left: -16px;
		word-break: break-all;
    >span[class="本文_色文字太字"] {
      color: lighten(@main-color,8%);
    }
		>span:not(.本文_色文字太字):not(.上付き):not(.本文_イタリック):not(.本文_太字) {
			width: 28px;
			height: 28px;
			line-height: 28px;
			background: lighten(@main-color,8%);
			color: #FFFFFF;
			font-size: 20px;
			text-align: center;
			border-right: 2px solid #FFFFFF;
			border-bottom: 2px solid #FFFFFF;
		}
	}
	p_mincho[outputclass="indent"]{
	    display: inline;
		text-indent: -1em;
		padding-left: 1em;
	}
	p_mincho[outputclass="nohanging"]{
		display: inline;
    	text-indent: 0em;
    	padding-left: 0em;
	}
	p_mincho{
		display: block;
		text-indent: -1em;
		padding-left: 1em;
		>quote{
			margin-left: 1em;
			text-align: right;
			font-size: 80%;	
		}
	}
}

/********** ガイドライン活用のポイント **********/
/*#section-expl,
.section-expls{
	display: none;
	padding: @section-padding;
	padding-top: 4px;
	margin: 0px 10px 40px 6px;
	position: relative;
	border: 1px solid lighten(@main-color,24%);
	border-width: 32px 6px 1px 6px;
	background: lighten(@main-color,44%);
	>#section-expl-title,  2018-07-27 sasaki delete
    >.section-expls-title{
		position: absolute;
		top: -32px;
		left: 18px;
		background: darken(@main-color,10%);
		font-size: 17px;
		padding: 4px 8px;
		color: #FFFFFF;
		height: 32px;
		font-family: initial;
		&:before{
			content: "";
			width: 32px;
			height: 32px;
			position: absolute;
			top: 0;
			left: -16px;
			background: transparent;
			border: 12px solid transparent;
			border-top: 16px solid darken(@main-color,10%);
			border-bottom: 16px solid darken(@main-color,10%);
		}
		&:after{
			content: "";
			width: 32px;
			height: 32px;
			position: absolute;
			top: 0;
			right: -32px;
			background: transparent;
			border: 16px solid transparent;
			border-left: 12px solid darken(@main-color,10%);
		}
	}
	>#section-expl-text{
		word-break : break-all;
		p_gothic {
			text-indent: -0.85em;
			margin-bottom: 0em;
		}
		.expl-txt{
			word-wrap: break-word;
		}
		quote{
			margin-left: 1em;
			text-align: right;
			font-size: 80%;	
		}
	}
	>.expl-txt{
		margin-left: 3px;
		margin-bottom: 10px;
	}
    img{
        padding: 5px;
        background-color: #FFFFFF;
    }
}
/** 複数の場合 **/
/*.section-expls{
    margin-left: 0px;
}*/

/********** 具体的処方 **********/
h3[class="見出し_具体的処方"]{
 display:none
}
#section-prescription{
	padding: @section-padding;
	&:before{
		content: "具体的処方";
		width: 200px;
		text-align: center;
		border-style: solid;
		border-color: @main-color;
		border-width: 2px 10px;
		font-weight: bold;
		font-size: 18px;
		display: inline-block;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
	}
	>table{
		width: 100%;
		border-style: solid;
		border-color: lighten(@main-color,8%);
		border-width: 0px 2px 2px 2px;
		th{
			color: #FFFFFF;
			background-color: lighten(@main-color,8%);;
			font-weight: normal;
			text-align: center;
		}
		th:nth-child(-n+2),
		td:nth-child(-n+2){
			width:30%;
		}
		th:nth-child(3),
		td:nth-child(3){
			width:40%;
		}

		th:nth-child(2){
			border-style: solid;
			border-color: #FFFFFF;
			border-width: 0px 1px;
		}
		th[colspan="3"]{
			background-color: #FFFFFF;
			color: #000000;
			border-style: solid;
			border-color: lighten(@main-color,8%);
			border-width: 1px 0px;
			text-align: left;
			>.policy {
				font-size: 120%;
			}
			ita{
				display: inline-flex;
			}
		}
		td{
			vertical-align: top;
			padding: 0px 5px;
		}
		td[colspan="3"]{
			border-style: solid;
			border-color: lighten(@main-color,8%);
			border-width: 1px 0px;
      /** 20181016 add sasaki start**/
      border-bottom: none;
      border-top: none;
      /** 20181016 add sasaki end**/
			>.policy {
				font-size: 120%;
			}
			ita{
				display: inline-flex;
			}
			p_gothic{
				margin-bottom: 0em;
			}
		}
    td:nth-child(1),
    td:nth-child(3){
      >div{
        white-space: pre-wrap;
        display:inline-table;
      }
    }
		td:nth-child(2){
			border-style: solid;
			border-color: lighten(@main-color,8%);;
			border-width: 0px 1px;
		}
		p[indent-value="1"],{
		    text-indent: -1em;
		    padding-left: 1em;
		}
		p_gothic{
			text-indent: 0em;
    		margin-left: 0em;
		}
	}
	>quote{
		margin-left: 1em;
		text-align: right;
		font-size: 80%;	
	}

  //17章5節用
  >#section-prescription-6{
    >table{
      width: 100%;
      border-style: solid;
      border-color: lighten(@main-color,8%);
      border-width: 0px 2px 2px 2px;
      th{
        color: #FFFFFF;
        background-color: lighten(@main-color,8%);;
        font-weight: normal;
        text-align: center;
      }

      th:nth-child(1),
      td:nth-child(1){
        width:5%;
      }
      th:nth-child(2),th:nth-child(6),
      td:nth-child(2),td:nth-child(6){
        width:10%;
      }
      th:nth-child(3),th:nth-child(4),th:nth-child(5),
      td:nth-child(3),td:nth-child(4),td:nth-child(5){
        width:25%;
      }
      th:nth-child(2),
      th:nth-child(4),
      th:nth-child(6){
        border-style: solid;
        border-color: #FFFFFF;
        border-width: 0px 1px;
      }

      th[colspan="6"]{
        background-color: #FFFFFF;
        color: #000000;
        border-style: solid;
        border-color: lighten(@main-color,8%);
        border-width: 1px 0px;
        text-align: left;
        >.policy {
          font-size: 120%;
        }
        ita{
          display: inline-flex;
        }
      }
      td{
        vertical-align: top;
        padding: 0px 5px;
		  }
      td:nth-child(1),
      td:nth-child(3),
      td:nth-child(5){
        >div{
          white-space: pre-wrap;
          display:inline-table;
        }
      }
      td:nth-child(2),
      td:nth-child(4),
      td:nth-child(6){
        border-style: solid;
        border-color: lighten(@main-color,8%);;
        border-width: 0px 1px;
      }

      tr[class="具体的処方_上枠あり"]{
        border-style: solid;
        border-color: lighten(@main-color,8%);;
        border-width: 1px 0px 0px 0px;
      }

      p[indent-value="1"],{
        text-indent: -1em;
        padding-left: 1em;
      }
      p_gothic{
        text-indent: 0em;
        margin-left: 0em;
      }
      >quote{
        margin-left: 1em;
        text-align: right;
        font-size: 80%;	
      }
		} 
  }
}

/********** 総論 **********/
#section-soron {
  padding: @section-padding;
  div[class="総論_大見出し"] {
    display: inline-block;
    width: 400px;
    margin-top:5px;
	  line-height: 2.5em;
   	background: linear-gradient(to right,#FFDFE3, #f9f9f9);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
 }
  div[class="総論②"]>div[class="総論_大見出し"] {
    line-height: 1.35em;
    margin-top:-1px;
    left: 19px;
    position:absolute;
    z-index: 0;
    width: 380px;
 }
 .br::before {
			content: "\A" ;
			white-space: pre ;
 }
 div[class="総論①"]>div[class="総論_大見出し"]::before,
 div[class="総論③"]>div[class="総論_大見出し"]::before { 
    content: "　";
    font-size: 24pt; 
    color: #FFFFFF;
    width: 40px;
	  text-align: center;
	  background: radial-gradient(#E91E63, #FF9FAD);
	  border-radius: 25px;
    position: absolute;
    left: 8px;
  } div[class="総論①"]>div[class="総論_大見出し"]::before {
    content: "Ⅰ";
  } div[class="総論③"]>div[class="総論_大見出し"]::before {
    content: "Ⅲ";
  } 
  div[class="number"] {
    display: inline-block;
    font-size: 24pt;
    color: #FFFFFF;
    width: 45px;
	  text-align: center;
	  background: radial-gradient(#E91E63, #FF9FAD);
	  border-radius: 25px;
    position: absolute;
    left: 5px;
    z-index: 1;
  }
}

/********** 付録 **********/
#section-appendix{
	display: none;
	margin: 1em 0px 1em 0.5em;
}
/********** 文献 **********/
#literature{
  padding: @section-padding;
}

/********** 著者 **********/
#section-authors{
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
}

/********** 画像拡大 **********/
#imgMSK{
	overflow: scroll;
	display: box;
	display: -webkit-box;
	box-align: center;
	-webkit-box-align: center;
	#svgimg {
		display: block;
		margin: 0 auto;
		padding: 10px;
		background-color: #FFFFFF;
	}
}

/********** 画面幅に応じてstyle適応 **********/
@media screen and (min-width: 960px) {
	.openMenu { display: none; }
}

