/** 
 * menu_search.html
**/
@main-color: #E91E63;
@hide-color: #A9A9A9;

#segment_controller,
#index_list,
#history_list { 
    >.input-group-btn {
		padding: 10px 5px 0px 5px;
	}
}

/** [20170055] ADD Start **/
/** 検索欄 **/
#inputWord {
	width: 85%;
	border-right: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	&:focus {
		border-color: #CCCCCC;
		-webkit-box-shadow: none;
	}
}
/** 検索欄クリア **/
#inputWordClear{
	width: 15%;
	border-left: none;
	-webkit-box-shadow: none;
}
/** [20170055] ADD End **/

/** 検索・索引切替 **/
#button_search,
#button_index,
#button_history {
	border-style: solid;
	border-color: @main-color;
	border-width: 1px;
	:not([class="onSselectBtn"]){
		background: #FFFFFF;
	}
}

#button_search,
#button_history {
	width:33%;
}
#button_index {
	width:34%;
}

/** 和文・欧文・薬剤名 **/
#button_jp,
#button_en,
#button_yak {
	width:33%;
	border-bottom: 2px solid lighten(@main-color, 20%);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}



/** 参照履歴・回数切替 **/
#button_reference,
#button_count {
	width:49.5%;
	border-bottom: 2px solid lighten(@main-color, 20%);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;  
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

/** 角丸 **/
#button_search {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 0px;  
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
}

#button_history {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 5px;
}

/** 検索dom・索引dom **/
#search_list,
#index_list,
#history_list {
	display: none;
}

/** 検索欄 **/
#search_list {
	>.input-group {
		padding: 10px;
		>.input-group-btn {
			>.btn-default {
				width: 60px;
			}
		}
	}
}

/** 検索結果 **/
#resultMsg {
	padding: 0px 10px 5px 5px;
}

#search_result{
	>ons-page{
		.list-content{
			.list-content-container{
				height: calc(~"100vh - 200px"); /** scriptにも補正値記載 **/
				position: relative;
				padding: 2px 8px;
				ol.index-list{
					overflow: auto;
					display: none;
					li{
						>.midashi{
							margin-bottom: 0px;
						}
					}
				}
				ol.index-sub-list{
					display: block;
					margin-top: 0px;
					>li{
						&:before{
							content: "";
						}
					}
				}
			}
		}
	}
}

/** 索引リスト **/
#list_jp,
#list_en,
#list_yak {
	display: none;
	padding: 3px 10px;
	>ons-page {
		height: calc(~"100vh - 160px");
		>.listLeft {
			float: left;
			width: 60px; /** (1) **/
			height: 100%;
			margin-right: -60px; /** (1) **/
			overflow: auto;
			z-index: 2;
			position: relative;
			>ul {
				list-style: none;
				padding: 0;
				>li {
					width: 54px;
					height: 32px;
					line-height: 32px;
					position: relative;
					margin-bottom: 5px;
					font-weight: normal;
					left: 0;
					text-align: center;
					color: #FFFFFF;
					font-size: 18pt;
				}
				>li:not([class="onSselectBtn"]) {
					background: lighten(@hide-color,15%);
				}
				>li:nth-of-type(5n+1):not([class="onSselectBtn"]) {
					background: @hide-color;
				}
			}
		}
		>.listRight {
			float: left;
			width: 100%;
			height: 100%;
			overflow: auto;
			z-index: 1;
			position: relative;
			>ul {
				display: none;
				margin-left: 20px;
				>li {
					display: block;
					color: #333333;
					padding: 8px 4px 8px 0px;
					border-bottom: 1px dotted #CCCCCC;
					line-height: 1.2em;
				}
			}
		}
	}
}
/** 欧文は背景色を統一(5コ区切りなし) **/
#list_en{
	>ons-page {
		>.listLeft {
			>ul {
				>li:nth-of-type(5n+1):not([class="onSselectBtn"]) {
					background: lighten(@hide-color,15%);
				}
			}
		}
	}
}

#history_data_title,
#history_count_title {
	padding: 5px 8px;
	font-size: 12pt;
	height:30px;
	&:before,
	&:after{
		content:"●";
		color: lighten(@main-color,10%);
	}
}

/** 参照履歴 **/
#date_list {
	height: calc(~"100vh - 190px");
	.list-historycontent{
		height: 100%;
		overflow: auto;
		position: relative;
		background: #FFFFFF;
		.history-content-container{
			position: absolute;
			height: 100%;
			width: 100%;
			padding: 5px 8px 8px;
			ol.index-historylist{
				list-style: none;
				padding: 0;
				>li{
					position: relative;
					>.history_midashi{
						margin-bottom: 3px;
						background-color: #FDEAF1;
						padding: 1px 8px 1px 16px;
						box-sizing: content-box;
						height: 44px;
						line-height: 44px;
						color:  darken(@main-color,10%);
						font-size: 18px;
						font-weight: bold;
						cursor: pointer;
						&:before{
							position: absolute;
							font-weight: normal;
							left: 0;
							width: 10px;
							height: 44px;
							background: darken(@main-color,10%);
							text-align: center;
							line-height: 44px;
							color: #FFFFFF;
							content: "";
						}
					}
				}
			}
			ol.index-sub-list{
				list-style: none;
				margin-top: 0px;
				>li{
					border-bottom: 1px dotted #CCCCCC;
					margin-left: -40px;
					>.midashi{
						height: 44px;
						display: table-cell;
						vertical-align: middle;
						color: #333333;
						padding: 4px 4px 4px 32px;
						line-height: 44p;
						&:hover{
							text-decoration: none;
						}
					}
					&:before{
						content: "";
					}
				}
			}
		}
	}
}

/** 参照回数 **/
#count_list {
	display: none;
	height: calc(~"100vh - 190px");
	>#history_count{
		height: 100%;
		overflow: auto;
		margin: 5px 10px;
		>div {
			margin-right: 20px;
			width: 100%;	
			border-bottom: 1px dotted #CCCCCC;
			padding: 1px 0px;
			>.his_name {
				display: inline-block;
				float: left;
				width: 75%;
				line-height: 44px;
				>.midashi {
					font-size: 15px;
					height: 44px;
					line-height: 1em;
					display: table-cell;
					vertical-align: middle;
					word-break: break-all;
				}
			}
			>.his_count {
				display: inline-block;
				width: 25%;
				height: 44px;
				line-height: 44px;
				text-align: right;
				padding-right: 5px;
			}
		}
	}
}





