/** 
 * menu_info.html
**/
@main-color: #E91E63;
@hide-color: #A9A9A9;
@font-color: #1f1f21;

/********** その他メニュー **********/
#menu_info{
    ons-list{
		>ons-list-header{
			height: 30px;
			line-height: 30px;
			font-weight: normal;
		}
		>ons-list-item{
			padding-left: 1em;
		}
	}
}

/********** 序文 **********/
#preface_page{
    #preface{
    	font-size: 24px;
		line-height: 1em;
		background: lighten(@main-color,20%);
		padding: 15px 20px 10px;
		margin-right: 20px;
		margin-bottom: 30px;
		&:before{
			top:0;
			bottom:0;
			font-weight: bold;
			color: #FFFFFF;
			content: "序文";
			padding: 10px 20px 8px 20px;
			margin-left: -20px;
		}
    }
    #preface-guidline{
    	position: absolute;
		height: 53px;
		top: 8px;
		left: 8px;
		right: 8px;
		border-style: solid;
		border-color: lighten(@main-color,30%);
		border-width: 2px;
    }
    #preface-txt{
    	margin: 0px 10px 5px;
    }
}

/********** 著者一覧 **********/
#author_page{
	#author{
		font-size: 24px;
		line-height: 1em;
		background: lighten(@main-color,20%);
		padding: 15px 20px 10px;
		margin-right: 20px;
		margin-bottom: 30px;
		&:before{
			top:0;
			bottom:0;
			font-weight: bold;
			color: #FFFFFF;
			content: "著者一覧";
			padding: 10px 20px 8px 20px;
			margin-left: -20px;
		}
		>div{
			position: absolute;
			top:25px;
			right:40px;
			font-size: 10pt;
			text-align: right;
		}
	}
	#author-guidline{
		position: absolute;
		height: 53px;
		top: 8px;
		left: 8px;
		right: 8px;
		border-style: solid;
		border-color: lighten(@main-color,30%);
		border-width: 2px;
	}
	.author-title{
		width: 110px;
		padding: 2px 0px;
		margin-bottom: 2px;
		text-align: center;
		font-weight: bold;
		color: lighten(@main-color,8%);
		background: lighten(@main-color,40%);
	}
	table{
		margin-bottom: 20px;
		tr{
			padding: 3px 0px;
		}
		td{
			height: 2em;
			text-align: left;
			vertical-align: middle;
		}
		td:nth-child(-n+1){
			width: 130px;
			padding-left: 1em;
		}
		td:nth-child(2n){
			line-height: 1.2em;
		}
		
	}
	
	table:not([id="author-list"]){
		td:nth-child(-n+1){
			width: 160px;
			font-size: 22px;
			font-weight: bold;
		}
	}
	#author-list{
		td:nth-child(2n){
			font-size: 14px;
		}
	}
}

/********** 掲載ガイドライン一覧 **********/
#guideline_page{
	#guideline{
		font-size: 24px;
		line-height: 1em;
		background: lighten(@main-color,20%);
		padding: 15px 20px 10px;
		margin-right: 20px;
		margin-bottom: 30px;
		&:before{
			top:0;
			bottom:0;
			font-weight: bold;
			color: #FFFFFF;
			content: "掲載ガイドライン一覧";
			padding: 10px 20px 8px 20px;
			margin-left: -20px;
		}
		>div{
			position: absolute;
			top:25px;
			right:40px;
			font-size: 10pt;
			text-align: right;
		}
	}
	#guideline-guidline{
		position: absolute;
		height: 53px;
		top: 8px;
		left: 8px;
		right: 8px;
		border-style: solid;
		border-color: lighten(@main-color,30%);
		border-width: 2px;
	}
	#guideline-list{
    margin-bottom: 1em;
		>div{
			padding: 5px 0px 5px 1.7em;
			line-height: 1.2em;
			border-style: dashed;
			border-color: #CCCCCC;
			border-width: 0px 0px 1px 0px;
			&:before{
				position: absolute;
				content:"\e022";
				display: inline-block;
				font-family: "Glyphicons Halflings";
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				left: 0.5em;
				color: @main-color;
			}
		}
	}
}

/********** 利用規約 **********/
#terms_page{
	color: @font-color;
	#terms{
		font-size: 24px;
		line-height: 1em;
		background: lighten(@main-color,20%);
		padding: 15px 20px 10px;
		margin-right: 20px;
		margin-bottom: 30px;
		&:before{
			top:0;
			bottom:0;
			font-weight: bold;
			color: #FFFFFF;
			content: "利用規約";
			padding: 10px 20px 8px 20px;
			margin-left: -20px;
		}
	}
	#terms-guidline{
		position: absolute;
		height: 53px;
		top: 8px;
		left: 8px;
		right: 8px;
		border-style: solid;
		border-color: lighten(@main-color,30%);
		border-width: 2px;
	}
    #terms-txt{
        padding: 5px;
		margin:0px 5px 10px;
    }
}
/********** 利用規約(同意前) **********/
#termsMSK{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: #FFFFFF;
    text-align : center;
    color: @font-color;
	>div{
        text-align:left;
		padding-top: 30px;
		>#termsMSK-title{
			font-size: 24px;
			line-height: 1em;
			background: lighten(@main-color,20%);
			padding: 15px 20px 10px;
			margin-right: 20px;
			margin-bottom: 20px;
			&:before{
				top:0;
				bottom:0;
				font-weight: bold;
				color: #FFFFFF;
				content: "利用規約";
				padding: 10px 20px 8px 20px;
				margin-left: -20px;
			}
		}
		>#termsMSK-guidline{
			position: absolute;
			height: 53px;
			top: 38px;
			left: 8px;
			right: 8px;
			border-style: solid;
			border-color: lighten(@main-color,30%);
			border-width: 2px;
		}
		>#termsMSK-txt{
			height: calc(~"100vh - 190px");
			padding: 5px;
			margin: 0px 8px;
			overflow: auto; 
			border: 2px solid @hide-color; 
			background-color:#EFF5F6;
			text-align: left;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
		}
        >#termsMSK-form{
            height: 35px;
            line-height: 35px;
            vertical-align:middle;
            >input[type="checkbox"]{
                width:28px;
                height:28px;
                margin-left: 10px;
                background-color: #FFFFFF;
                border-style: solid;
    			border-color: lighten(@main-color,30%);
    			border-width: 2px;
        		-webkit-border-top-left-radius: 15px;
    			-webkit-border-top-right-radius: 15px;
    			-webkit-border-bottom-left-radius: 15px;
    			-webkit-border-bottom-right-radius: 15px;
            }
            >input[type="checkbox"]:checked{
                background-color: lighten(@main-color,30%);
            }
            >label{
                position:absolute;
                bottom: 50px;
                paddinf-left: 5px;
            }
        }
	}
    >#termsBtn{
        width: 40%;
        margin: 5px 0px;
    }
}
/********** 利用規約本文(共通) **********/
#terms_page,
#termsMSK{
	color: @font-color;
	.pledge{
		font-weight: bold;
		&:before{
			content: "◆";
			color: @main-color;
			margin-right: 5px;
		}
	}
	.pledge-txt{
		font-size: 15px;
		margin-left: 1em;
	}
}

/********** 凡例 **********/
#legend_page{
	color: @font-color;
	#legend{
		font-size: 24px;
		line-height: 1em;
		background: lighten(@main-color,20%);
		padding: 15px 20px 10px;
		margin-right: 20px;
		margin-bottom: 30px;
		&:before{
			top:0;
			bottom:0;
			font-weight: bold;
			color: #FFFFFF;
			content: "免責事項";
			padding: 10px 20px 8px 20px;
			margin-left: -20px;
		}
	}
	#legend-guidline{
		position: absolute;
		height: 53px;
		top: 8px;
		left: 8px;
		right: 8px;
		border-style: solid;
		border-color: lighten(@main-color,30%);
		border-width: 2px;
	}
	#legend-txt{
		font-size: 15px;
		margin: 0px 10px;
	}
}

/********** 問い合わせ **********/
#contact_page{
    color: @font-color;
    .contactTitle{
        width: 100%;
        padding: 5px;
        font-weight: bold;
        background-color: #EEEEEE;
    }
    .contactBody{
        margin-top: 5px;
        margin-left: 1em;
        margin-bottom: 1em;
    }
}

/********** 略語一覧 **********/
#abbreviation_page{
  .table_style {
    border-collapse: separate;
    border-spacing: 10px;
    }
   td{
     line-height: 1.2em;
   }
}
  

