/**
 * menu_contents.html
**/
@main-color: #E91E63;
.list-content{
	background: #FFFFFF;
	overflow: auto;
	.list-content-container{
		position: absolute;
		height: 100%;
		width: 100%;
		padding: 8px 8px 8px;
		ol.index-list{
			list-style: none;
			padding: 0;
			counter-reset: ol_li;
			>li{
				position: relative;
				>.midashi{
					margin-bottom: 3px;
					background-color: #FDEAF1;
					padding: 0px 8px 0px 50px;
					box-sizing: content-box;
					height: 44px;
					line-height: 44px;
					color: darken(@main-color,10%);
					font-size: 16px;
					font-weight: bold;
					&:before{
						position: absolute;
						font-weight: normal;
						top: 0px;
						left: 0px;
						width: 44px;
						height: 44px;
						background: darken(@main-color,10%);
						text-align: center;
						line-height: 44px;
						counter-increment: ol_li;
						content: counter(ol_li,upper-roman);
						color: #FFFFFF;
						font-size: 18px
					}
				}
			}
		}
		ol.index-sub-list{
			display: none;
			list-style: none;
			padding: 0;
			counter-reset: ol_li;
			margin-top: 4px;
			>li{
				border-bottom: 1px dotted #CCCCCC;
				>.midashi{
					height: 44px;
					display: table-cell;
					vertical-align: middle;
					color: #333333;
					padding: 4px 4px 4px 32px;
					line-height: 1.2em;
					&:hover{
						text-decoration: none;
					}
				}
				&:before{
					position: absolute;
					left: 0;
					width: 26px;
					text-align: right;
					line-height: 44px;
					counter-increment: ol_li;
					content: counter(ol_li)".";
					color: darken(@main-color,10%);
					font-size: 14px;
					font-family: serif;
				}
			}
		}
	}
}

ons-icon[icon="ion-chevron-up"],
ons-icon[icon="ion-chevron-down"]{
	color: darken(@main-color,10%);
	font-size: 18px;
	width: 1em;
	line-height: 44px;
	float: right;
}

/***** タグメニュー *****/
/**
 * ベースはmenu_contents.less
 * 変更箇所のみ記載
**/
#tag-list{
    >.list-content {
		>.list-content-container {
			ol.index-list {
				display: none;
			}
			ol.index-sub-list{
				display: block;
				>li{
					>.midashi{
                        padding: 4px 4px 4px 16px;
                        margin-bottom: 0px;
						&:hover{
							text-decoration: none;
						}
						>ons-icon{
							position: absolute;
							color: #FFA500;
						}
						>div{
							margin-top:0px;
							margin-left:22px;
							word-wrap:break-all;
						}
					}
					&:before{
						content: "";
					}
				}
			}
		}
	}
}

#nolist{
	display: none;
}